<location>
  <item x="747" y="641"/>
  <item x="544" y="66"/>
  <item x="849" y="322"/>
  <item x="656" y="175"/>
  <item x="548" y="49"/>
  <item x="1037" y="156"/>
  <item x="1101" y="166"/>
  <item x="631" y="367"/>
  <item x="948" y="148"/>
  <item x="746" y="133"/>
  <item x="1145" y="157"/>
  <item x="85" y="727"/>
  <item x="0" y="198"/>
  <item x="286" y="135"/>
  <item x="571" y="70"/>
  <item x="966" y="221"/>
  <item x="487" y="83"/>
  <item x="409" y="66"/>
  <item x="494" y="310"/>
  <item x="892" y="169"/>
  <item x="621" y="389"/>
  <item x="1145" y="0"/>
  <item x="794" y="173"/>
  <item x="357" y="36"/>
  <item x="726" y="236"/>
  <item x="351" y="226"/>
  <item x="105" y="204"/>
  <item x="898" y="112"/>
  <item x="218" y="207"/>
  <item x="743" y="167"/>
  <item x="422" y="411"/>
  <item x="1033" y="118"/>
  <item x="809" y="96"/>
  <item x="656" y="510"/>
  <item x="20" y="238"/>
  <item x="244" y="100"/>
  <item x="0" y="100"/>
  <item x="625" y="249"/>
  <item x="541" y="179"/>
  <item x="512" y="54"/>
  <item x="809" y="658"/>
  <item x="553" y="289"/>
  <item x="97" y="98"/>
  <item x="41" y="610"/>
  <item x="184" y="48"/>
  <item x="641" y="0"/>
  <item x="912" y="10"/>
  <item x="1024" y="262"/>
  <item x="742" y="0"/>
  <item x="264" y="0"/>
</location>