<location>
  <item x="717" y="0"/>
  <item x="642" y="0"/>
  <item x="1124" y="0"/>
  <item x="567" y="0"/>
  <item x="1026" y="434"/>
  <item x="1148" y="151"/>
  <item x="1003" y="260"/>
  <item x="621" y="14"/>
  <item x="759" y="403"/>
  <item x="981" y="700"/>
  <item x="530" y="0"/>
  <item x="470" y="285"/>
  <item x="329" y="0"/>
  <item x="580" y="476"/>
  <item x="192" y="0"/>
  <item x="1036" y="171"/>
  <item x="997" y="430"/>
  <item x="174" y="179"/>
  <item x="139" y="165"/>
  <item x="929" y="461"/>
  <item x="451" y="469"/>
  <item x="251" y="0"/>
  <item x="761" y="474"/>
  <item x="487" y="0"/>
  <item x="203" y="168"/>
  <item x="54" y="0"/>
  <item x="1029" y="316"/>
  <item x="97" y="163"/>
  <item x="494" y="459"/>
  <item x="537" y="431"/>
  <item x="678" y="455"/>
  <item x="854" y="474"/>
  <item x="1103" y="32"/>
  <item x="35" y="125"/>
  <item x="237" y="439"/>
  <item x="238" y="155"/>
  <item x="647" y="286"/>
  <item x="688" y="425"/>
  <item x="778" y="442"/>
  <item x="264" y="554"/>
  <item x="94" y="118"/>
  <item x="0" y="0"/>
  <item x="13" y="37"/>
  <item x="131" y="1"/>
  <item x="378" y="419"/>
  <item x="160" y="434"/>
  <item x="720" y="291"/>
  <item x="405" y="291"/>
  <item x="162" y="102"/>
  <item x="843" y="39"/>
</location>