<location>
  <item x="515" y="193"/>
  <item x="522" y="385"/>
  <item x="1097" y="0"/>
  <item x="34" y="0"/>
  <item x="718" y="229"/>
  <item x="424" y="60"/>
  <item x="534" y="641"/>
  <item x="791" y="357"/>
  <item x="598" y="640"/>
  <item x="610" y="543"/>
  <item x="294" y="92"/>
  <item x="707" y="124"/>
  <item x="586" y="26"/>
  <item x="1131" y="335"/>
  <item x="20" y="386"/>
  <item x="383" y="266"/>
  <item x="426" y="547"/>
  <item x="325" y="371"/>
  <item x="494" y="462"/>
  <item x="1028" y="0"/>
  <item x="380" y="94"/>
  <item x="560" y="175"/>
  <item x="86" y="294"/>
  <item x="634" y="58"/>
  <item x="348" y="35"/>
  <item x="647" y="41"/>
  <item x="985" y="511"/>
  <item x="1149" y="320"/>
  <item x="237" y="74"/>
  <item x="680" y="25"/>
  <item x="202" y="103"/>
  <item x="583" y="467"/>
  <item x="218" y="45"/>
  <item x="487" y="25"/>
  <item x="786" y="390"/>
  <item x="700" y="0"/>
  <item x="374" y="0"/>
  <item x="913" y="589"/>
  <item x="315" y="0"/>
  <item x="916" y="455"/>
  <item x="693" y="0"/>
  <item x="357" y="416"/>
  <item x="762" y="535"/>
  <item x="548" y="265"/>
  <item x="919" y="0"/>
  <item x="498" y="527"/>
  <item x="168" y="353"/>
  <item x="20" y="651"/>
  <item x="244" y="1"/>
  <item x="611" y="0"/>
</location>