<location>
  <item x="446" y="347"/>
  <item x="517" y="210"/>
  <item x="427" y="125"/>
  <item x="167" y="267"/>
  <item x="406" y="269"/>
  <item x="464" y="260"/>
  <item x="951" y="461"/>
  <item x="772" y="133"/>
  <item x="4" y="97"/>
  <item x="464" y="592"/>
  <item x="551" y="103"/>
  <item x="1067" y="107"/>
  <item x="1088" y="470"/>
  <item x="390" y="144"/>
  <item x="118" y="643"/>
  <item x="793" y="681"/>
  <item x="309" y="516"/>
  <item x="102" y="6"/>
  <item x="43" y="7"/>
  <item x="240" y="7"/>
  <item x="763" y="10"/>
  <item x="753" y="77"/>
  <item x="629" y="229"/>
  <item x="763" y="185"/>
  <item x="678" y="179"/>
  <item x="663" y="124"/>
  <item x="1123" y="25"/>
  <item x="974" y="73"/>
  <item x="1048" y="30"/>
  <item x="393" y="57"/>
  <item x="394" y="7"/>
  <item x="579" y="5"/>
  <item x="1074" y="300"/>
  <item x="500" y="7"/>
  <item x="1026" y="206"/>
  <item x="12" y="377"/>
  <item x="654" y="353"/>
  <item x="662" y="540"/>
  <item x="1058" y="106"/>
  <item x="5" y="63"/>
  <item x="477" y="100"/>
  <item x="246" y="76"/>
</location>