<location>
  <item x="390" y="404"/>
  <item x="952" y="260"/>
  <item x="597" y="738"/>
  <item x="727" y="523"/>
  <item x="1035" y="643"/>
  <item x="842" y="385"/>
  <item x="574" y="525"/>
  <item x="860" y="682"/>
  <item x="632" y="0"/>
  <item x="996" y="237"/>
  <item x="52" y="263"/>
  <item x="1132" y="561"/>
  <item x="646" y="462"/>
  <item x="1030" y="171"/>
  <item x="290" y="356"/>
  <item x="975" y="205"/>
  <item x="102" y="0"/>
  <item x="967" y="0"/>
  <item x="841" y="512"/>
  <item x="1078" y="131"/>
  <item x="1024" y="583"/>
  <item x="911" y="0"/>
  <item x="1132" y="416"/>
  <item x="1108" y="74"/>
  <item x="810" y="537"/>
  <item x="220" y="124"/>
  <item x="339" y="597"/>
  <item x="559" y="0"/>
  <item x="533" y="461"/>
  <item x="1070" y="548"/>
  <item x="16" y="460"/>
  <item x="769" y="81"/>
  <item x="851" y="198"/>
  <item x="496" y="174"/>
  <item x="586" y="131"/>
  <item x="151" y="556"/>
  <item x="1038" y="420"/>
  <item x="1117" y="0"/>
  <item x="840" y="138"/>
  <item x="221" y="588"/>
  <item x="569" y="351"/>
  <item x="449" y="679"/>
  <item x="727" y="702"/>
  <item x="35" y="0"/>
  <item x="1127" y="245"/>
  <item x="584" y="370"/>
  <item x="133" y="279"/>
  <item x="894" y="493"/>
  <item x="154" y="662"/>
  <item x="200" y="60"/>
</location>