<location>
  <item x="657" y="84"/>
  <item x="1063" y="360"/>
  <item x="987" y="614"/>
  <item x="987" y="615"/>
  <item x="734" y="666"/>
  <item x="978" y="310"/>
  <item x="1050" y="664"/>
  <item x="827" y="617"/>
  <item x="965" y="692"/>
  <item x="505" y="208"/>
  <item x="719" y="667"/>
  <item x="514" y="618"/>
  <item x="647" y="457"/>
  <item x="562" y="645"/>
  <item x="442" y="524"/>
  <item x="6" y="170"/>
  <item x="257" y="605"/>
  <item x="698" y="229"/>
  <item x="819" y="208"/>
  <item x="425" y="609"/>
  <item x="736" y="617"/>
  <item x="210" y="190"/>
  <item x="404" y="39"/>
  <item x="99" y="62"/>
  <item x="779" y="555"/>
  <item x="263" y="576"/>
  <item x="436" y="393"/>
  <item x="172" y="260"/>
  <item x="354" y="506"/>
  <item x="634" y="394"/>
  <item x="82" y="615"/>
  <item x="189" y="651"/>
  <item x="325" y="227"/>
  <item x="627" y="239"/>
  <item x="389" y="675"/>
  <item x="200" y="494"/>
  <item x="1135" y="79"/>
  <item x="1002" y="423"/>
  <item x="992" y="288"/>
  <item x="785" y="463"/>
  <item x="72" y="359"/>
  <item x="1027" y="563"/>
  <item x="593" y="547"/>
</location>