<location>
  <item x="758" y="299"/>
  <item x="64" y="65"/>
  <item x="373" y="105"/>
  <item x="0" y="118"/>
  <item x="0" y="87"/>
  <item x="895" y="736"/>
  <item x="547" y="737"/>
  <item x="1137" y="747"/>
  <item x="100" y="55"/>
  <item x="846" y="282"/>
  <item x="400" y="74"/>
  <item x="883" y="0"/>
  <item x="164" y="58"/>
  <item x="385" y="240"/>
  <item x="651" y="5"/>
  <item x="771" y="287"/>
  <item x="698" y="285"/>
  <item x="169" y="742"/>
  <item x="807" y="241"/>
  <item x="0" y="239"/>
  <item x="640" y="273"/>
  <item x="10" y="69"/>
  <item x="730" y="253"/>
  <item x="328" y="29"/>
  <item x="842" y="0"/>
  <item x="1056" y="0"/>
  <item x="1029" y="0"/>
  <item x="730" y="27"/>
  <item x="805" y="188"/>
  <item x="483" y="0"/>
  <item x="710" y="204"/>
  <item x="361" y="241"/>
  <item x="541" y="240"/>
  <item x="555" y="164"/>
  <item x="430" y="590"/>
  <item x="754" y="151"/>
  <item x="769" y="742"/>
  <item x="417" y="0"/>
  <item x="0" y="33"/>
  <item x="895" y="455"/>
  <item x="462" y="194"/>
  <item x="587" y="0"/>
  <item x="485" y="169"/>
  <item x="751" y="0"/>
  <item x="320" y="0"/>
  <item x="686" y="121"/>
  <item x="203" y="0"/>
  <item x="897" y="172"/>
  <item x="53" y="0"/>
  <item x="159" y="0"/>
</location>