<location>
  <item x="1125" y="0"/>
  <item x="954" y="101"/>
  <item x="502" y="16"/>
  <item x="413" y="195"/>
  <item x="374" y="55"/>
  <item x="198" y="216"/>
  <item x="297" y="479"/>
  <item x="750" y="432"/>
  <item x="523" y="76"/>
  <item x="608" y="236"/>
  <item x="477" y="0"/>
  <item x="1025" y="113"/>
  <item x="524" y="183"/>
  <item x="639" y="0"/>
  <item x="611" y="617"/>
  <item x="996" y="273"/>
  <item x="1066" y="52"/>
  <item x="87" y="0"/>
  <item x="1021" y="561"/>
  <item x="577" y="484"/>
  <item x="762" y="159"/>
  <item x="827" y="348"/>
  <item x="776" y="122"/>
  <item x="996" y="0"/>
  <item x="74" y="438"/>
  <item x="376" y="0"/>
  <item x="386" y="199"/>
  <item x="252" y="0"/>
  <item x="866" y="95"/>
  <item x="253" y="598"/>
  <item x="88" y="103"/>
  <item x="454" y="152"/>
  <item x="646" y="232"/>
  <item x="960" y="551"/>
  <item x="1094" y="476"/>
  <item x="647" y="94"/>
  <item x="914" y="0"/>
  <item x="451" y="343"/>
  <item x="313" y="210"/>
  <item x="697" y="309"/>
  <item x="667" y="0"/>
  <item x="679" y="187"/>
  <item x="777" y="57"/>
  <item x="822" y="38"/>
  <item x="766" y="0"/>
  <item x="808" y="0"/>
  <item x="1074" y="0"/>
  <item x="223" y="136"/>
  <item x="990" y="88"/>
  <item x="519" y="138"/>
</location>