<location>
  <item x="1001" y="719"/>
  <item x="886" y="461"/>
  <item x="1093" y="642"/>
  <item x="187" y="522"/>
  <item x="661" y="228"/>
  <item x="0" y="44"/>
  <item x="595" y="702"/>
  <item x="951" y="472"/>
  <item x="786" y="73"/>
  <item x="257" y="503"/>
  <item x="268" y="552"/>
  <item x="915" y="85"/>
  <item x="1025" y="0"/>
  <item x="984" y="0"/>
  <item x="881" y="264"/>
  <item x="860" y="0"/>
  <item x="1121" y="33"/>
  <item x="369" y="189"/>
  <item x="428" y="666"/>
  <item x="173" y="18"/>
  <item x="584" y="88"/>
  <item x="516" y="563"/>
  <item x="1154" y="211"/>
  <item x="1145" y="440"/>
  <item x="926" y="0"/>
  <item x="1104" y="0"/>
  <item x="515" y="76"/>
  <item x="381" y="502"/>
  <item x="347" y="191"/>
  <item x="321" y="181"/>
  <item x="469" y="156"/>
  <item x="716" y="58"/>
  <item x="445" y="505"/>
  <item x="354" y="140"/>
  <item x="576" y="218"/>
  <item x="44" y="127"/>
  <item x="853" y="348"/>
  <item x="8" y="0"/>
  <item x="680" y="487"/>
  <item x="116" y="156"/>
  <item x="285" y="109"/>
  <item x="628" y="454"/>
  <item x="412" y="137"/>
  <item x="99" y="5"/>
  <item x="362" y="66"/>
  <item x="501" y="75"/>
  <item x="854" y="589"/>
  <item x="268" y="79"/>
  <item x="179" y="168"/>
  <item x="732" y="376"/>
</location>