<location>
  <item x="136" y="15"/>
  <item x="75" y="15"/>
  <item x="176" y="552"/>
  <item x="117" y="0"/>
  <item x="465" y="704"/>
  <item x="431" y="36"/>
  <item x="0" y="187"/>
  <item x="309" y="59"/>
  <item x="484" y="296"/>
  <item x="996" y="667"/>
  <item x="611" y="443"/>
  <item x="0" y="10"/>
  <item x="0" y="487"/>
  <item x="346" y="46"/>
  <item x="527" y="74"/>
  <item x="1101" y="8"/>
  <item x="980" y="222"/>
  <item x="635" y="553"/>
  <item x="1027" y="521"/>
  <item x="1016" y="384"/>
  <item x="798" y="593"/>
  <item x="0" y="0"/>
  <item x="294" y="237"/>
  <item x="1138" y="74"/>
  <item x="1101" y="473"/>
  <item x="261" y="67"/>
  <item x="32" y="714"/>
  <item x="214" y="0"/>
  <item x="404" y="564"/>
  <item x="294" y="0"/>
  <item x="372" y="0"/>
  <item x="1121" y="605"/>
  <item x="105" y="609"/>
  <item x="325" y="46"/>
  <item x="1039" y="345"/>
  <item x="324" y="491"/>
  <item x="585" y="88"/>
  <item x="974" y="49"/>
  <item x="590" y="345"/>
  <item x="754" y="682"/>
  <item x="447" y="645"/>
  <item x="626" y="69"/>
  <item x="959" y="421"/>
  <item x="704" y="407"/>
  <item x="1050" y="42"/>
  <item x="511" y="27"/>
  <item x="884" y="21"/>
  <item x="1131" y="162"/>
  <item x="421" y="0"/>
  <item x="741" y="4"/>
</location>