<location>
  <item x="499" y="115"/>
  <item x="1131" y="359"/>
  <item x="591" y="623"/>
  <item x="743" y="497"/>
  <item x="629" y="0"/>
  <item x="947" y="608"/>
  <item x="341" y="169"/>
  <item x="380" y="130"/>
  <item x="641" y="490"/>
  <item x="326" y="172"/>
  <item x="532" y="502"/>
  <item x="480" y="620"/>
  <item x="879" y="762"/>
  <item x="499" y="0"/>
  <item x="1117" y="547"/>
  <item x="902" y="0"/>
  <item x="817" y="102"/>
  <item x="1074" y="0"/>
  <item x="922" y="596"/>
  <item x="471" y="15"/>
  <item x="947" y="0"/>
  <item x="422" y="0"/>
  <item x="845" y="0"/>
  <item x="341" y="627"/>
  <item x="225" y="59"/>
  <item x="281" y="21"/>
  <item x="350" y="485"/>
  <item x="936" y="395"/>
  <item x="0" y="0"/>
  <item x="871" y="485"/>
  <item x="1049" y="479"/>
  <item x="1125" y="0"/>
  <item x="323" y="0"/>
  <item x="293" y="197"/>
  <item x="158" y="525"/>
  <item x="357" y="420"/>
  <item x="79" y="0"/>
  <item x="150" y="8"/>
  <item x="199" y="0"/>
  <item x="133" y="0"/>
  <item x="707" y="88"/>
  <item x="1094" y="260"/>
  <item x="649" y="149"/>
  <item x="1034" y="0"/>
  <item x="530" y="403"/>
  <item x="454" y="116"/>
  <item x="0" y="150"/>
  <item x="31" y="354"/>
  <item x="570" y="0"/>
  <item x="639" y="673"/>
</location>