<location>
  <item x="78" y="312"/>
  <item x="482" y="584"/>
  <item x="544" y="80"/>
  <item x="1095" y="166"/>
  <item x="848" y="477"/>
  <item x="0" y="203"/>
  <item x="331" y="670"/>
  <item x="1055" y="705"/>
  <item x="374" y="225"/>
  <item x="705" y="540"/>
  <item x="997" y="636"/>
  <item x="440" y="13"/>
  <item x="907" y="519"/>
  <item x="255" y="411"/>
  <item x="10" y="512"/>
  <item x="925" y="447"/>
  <item x="969" y="503"/>
  <item x="183" y="366"/>
  <item x="1068" y="0"/>
  <item x="1023" y="0"/>
  <item x="740" y="737"/>
  <item x="639" y="0"/>
  <item x="0" y="0"/>
  <item x="929" y="0"/>
  <item x="55" y="0"/>
  <item x="361" y="578"/>
  <item x="339" y="0"/>
  <item x="246" y="253"/>
  <item x="495" y="472"/>
  <item x="194" y="0"/>
  <item x="994" y="254"/>
  <item x="399" y="387"/>
  <item x="661" y="146"/>
  <item x="0" y="378"/>
  <item x="1065" y="327"/>
  <item x="78" y="660"/>
  <item x="1065" y="387"/>
  <item x="118" y="151"/>
  <item x="386" y="0"/>
  <item x="708" y="0"/>
  <item x="587" y="545"/>
  <item x="636" y="552"/>
  <item x="95" y="465"/>
  <item x="1102" y="484"/>
  <item x="540" y="0"/>
  <item x="489" y="296"/>
  <item x="463" y="144"/>
  <item x="1021" y="465"/>
  <item x="503" y="619"/>
  <item x="793" y="204"/>
</location>