<location>
  <item x="349" y="0"/>
  <item x="899" y="300"/>
  <item x="207" y="206"/>
  <item x="963" y="276"/>
  <item x="1040" y="278"/>
  <item x="200" y="194"/>
  <item x="260" y="204"/>
  <item x="471" y="125"/>
  <item x="95" y="148"/>
  <item x="528" y="300"/>
  <item x="644" y="310"/>
  <item x="443" y="0"/>
  <item x="818" y="276"/>
  <item x="625" y="31"/>
  <item x="660" y="1"/>
  <item x="634" y="53"/>
  <item x="140" y="130"/>
  <item x="1030" y="552"/>
  <item x="263" y="0"/>
  <item x="183" y="707"/>
  <item x="634" y="598"/>
  <item x="0" y="183"/>
  <item x="27" y="142"/>
  <item x="511" y="0"/>
  <item x="0" y="0"/>
  <item x="454" y="250"/>
  <item x="339" y="222"/>
  <item x="987" y="0"/>
  <item x="537" y="751"/>
  <item x="1017" y="754"/>
  <item x="0" y="67"/>
  <item x="1109" y="279"/>
  <item x="56" y="61"/>
  <item x="746" y="300"/>
  <item x="752" y="0"/>
  <item x="198" y="511"/>
  <item x="379" y="192"/>
  <item x="197" y="0"/>
  <item x="188" y="106"/>
  <item x="800" y="0"/>
  <item x="605" y="0"/>
  <item x="289" y="129"/>
  <item x="1148" y="268"/>
  <item x="1090" y="0"/>
  <item x="587" y="247"/>
  <item x="83" y="0"/>
  <item x="940" y="0"/>
  <item x="354" y="68"/>
  <item x="1052" y="0"/>
  <item x="196" y="80"/>
</location>