<location>
  <item x="874" y="427"/>
  <item x="826" y="405"/>
  <item x="0" y="111"/>
  <item x="625" y="592"/>
  <item x="1075" y="324"/>
  <item x="499" y="331"/>
  <item x="203" y="570"/>
  <item x="428" y="580"/>
  <item x="44" y="755"/>
  <item x="565" y="569"/>
  <item x="1127" y="832"/>
  <item x="1036" y="300"/>
  <item x="1075" y="296"/>
  <item x="1025" y="49"/>
  <item x="426" y="297"/>
  <item x="380" y="279"/>
  <item x="350" y="261"/>
  <item x="860" y="387"/>
  <item x="1012" y="733"/>
  <item x="990" y="0"/>
  <item x="604" y="337"/>
  <item x="789" y="593"/>
  <item x="897" y="0"/>
  <item x="688" y="356"/>
  <item x="1030" y="378"/>
  <item x="998" y="118"/>
  <item x="639" y="325"/>
  <item x="567" y="303"/>
  <item x="844" y="0"/>
  <item x="322" y="176"/>
  <item x="257" y="150"/>
  <item x="205" y="120"/>
  <item x="496" y="272"/>
  <item x="148" y="84"/>
  <item x="450" y="232"/>
  <item x="970" y="374"/>
  <item x="927" y="380"/>
  <item x="782" y="360"/>
  <item x="968" y="146"/>
  <item x="806" y="334"/>
  <item x="715" y="311"/>
  <item x="210" y="336"/>
  <item x="42" y="77"/>
  <item x="1109" y="31"/>
  <item x="761" y="0"/>
  <item x="850" y="262"/>
  <item x="737" y="246"/>
  <item x="688" y="278"/>
  <item x="419" y="142"/>
  <item x="836" y="163"/>
</location>