<location>
  <item x="0" y="118"/>
  <item x="538" y="547"/>
  <item x="1100" y="139"/>
  <item x="59" y="123"/>
  <item x="81" y="123"/>
  <item x="21" y="98"/>
  <item x="799" y="293"/>
  <item x="224" y="90"/>
  <item x="263" y="77"/>
  <item x="969" y="61"/>
  <item x="517" y="43"/>
  <item x="856" y="71"/>
  <item x="130" y="67"/>
  <item x="365" y="56"/>
  <item x="594" y="12"/>
  <item x="730" y="7"/>
  <item x="428" y="55"/>
  <item x="787" y="0"/>
  <item x="1093" y="0"/>
  <item x="970" y="0"/>
  <item x="456" y="22"/>
  <item x="638" y="207"/>
  <item x="0" y="46"/>
  <item x="578" y="22"/>
  <item x="849" y="0"/>
  <item x="263" y="59"/>
  <item x="75" y="68"/>
  <item x="941" y="255"/>
  <item x="1046" y="0"/>
  <item x="700" y="0"/>
  <item x="315" y="36"/>
  <item x="381" y="0"/>
  <item x="710" y="249"/>
  <item x="185" y="26"/>
  <item x="115" y="409"/>
  <item x="87" y="48"/>
  <item x="697" y="534"/>
  <item x="270" y="26"/>
  <item x="536" y="11"/>
  <item x="2" y="0"/>
  <item x="127" y="12"/>
  <item x="138" y="444"/>
  <item x="554" y="0"/>
  <item x="817" y="258"/>
  <item x="304" y="0"/>
  <item x="1019" y="203"/>
  <item x="5" y="392"/>
  <item x="68" y="0"/>
  <item x="201" y="254"/>
</location>