<location>
  <item x="38" y="0"/>
  <item x="541" y="502"/>
  <item x="788" y="324"/>
  <item x="283" y="228"/>
  <item x="184" y="0"/>
  <item x="261" y="0"/>
  <item x="305" y="273"/>
  <item x="609" y="404"/>
  <item x="315" y="21"/>
  <item x="539" y="358"/>
  <item x="449" y="286"/>
  <item x="671" y="558"/>
  <item x="446" y="540"/>
  <item x="434" y="607"/>
  <item x="1043" y="226"/>
  <item x="1090" y="226"/>
  <item x="886" y="311"/>
  <item x="1115" y="78"/>
  <item x="998" y="540"/>
  <item x="825" y="243"/>
  <item x="620" y="350"/>
  <item x="336" y="0"/>
  <item x="428" y="3"/>
  <item x="28" y="59"/>
  <item x="402" y="105"/>
  <item x="252" y="277"/>
  <item x="924" y="194"/>
  <item x="110" y="135"/>
  <item x="444" y="59"/>
  <item x="567" y="323"/>
  <item x="729" y="221"/>
  <item x="527" y="271"/>
  <item x="410" y="161"/>
  <item x="450" y="367"/>
  <item x="812" y="310"/>
  <item x="644" y="259"/>
  <item x="487" y="178"/>
  <item x="761" y="617"/>
  <item x="457" y="486"/>
  <item x="956" y="0"/>
  <item x="1048" y="386"/>
  <item x="971" y="157"/>
  <item x="614" y="579"/>
  <item x="804" y="0"/>
  <item x="421" y="444"/>
  <item x="839" y="138"/>
  <item x="1019" y="0"/>
  <item x="816" y="648"/>
  <item x="1144" y="623"/>
  <item x="494" y="0"/>
</location>