<location>
  <item x="1056" y="150"/>
  <item x="801" y="83"/>
  <item x="1056" y="83"/>
  <item x="1132" y="654"/>
  <item x="1132" y="499"/>
  <item x="738" y="142"/>
  <item x="1044" y="0"/>
  <item x="1013" y="313"/>
  <item x="530" y="122"/>
  <item x="464" y="90"/>
  <item x="1061" y="654"/>
  <item x="888" y="80"/>
  <item x="0" y="744"/>
  <item x="576" y="70"/>
  <item x="222" y="154"/>
  <item x="802" y="48"/>
  <item x="954" y="77"/>
  <item x="652" y="713"/>
  <item x="1106" y="0"/>
  <item x="384" y="202"/>
  <item x="0" y="0"/>
  <item x="945" y="62"/>
  <item x="608.5" y="604"/>
  <item x="431" y="202"/>
  <item x="42" y="247"/>
  <item x="607" y="80"/>
  <item x="658" y="62"/>
  <item x="910" y="62"/>
  <item x="663" y="0"/>
  <item x="925" y="326"/>
  <item x="1109" y="709"/>
  <item x="443" y="0"/>
  <item x="1142" y="404"/>
  <item x="684" y="314"/>
  <item x="278" y="83"/>
  <item x="805" y="322"/>
  <item x="405" y="0"/>
  <item x="554" y="0"/>
  <item x="956" y="0"/>
  <item x="142" y="13"/>
  <item x="350" y="198"/>
  <item x="95" y="558"/>
  <item x="945" y="326"/>
  <item x="1127" y="66"/>
  <item x="325" y="0"/>
  <item x="1070" y="0"/>
  <item x="537" y="142"/>
  <item x="1141" y="121"/>
  <item x="0" y="301"/>
  <item x="756.5" y="62"/>
</location>