<location>
  <item x="1030" y="162"/>
  <item x="634" y="228"/>
  <item x="142" y="449"/>
  <item x="673" y="225"/>
  <item x="407" y="183"/>
  <item x="558" y="371"/>
  <item x="1081" y="145"/>
  <item x="529" y="692"/>
  <item x="0" y="28"/>
  <item x="558" y="235"/>
  <item x="477" y="219"/>
  <item x="893" y="112"/>
  <item x="703" y="158"/>
  <item x="506" y="517"/>
  <item x="422" y="11"/>
  <item x="407" y="0"/>
  <item x="1147" y="71"/>
  <item x="272" y="155"/>
  <item x="798" y="76"/>
  <item x="505" y="341"/>
  <item x="0" y="12"/>
  <item x="431" y="330"/>
  <item x="736" y="276"/>
  <item x="760" y="289"/>
  <item x="1069" y="617"/>
  <item x="78" y="0"/>
  <item x="652" y="711"/>
  <item x="147" y="0"/>
  <item x="956" y="89"/>
  <item x="689" y="508"/>
  <item x="334" y="0"/>
  <item x="489" y="10"/>
  <item x="163" y="118"/>
  <item x="549" y="0"/>
  <item x="1012" y="25"/>
  <item x="585" y="111"/>
  <item x="690" y="76"/>
  <item x="297" y="694"/>
  <item x="406" y="0"/>
  <item x="493" y="205"/>
  <item x="1077" y="23"/>
  <item x="796" y="41"/>
  <item x="898" y="38"/>
  <item x="55" y="628"/>
  <item x="166" y="251"/>
  <item x="571" y="79"/>
  <item x="490" y="157"/>
  <item x="1020" y="18"/>
  <item x="804" y="25"/>
  <item x="372" y="538"/>
</location>