<location>
  <item x="769" y="549"/>
  <item x="532" y="583"/>
  <item x="1027" y="358"/>
  <item x="92" y="119"/>
  <item x="864" y="225"/>
  <item x="444" y="335"/>
  <item x="809" y="0"/>
  <item x="883" y="119"/>
  <item x="513" y="641"/>
  <item x="391" y="459"/>
  <item x="491" y="216"/>
  <item x="597" y="370"/>
  <item x="357" y="295"/>
  <item x="608" y="114"/>
  <item x="324" y="379"/>
  <item x="501" y="157"/>
  <item x="608" y="347"/>
  <item x="0" y="701"/>
  <item x="1027" y="666"/>
  <item x="0" y="463"/>
  <item x="269" y="0"/>
  <item x="136" y="268"/>
  <item x="810" y="149"/>
  <item x="864" y="676"/>
  <item x="856" y="587"/>
  <item x="858" y="397"/>
  <item x="431" y="539"/>
  <item x="154" y="266"/>
  <item x="956" y="0"/>
  <item x="684" y="462"/>
  <item x="570" y="166"/>
  <item x="1091" y="321"/>
  <item x="220" y="535"/>
  <item x="574" y="24"/>
  <item x="694" y="718"/>
  <item x="353" y="259"/>
  <item x="468" y="434"/>
  <item x="940" y="512"/>
  <item x="1031" y="467"/>
  <item x="688" y="91"/>
  <item x="4" y="234"/>
  <item x="0" y="70"/>
  <item x="964" y="266"/>
  <item x="1121" y="471"/>
  <item x="1076" y="607"/>
  <item x="1093" y="0"/>
  <item x="220" y="158"/>
  <item x="88" y="0"/>
  <item x="669" y="175"/>
  <item x="196" y="125"/>
</location>