<location>
  <item x="54" y="0"/>
  <item x="530" y="121"/>
  <item x="409" y="458"/>
  <item x="922" y="251"/>
  <item x="449" y="573"/>
  <item x="180" y="164"/>
  <item x="33" y="260"/>
  <item x="1104" y="573"/>
  <item x="571" y="13"/>
  <item x="513" y="632"/>
  <item x="115" y="472"/>
  <item x="1053" y="164"/>
  <item x="1041" y="502"/>
  <item x="567" y="269"/>
  <item x="294" y="2"/>
  <item x="26" y="588"/>
  <item x="707" y="309"/>
  <item x="831" y="9"/>
  <item x="384" y="414"/>
  <item x="485" y="26"/>
  <item x="534" y="269"/>
  <item x="400" y="216"/>
  <item x="298" y="164"/>
  <item x="218" y="608"/>
  <item x="503" y="424"/>
  <item x="115" y="370"/>
  <item x="866" y="2"/>
  <item x="31" y="499"/>
  <item x="651" y="309"/>
  <item x="703" y="604"/>
  <item x="1107" y="162"/>
  <item x="425" y="696"/>
  <item x="781" y="700"/>
  <item x="788" y="378"/>
  <item x="821" y="159"/>
  <item x="989" y="0"/>
  <item x="740" y="266"/>
  <item x="0" y="150"/>
  <item x="131" y="570"/>
  <item x="388" y="302"/>
  <item x="612" y="68"/>
  <item x="753" y="461"/>
  <item x="616" y="657"/>
  <item x="297" y="474"/>
  <item x="685" y="497"/>
  <item x="604" y="444"/>
  <item x="748" y="599"/>
  <item x="869" y="734"/>
  <item x="1002" y="630"/>
  <item x="883" y="256"/>
</location>