<location>
  <item x="199" y="29"/>
  <item x="123" y="196"/>
  <item x="621" y="488"/>
  <item x="795" y="25"/>
  <item x="655" y="8"/>
  <item x="1002" y="334"/>
  <item x="1033" y="308"/>
  <item x="241" y="238"/>
  <item x="1142" y="0"/>
  <item x="1081" y="348"/>
  <item x="975" y="167"/>
  <item x="1014" y="0"/>
  <item x="563" y="329"/>
  <item x="841" y="0"/>
  <item x="140" y="0"/>
  <item x="906" y="328"/>
  <item x="708" y="355"/>
  <item x="332" y="488"/>
  <item x="479" y="306"/>
  <item x="538" y="284"/>
  <item x="818" y="331"/>
  <item x="56" y="115"/>
  <item x="428" y="299"/>
  <item x="297" y="550"/>
  <item x="98" y="363"/>
  <item x="1056" y="451"/>
  <item x="690" y="351"/>
  <item x="318" y="145"/>
  <item x="1116" y="267"/>
  <item x="410" y="498"/>
  <item x="825" y="535"/>
  <item x="1061" y="9"/>
  <item x="354" y="241"/>
  <item x="399" y="167"/>
  <item x="839" y="167"/>
  <item x="563" y="381"/>
  <item x="1153" y="118"/>
  <item x="666" y="77"/>
  <item x="1116" y="319"/>
  <item x="308" y="68"/>
  <item x="446" y="244"/>
  <item x="161" y="298"/>
  <item x="1155" y="318"/>
  <item x="963" y="343"/>
  <item x="599" y="280"/>
  <item x="854" y="201"/>
  <item x="305" y="34"/>
  <item x="1122" y="517"/>
  <item x="139" y="697"/>
  <item x="708" y="135"/>
</location>