<location>
  <item x="996" y="639"/>
  <item x="1070" y="359"/>
  <item x="1096" y="0"/>
  <item x="577" y="223"/>
  <item x="933" y="105"/>
  <item x="663" y="322"/>
  <item x="1116" y="245"/>
  <item x="771" y="183"/>
  <item x="370" y="610"/>
  <item x="326" y="675"/>
  <item x="999" y="84"/>
  <item x="1099" y="94"/>
  <item x="492" y="201"/>
  <item x="661" y="169"/>
  <item x="398" y="0"/>
  <item x="942" y="100"/>
  <item x="234" y="557"/>
  <item x="1014" y="1"/>
  <item x="623" y="322"/>
  <item x="576" y="307.5"/>
  <item x="773" y="155"/>
  <item x="1116" y="356.5"/>
  <item x="0" y="0"/>
  <item x="35" y="273"/>
  <item x="249" y="94"/>
  <item x="90" y="296"/>
  <item x="1144" y="45"/>
  <item x="567" y="165"/>
  <item x="1155" y="357"/>
  <item x="408" y="88"/>
  <item x="877" y="393"/>
  <item x="1024" y="35"/>
  <item x="928" y="10"/>
  <item x="850" y="37"/>
  <item x="874" y="537"/>
  <item x="1009" y="365"/>
  <item x="808" y="0"/>
  <item x="106" y="702"/>
  <item x="179" y="53"/>
  <item x="698" y="0"/>
  <item x="879" y="143"/>
  <item x="724" y="535"/>
  <item x="574" y="0"/>
  <item x="0" y="134"/>
  <item x="475" y="45"/>
  <item x="714" y="146"/>
  <item x="912" y="163"/>
  <item x="216" y="306"/>
  <item x="760" y="593"/>
  <item x="847" y="80"/>
</location>