<location>
  <item x="664" y="413"/>
  <item x="890" y="161"/>
  <item x="731" y="416"/>
  <item x="1104" y="733"/>
  <item x="13" y="185"/>
  <item x="176" y="226"/>
  <item x="654" y="712"/>
  <item x="211" y="0"/>
  <item x="542" y="150"/>
  <item x="495" y="141"/>
  <item x="1047" y="35"/>
  <item x="617" y="129"/>
  <item x="376" y="132"/>
  <item x="718" y="147"/>
  <item x="916" y="0"/>
  <item x="866" y="0"/>
  <item x="35" y="12"/>
  <item x="1097" y="0"/>
  <item x="0" y="0"/>
  <item x="455" y="120"/>
  <item x="803" y="395"/>
  <item x="1097" y="312"/>
  <item x="780" y="143"/>
  <item x="453" y="738"/>
  <item x="245" y="520"/>
  <item x="577" y="419"/>
  <item x="751" y="735"/>
  <item x="122" y="405"/>
  <item x="971" y="251"/>
  <item x="792" y="0"/>
  <item x="860" y="641"/>
  <item x="823" y="117"/>
  <item x="418" y="434"/>
  <item x="587" y="433"/>
  <item x="317" y="133"/>
  <item x="714" y="617"/>
  <item x="193" y="410"/>
  <item x="333" y="724"/>
  <item x="173" y="81"/>
  <item x="385" y="139"/>
  <item x="326" y="412"/>
  <item x="581" y="102"/>
  <item x="106" y="0"/>
  <item x="1002" y="0"/>
  <item x="628" y="65"/>
  <item x="0" y="162"/>
  <item x="961" y="177"/>
  <item x="520" y="416"/>
  <item x="730" y="107"/>
  <item x="446" y="0"/>
</location>