<location>
  <item x="197" y="606"/>
  <item x="206" y="301"/>
  <item x="811" y="722"/>
  <item x="652" y="18"/>
  <item x="418" y="558"/>
  <item x="251" y="253"/>
  <item x="387" y="15"/>
  <item x="234" y="467"/>
  <item x="307" y="198"/>
  <item x="53" y="48"/>
  <item x="488" y="306"/>
  <item x="971" y="518"/>
  <item x="4" y="170"/>
  <item x="93" y="211"/>
  <item x="166" y="109"/>
  <item x="149" y="193"/>
  <item x="501" y="286"/>
  <item x="273" y="110"/>
  <item x="550" y="316"/>
  <item x="801" y="361"/>
  <item x="176" y="410"/>
  <item x="24" y="100"/>
  <item x="15" y="654"/>
  <item x="762" y="237"/>
  <item x="16" y="526"/>
  <item x="65" y="551"/>
  <item x="733" y="614"/>
  <item x="653" y="687"/>
  <item x="708" y="528"/>
  <item x="11" y="358"/>
  <item x="564" y="362"/>
  <item x="558" y="478"/>
  <item x="845" y="600"/>
  <item x="448" y="70"/>
  <item x="802" y="195"/>
  <item x="920" y="96"/>
  <item x="126" y="474"/>
  <item x="547" y="89"/>
  <item x="804" y="230"/>
  <item x="21" y="125"/>
  <item x="837" y="24"/>
  <item x="776" y="117"/>
  <item x="249" y="9"/>
</location>