<location>
  <item x="767" y="362"/>
  <item x="920" y="0"/>
  <item x="989" y="46"/>
  <item x="751" y="50"/>
  <item x="1102" y="0"/>
  <item x="792" y="0"/>
  <item x="23" y="57"/>
  <item x="694" y="31"/>
  <item x="674" y="18"/>
  <item x="918" y="52"/>
  <item x="885.5" y="-18"/>
  <item x="273" y="143"/>
  <item x="424" y="504"/>
  <item x="101" y="0"/>
  <item x="804" y="68"/>
  <item x="664" y="33"/>
  <item x="708.5" y="-10"/>
  <item x="407" y="124"/>
  <item x="856" y="363"/>
  <item x="0" y="320"/>
  <item x="540" y="78"/>
  <item x="1041" y="77"/>
  <item x="615" y="64"/>
  <item x="0" y="107"/>
  <item x="1053.5" y="0"/>
  <item x="221" y="164"/>
  <item x="751" y="158"/>
  <item x="548" y="102"/>
  <item x="0" y="221"/>
  <item x="157" y="0"/>
  <item x="138" y="340"/>
  <item x="292" y="0"/>
  <item x="1021" y="183"/>
  <item x="117" y="103"/>
  <item x="0" y="44"/>
  <item x="568" y="517"/>
  <item x="622" y="0"/>
  <item x="30" y="553"/>
  <item x="911" y="364"/>
  <item x="979" y="363"/>
  <item x="856" y="225"/>
  <item x="1041" y="361"/>
  <item x="99" y="100"/>
  <item x="371" y="49"/>
  <item x="783" y="449"/>
  <item x="211" y="98"/>
  <item x="940" y="289"/>
  <item x="414" y="0"/>
  <item x="384" y="462"/>
  <item x="320" y="78"/>
</location>