<location>
  <item x="967" y="195"/>
  <item x="1049" y="13"/>
  <item x="0" y="135"/>
  <item x="955" y="232"/>
  <item x="38" y="57"/>
  <item x="474" y="8"/>
  <item x="355" y="195"/>
  <item x="127" y="180"/>
  <item x="613" y="317"/>
  <item x="244" y="422"/>
  <item x="710" y="181"/>
  <item x="39" y="15"/>
  <item x="236" y="128"/>
  <item x="720" y="77"/>
  <item x="345" y="105"/>
  <item x="514" y="413"/>
  <item x="878" y="239"/>
  <item x="1003" y="437"/>
  <item x="110" y="89"/>
  <item x="268" y="10"/>
  <item x="146" y="419"/>
  <item x="149" y="17"/>
  <item x="786" y="416"/>
  <item x="306" y="439"/>
  <item x="454" y="410"/>
  <item x="593" y="164"/>
  <item x="396" y="66"/>
  <item x="428" y="190"/>
  <item x="55" y="413"/>
  <item x="877" y="66"/>
  <item x="630" y="549"/>
  <item x="479" y="120"/>
  <item x="95" y="296"/>
  <item x="572" y="661"/>
  <item x="211" y="203"/>
  <item x="11" y="97"/>
  <item x="497" y="211"/>
  <item x="800" y="272"/>
  <item x="379" y="12"/>
  <item x="178" y="82"/>
  <item x="584" y="81"/>
  <item x="790" y="9"/>
  <item x="7" y="236"/>
  <item x="355" y="163"/>
  <item x="913" y="428"/>
  <item x="774" y="40"/>
  <item x="676" y="8"/>
</location>