<location>
  <item x="589" y="237"/>
  <item x="706" y="641"/>
  <item x="1133" y="25"/>
  <item x="491" y="0"/>
  <item x="971" y="0"/>
  <item x="822" y="0"/>
  <item x="928" y="59"/>
  <item x="769" y="25"/>
  <item x="7" y="0"/>
  <item x="618" y="0"/>
  <item x="710" y="0"/>
  <item x="42" y="207"/>
  <item x="250" y="85"/>
  <item x="689" y="129"/>
  <item x="591" y="31"/>
  <item x="517" y="52"/>
  <item x="281" y="38"/>
  <item x="226" y="257"/>
  <item x="139" y="221"/>
  <item x="633" y="50"/>
  <item x="772" y="75"/>
  <item x="439" y="114"/>
  <item x="731" y="101"/>
  <item x="1073" y="8"/>
  <item x="552" y="237"/>
  <item x="531" y="474"/>
  <item x="26" y="224"/>
  <item x="754" y="107"/>
  <item x="921" y="0"/>
  <item x="936" y="506"/>
  <item x="753" y="0"/>
  <item x="873" y="28"/>
  <item x="971" y="295"/>
  <item x="653" y="249"/>
  <item x="819" y="266"/>
  <item x="362" y="0"/>
  <item x="124" y="0"/>
  <item x="250" y="0"/>
  <item x="811" y="439"/>
  <item x="618" y="152"/>
  <item x="179.05" y="610"/>
  <item x="174" y="237"/>
  <item x="465" y="53"/>
  <item x="743" y="236"/>
  <item x="459" y="283"/>
  <item x="697" y="152"/>
  <item x="411" y="306"/>
  <item x="527" y="673"/>
  <item x="632" y="506"/>
  <item x="328" y="215"/>
</location>