<location>
  <item x="346" y="9"/>
  <item x="400" y="0"/>
  <item x="645" y="8"/>
  <item x="968" y="94"/>
  <item x="165" y="0"/>
  <item x="522" y="567"/>
  <item x="733" y="0"/>
  <item x="752" y="203"/>
  <item x="400" y="33"/>
  <item x="1094" y="280"/>
  <item x="73" y="657"/>
  <item x="564" y="0"/>
  <item x="0" y="3"/>
  <item x="504" y="169"/>
  <item x="265" y="537"/>
  <item x="287" y="-12"/>
  <item x="3" y="93"/>
  <item x="1139" y="339"/>
  <item x="1123" y="451"/>
  <item x="919" y="493"/>
  <item x="307" y="474"/>
  <item x="344" y="533"/>
  <item x="1031" y="525"/>
  <item x="729" y="284"/>
  <item x="768" y="43"/>
  <item x="924" y="0"/>
  <item x="202" y="610"/>
  <item x="540" y="373"/>
  <item x="4" y="402"/>
  <item x="1111" y="8"/>
  <item x="830" y="454"/>
  <item x="1065" y="0"/>
  <item x="943" y="640"/>
  <item x="721" y="280"/>
  <item x="667" y="474"/>
  <item x="320" y="75"/>
  <item x="316" y="546"/>
  <item x="1044" y="546"/>
  <item x="0" y="385"/>
  <item x="215" y="13"/>
  <item x="706" y="38"/>
  <item x="433" y="251"/>
  <item x="507" y="234"/>
  <item x="554" y="695"/>
  <item x="448" y="26"/>
  <item x="605" y="633"/>
  <item x="743" y="549"/>
  <item x="149" y="364"/>
  <item x="879" y="134"/>
  <item x="1113" y="30"/>
</location>