<location>
  <item x="1117" y="91"/>
  <item x="694" y="251"/>
  <item x="542" y="431"/>
  <item x="509" y="259"/>
  <item x="622" y="239"/>
  <item x="469" y="181"/>
  <item x="321" y="191"/>
  <item x="252" y="180"/>
  <item x="1035" y="569"/>
  <item x="8" y="45"/>
  <item x="136" y="17"/>
  <item x="1095" y="12"/>
  <item x="1055" y="305"/>
  <item x="285" y="132"/>
  <item x="285" y="42"/>
  <item x="908" y="51"/>
  <item x="930" y="269"/>
  <item x="397" y="205"/>
  <item x="387" y="191"/>
  <item x="324" y="195"/>
  <item x="684" y="199"/>
  <item x="569" y="165"/>
  <item x="15" y="7"/>
  <item x="297" y="177"/>
  <item x="480" y="92"/>
  <item x="674" y="134"/>
  <item x="803" y="95"/>
  <item x="620" y="28"/>
  <item x="854" y="288"/>
  <item x="607" y="92"/>
  <item x="906" y="254"/>
  <item x="799" y="413"/>
  <item x="1035" y="106"/>
  <item x="992" y="25"/>
  <item x="783" y="28"/>
  <item x="209" y="347"/>
  <item x="698" y="3"/>
  <item x="918" y="3"/>
  <item x="209" y="160"/>
  <item x="974" y="712"/>
  <item x="532" y="8"/>
  <item x="493" y="26"/>
  <item x="52" y="653"/>
  <item x="406" y="5"/>
  <item x="40" y="491"/>
  <item x="123" y="300"/>
  <item x="723" y="638"/>
</location>