<location>
  <item x="666" y="671"/>
  <item x="713" y="514"/>
  <item x="301" y="352"/>
  <item x="606" y="94"/>
  <item x="0" y="349"/>
  <item x="355" y="85"/>
  <item x="728" y="622"/>
  <item x="571" y="0"/>
  <item x="265" y="475"/>
  <item x="448" y="227"/>
  <item x="241" y="103"/>
  <item x="1055" y="534"/>
  <item x="954" y="191"/>
  <item x="471" y="287"/>
  <item x="954" y="109"/>
  <item x="907" y="316"/>
  <item x="302" y="85"/>
  <item x="327" y="46"/>
  <item x="203" y="107"/>
  <item x="423" y="38"/>
  <item x="1110" y="382"/>
  <item x="245" y="82"/>
  <item x="207" y="317"/>
  <item x="1120" y="0"/>
  <item x="253" y="323"/>
  <item x="696" y="452"/>
  <item x="388" y="386"/>
  <item x="367" y="301"/>
  <item x="132" y="135"/>
  <item x="572" y="345"/>
  <item x="573" y="640"/>
  <item x="1029" y="726"/>
  <item x="421" y="742"/>
  <item x="867" y="138"/>
  <item x="974" y="18"/>
  <item x="809" y="110"/>
  <item x="697" y="0"/>
  <item x="618" y="403"/>
  <item x="825" y="357"/>
  <item x="852" y="0"/>
  <item x="66" y="253"/>
  <item x="675" y="181"/>
  <item x="0" y="0"/>
  <item x="275" y="0"/>
  <item x="0" y="154"/>
  <item x="379" y="0"/>
  <item x="438" y="331"/>
  <item x="660" y="85"/>
  <item x="1072" y="0"/>
  <item x="721" y="385"/>
</location>