<location>
  <item x="983" y="46"/>
  <item x="140" y="236"/>
  <item x="619" y="219"/>
  <item x="596" y="531"/>
  <item x="17" y="644"/>
  <item x="28" y="644"/>
  <item x="1026" y="26"/>
  <item x="101" y="725"/>
  <item x="197" y="13"/>
  <item x="298" y="341"/>
  <item x="547" y="446"/>
  <item x="97" y="665"/>
  <item x="413" y="241"/>
  <item x="341" y="346"/>
  <item x="482" y="24"/>
  <item x="719" y="129"/>
  <item x="914" y="73"/>
  <item x="820" y="317"/>
  <item x="828" y="267"/>
  <item x="940" y="44"/>
  <item x="374" y="207"/>
  <item x="951" y="312"/>
  <item x="311" y="151"/>
  <item x="132" y="0"/>
  <item x="1071" y="0"/>
  <item x="524" y="201"/>
  <item x="457" y="185"/>
  <item x="414" y="183"/>
  <item x="246" y="596"/>
  <item x="27" y="92"/>
  <item x="1033" y="458"/>
  <item x="812" y="77"/>
  <item x="228" y="296"/>
  <item x="251" y="83"/>
  <item x="603" y="178"/>
  <item x="1067" y="621"/>
  <item x="793" y="570"/>
  <item x="989" y="530"/>
  <item x="945" y="350"/>
  <item x="217" y="244"/>
  <item x="535" y="154"/>
  <item x="471" y="559"/>
  <item x="1000" y="283"/>
  <item x="304" y="81"/>
  <item x="678" y="162"/>
  <item x="382" y="142"/>
  <item x="603" y="141"/>
  <item x="234" y="25"/>
  <item x="667" y="41"/>
  <item x="477" y="24"/>
</location>