<location>
  <item x="601" y="252"/>
  <item x="832" y="148"/>
  <item x="701" y="205"/>
  <item x="1019" y="133"/>
  <item x="950" y="229"/>
  <item x="449" y="73"/>
  <item x="608" y="101"/>
  <item x="870" y="319"/>
  <item x="550" y="77"/>
  <item x="660" y="128"/>
  <item x="669" y="104"/>
  <item x="695" y="454"/>
  <item x="262" y="111"/>
  <item x="679" y="261"/>
  <item x="49" y="76"/>
  <item x="449" y="173"/>
  <item x="201" y="22"/>
  <item x="929" y="110"/>
  <item x="883" y="123"/>
  <item x="262" y="273"/>
  <item x="373" y="299"/>
  <item x="955" y="71"/>
  <item x="723" y="28"/>
  <item x="754" y="137"/>
  <item x="951" y="150"/>
  <item x="416" y="294"/>
  <item x="365" y="554"/>
  <item x="60" y="309"/>
  <item x="147" y="238"/>
  <item x="539" y="207"/>
  <item x="289" y="96"/>
  <item x="287" y="112"/>
  <item x="244" y="6"/>
  <item x="499" y="154"/>
  <item x="116" y="124"/>
  <item x="212" y="388"/>
  <item x="338" y="146"/>
  <item x="770" y="197"/>
  <item x="784" y="78"/>
  <item x="729" y="560"/>
  <item x="60" y="238"/>
  <item x="481" y="299"/>
  <item x="365" y="94"/>
  <item x="896" y="39"/>
</location>