<location>
  <item x="928" y="169"/>
  <item x="867" y="0"/>
  <item x="1092" y="369"/>
  <item x="176" y="359"/>
  <item x="856" y="476"/>
  <item x="518" y="340"/>
  <item x="792" y="210"/>
  <item x="637" y="712"/>
  <item x="819" y="0"/>
  <item x="823" y="158"/>
  <item x="778" y="172"/>
  <item x="633" y="341"/>
  <item x="641" y="0"/>
  <item x="288" y="564"/>
  <item x="549" y="325"/>
  <item x="0" y="682"/>
  <item x="419" y="523"/>
  <item x="378" y="353"/>
  <item x="750" y="131"/>
  <item x="747" y="184"/>
  <item x="289" y="188"/>
  <item x="360" y="191"/>
  <item x="339" y="95"/>
  <item x="466" y="36"/>
  <item x="284" y="168"/>
  <item x="581" y="505"/>
  <item x="619" y="147"/>
  <item x="165" y="248"/>
  <item x="527" y="255"/>
  <item x="441" y="156"/>
  <item x="187" y="178"/>
  <item x="494" y="135"/>
  <item x="104" y="33"/>
  <item x="65" y="134"/>
  <item x="748" y="335"/>
  <item x="427" y="350"/>
  <item x="362" y="142"/>
  <item x="778" y="307"/>
  <item x="191" y="37"/>
  <item x="353" y="0"/>
  <item x="244" y="3"/>
  <item x="129" y="0"/>
  <item x="701" y="489"/>
  <item x="832" y="729"/>
  <item x="62" y="522"/>
  <item x="857.5" y="322"/>
  <item x="540" y="0"/>
  <item x="30" y="0"/>
  <item x="175" y="129"/>
  <item x="281" y="330"/>
</location>