<location>
  <item x="633" y="417"/>
  <item x="661" y="390"/>
  <item x="719" y="390"/>
  <item x="796" y="382"/>
  <item x="848" y="380"/>
  <item x="927" y="361"/>
  <item x="988" y="355"/>
  <item x="920" y="262"/>
  <item x="862" y="282"/>
  <item x="1042" y="249"/>
  <item x="810" y="266"/>
  <item x="850" y="247"/>
  <item x="1025" y="647"/>
  <item x="419" y="330"/>
  <item x="599" y="393"/>
  <item x="634" y="299"/>
  <item x="673" y="270"/>
  <item x="1096" y="206"/>
  <item x="600" y="666"/>
  <item x="1032" y="496"/>
  <item x="208" y="277"/>
  <item x="820" y="17"/>
  <item x="684" y="553"/>
  <item x="949" y="489"/>
  <item x="783" y="222"/>
  <item x="132" y="247"/>
  <item x="60" y="208"/>
  <item x="16" y="197"/>
  <item x="143" y="188"/>
  <item x="585" y="245"/>
  <item x="1019" y="155"/>
  <item x="870" y="201"/>
  <item x="993" y="92"/>
  <item x="552" y="601"/>
  <item x="407" y="304"/>
  <item x="0" y="140"/>
  <item x="520" y="182"/>
  <item x="1125" y="596"/>
  <item x="340" y="260"/>
  <item x="904" y="712"/>
  <item x="133" y="121"/>
  <item x="635" y="226"/>
  <item x="808" y="533"/>
  <item x="590" y="186"/>
  <item x="1102" y="116"/>
  <item x="951" y="614"/>
  <item x="295" y="71"/>
  <item x="760" y="179"/>
  <item x="250" y="67"/>
  <item x="1113" y="415"/>
</location>