<location>
  <item x="1105" y="469"/>
  <item x="1023" y="724"/>
  <item x="1078" y="339"/>
  <item x="1166" y="336"/>
  <item x="1211" y="324"/>
  <item x="501" y="681"/>
  <item x="951" y="575"/>
  <item x="215" y="191"/>
  <item x="7" y="312"/>
  <item x="928" y="484"/>
  <item x="265" y="334"/>
  <item x="1137" y="117"/>
  <item x="1190" y="236"/>
  <item x="945" y="255"/>
  <item x="358" y="361"/>
  <item x="602" y="325"/>
  <item x="1157" y="611"/>
  <item x="21" y="120"/>
  <item x="1117" y="258"/>
  <item x="300" y="303"/>
  <item x="877" y="255"/>
  <item x="976" y="246"/>
  <item x="507" y="220"/>
  <item x="1178" y="91"/>
  <item x="624" y="610"/>
  <item x="335" y="120"/>
  <item x="206" y="619"/>
  <item x="123" y="209"/>
  <item x="0" y="134"/>
  <item x="866" y="596"/>
  <item x="602" y="387"/>
  <item x="191" y="513"/>
  <item x="883" y="213"/>
  <item x="350" y="298"/>
  <item x="1087" y="213"/>
  <item x="441" y="0"/>
  <item x="1038" y="532"/>
  <item x="745" y="152"/>
  <item x="447" y="315"/>
  <item x="688" y="119"/>
  <item x="1171" y="37"/>
  <item x="118" y="146"/>
  <item x="576" y="176"/>
  <item x="40" y="118"/>
  <item x="0" y="103"/>
  <item x="775" y="671"/>
  <item x="584" y="0"/>
  <item x="15" y="626"/>
  <item x="293" y="102"/>
  <item x="1121" y="304"/>
</location>