<location>
  <item x="226" y="207"/>
  <item x="254" y="337"/>
  <item x="164" y="198"/>
  <item x="90" y="182"/>
  <item x="109" y="482"/>
  <item x="388" y="103"/>
  <item x="421" y="89"/>
  <item x="22" y="154"/>
  <item x="1128" y="109"/>
  <item x="681" y="180"/>
  <item x="542" y="818"/>
  <item x="0" y="155"/>
  <item x="923" y="340"/>
  <item x="910" y="796"/>
  <item x="788" y="330"/>
  <item x="761" y="267"/>
  <item x="841" y="257"/>
  <item x="178" y="2"/>
  <item x="891" y="255"/>
  <item x="254" y="199"/>
  <item x="484" y="444"/>
  <item x="992" y="278"/>
  <item x="301" y="57"/>
  <item x="0" y="123"/>
  <item x="786" y="204"/>
  <item x="834" y="173"/>
  <item x="923" y="172"/>
  <item x="290" y="525"/>
  <item x="1058" y="171"/>
  <item x="708" y="139"/>
  <item x="798" y="136"/>
  <item x="1052" y="500"/>
  <item x="502" y="95"/>
  <item x="621" y="116"/>
  <item x="190" y="0"/>
  <item x="654" y="458"/>
  <item x="873" y="386"/>
  <item x="1052" y="44"/>
  <item x="120" y="0"/>
  <item x="467" y="602"/>
  <item x="338" y="652"/>
  <item x="317" y="186"/>
  <item x="352" y="7"/>
  <item x="168" y="0"/>
  <item x="0" y="41"/>
  <item x="901" y="149"/>
  <item x="515" y="87"/>
  <item x="942" y="134"/>
  <item x="1057" y="725"/>
  <item x="644" y="591"/>
</location>