<location>
  <item x="272" y="50"/>
  <item x="219" y="249"/>
  <item x="233" y="348"/>
  <item x="208" y="484"/>
  <item x="242" y="156"/>
  <item x="987" y="8"/>
  <item x="969" y="154"/>
  <item x="197" y="406"/>
  <item x="374" y="166"/>
  <item x="788" y="249"/>
  <item x="911" y="204"/>
  <item x="717" y="433"/>
  <item x="853" y="623"/>
  <item x="300" y="573"/>
  <item x="539" y="96"/>
  <item x="923" y="516"/>
  <item x="577" y="308"/>
  <item x="449" y="319"/>
  <item x="630" y="516"/>
  <item x="572" y="259"/>
  <item x="563" y="414"/>
  <item x="698" y="128"/>
  <item x="753" y="231"/>
  <item x="905" y="81"/>
  <item x="716" y="604"/>
  <item x="29" y="150"/>
  <item x="148" y="324"/>
  <item x="1006" y="284"/>
  <item x="778" y="195"/>
  <item x="773" y="169"/>
  <item x="566" y="181"/>
  <item x="423" y="308"/>
  <item x="1107" y="338"/>
  <item x="502" y="56"/>
  <item x="1083" y="189"/>
  <item x="493" y="269"/>
  <item x="431" y="97"/>
  <item x="265" y="0"/>
  <item x="1064" y="0"/>
  <item x="1038" y="460"/>
  <item x="680" y="376"/>
  <item x="857" y="4"/>
  <item x="520" y="624"/>
  <item x="341" y="705"/>
  <item x="724" y="73"/>
  <item x="177" y="0"/>
  <item x="572" y="586"/>
  <item x="994" y="346"/>
  <item x="713" y="4"/>
</location>