<location>
  <item x="665" y="43"/>
  <item x="3" y="0"/>
  <item x="1184" y="0"/>
  <item x="1024" y="68"/>
  <item x="937" y="65"/>
  <item x="836" y="68"/>
  <item x="119" y="238"/>
  <item x="510" y="252"/>
  <item x="161" y="126"/>
  <item x="46" y="256"/>
  <item x="0" y="201"/>
  <item x="1208" y="165"/>
  <item x="88" y="0"/>
  <item x="61" y="204"/>
  <item x="760" y="244"/>
  <item x="242" y="168"/>
  <item x="373" y="423"/>
  <item x="416" y="0"/>
  <item x="199" y="258"/>
  <item x="437" y="241"/>
  <item x="337" y="165"/>
  <item x="772" y="84"/>
  <item x="169" y="0"/>
  <item x="0" y="0"/>
  <item x="951" y="232"/>
  <item x="365" y="0"/>
  <item x="900" y="20"/>
  <item x="818" y="216"/>
  <item x="0" y="525"/>
  <item x="1034" y="424"/>
  <item x="593" y="48"/>
  <item x="602" y="11"/>
  <item x="309" y="425"/>
  <item x="1145" y="678"/>
  <item x="711" y="499"/>
  <item x="704" y="36"/>
  <item x="828" y="18"/>
  <item x="322" y="0"/>
  <item x="407" y="178"/>
  <item x="720" y="245"/>
  <item x="492" y="547"/>
  <item x="982" y="20"/>
  <item x="585" y="429"/>
  <item x="252" y="0"/>
  <item x="237" y="126"/>
  <item x="668" y="190"/>
  <item x="1069" y="272"/>
  <item x="543" y="66"/>
  <item x="562" y="207"/>
  <item x="535" y="0"/>
</location>