<location>
  <item x="512" y="116"/>
  <item x="856" y="0"/>
  <item x="0" y="289"/>
  <item x="983" y="0"/>
  <item x="217" y="72"/>
  <item x="278" y="162"/>
  <item x="487" y="105"/>
  <item x="449.5" y="112"/>
  <item x="339" y="53"/>
  <item x="571" y="93"/>
  <item x="54" y="277"/>
  <item x="1044" y="272"/>
  <item x="282" y="79"/>
  <item x="307" y="505"/>
  <item x="461" y="625"/>
  <item x="458" y="0"/>
  <item x="1019" y="731"/>
  <item x="319" y="36"/>
  <item x="0" y="90"/>
  <item x="464" y="738"/>
  <item x="873" y="298"/>
  <item x="37" y="66"/>
  <item x="393" y="540"/>
  <item x="831" y="281"/>
  <item x="643" y="231"/>
  <item x="103" y="603"/>
  <item x="263" y="667"/>
  <item x="838" y="696"/>
  <item x="984" y="335"/>
  <item x="729" y="695"/>
  <item x="152" y="270"/>
  <item x="153" y="623"/>
  <item x="109" y="193"/>
  <item x="88" y="16"/>
  <item x="723" y="0"/>
  <item x="670" y="408"/>
  <item x="963" y="563"/>
  <item x="1123" y="31"/>
  <item x="0" y="226"/>
  <item x="1137" y="732"/>
  <item x="682" y="346"/>
  <item x="586" y="750"/>
  <item x="240" y="49"/>
  <item x="571" y="30"/>
  <item x="721" y="121"/>
  <item x="0" y="36"/>
  <item x="157" y="0"/>
  <item x="702" y="0"/>
  <item x="789" y="85"/>
  <item x="337" y="0"/>
</location>