<location>
  <item x="524" y="142"/>
  <item x="693" y="0"/>
  <item x="1018" y="180"/>
  <item x="612" y="125"/>
  <item x="636" y="102"/>
  <item x="307" y="306"/>
  <item x="392" y="156"/>
  <item x="693" y="329"/>
  <item x="244" y="0"/>
  <item x="768" y="126"/>
  <item x="1112" y="0"/>
  <item x="343" y="468"/>
  <item x="696" y="464"/>
  <item x="72" y="103"/>
  <item x="128" y="0"/>
  <item x="864" y="210"/>
  <item x="0" y="73"/>
  <item x="172" y="115"/>
  <item x="1068" y="22"/>
  <item x="955" y="183"/>
  <item x="583" y="588"/>
  <item x="864" y="0"/>
  <item x="858" y="0"/>
  <item x="770" y="112"/>
  <item x="194" y="628"/>
  <item x="934" y="524"/>
  <item x="956" y="298"/>
  <item x="16" y="196"/>
  <item x="351" y="150"/>
  <item x="250" y="140"/>
  <item x="394" y="127"/>
  <item x="673" y="512"/>
  <item x="65" y="82"/>
  <item x="659" y="228"/>
  <item x="833" y="229"/>
  <item x="837" y="212"/>
  <item x="41" y="460"/>
  <item x="1017" y="24"/>
  <item x="56" y="698"/>
  <item x="501" y="20"/>
  <item x="697" y="218"/>
  <item x="756" y="98"/>
  <item x="120" y="452"/>
  <item x="234" y="298"/>
  <item x="274" y="0"/>
  <item x="1096" y="16"/>
  <item x="874" y="189"/>
  <item x="767" y="0"/>
  <item x="530" y="0"/>
  <item x="1034" y="0"/>
</location>