<location>
  <item x="214" y="0"/>
  <item x="281" y="338"/>
  <item x="709" y="199"/>
  <item x="66" y="138"/>
  <item x="873" y="0"/>
  <item x="383" y="331"/>
  <item x="565" y="167"/>
  <item x="224" y="280"/>
  <item x="503" y="343"/>
  <item x="346" y="703"/>
  <item x="748" y="0"/>
  <item x="458" y="459"/>
  <item x="340" y="278"/>
  <item x="936" y="232"/>
  <item x="1082" y="336"/>
  <item x="745" y="460"/>
  <item x="638" y="452"/>
  <item x="1013" y="45"/>
  <item x="424" y="278"/>
  <item x="896" y="395"/>
  <item x="585" y="25"/>
  <item x="823" y="362"/>
  <item x="1003" y="0"/>
  <item x="1082" y="551"/>
  <item x="0" y="9"/>
  <item x="111" y="230"/>
  <item x="946" y="644"/>
  <item x="844" y="654"/>
  <item x="270" y="155"/>
  <item x="125" y="0"/>
  <item x="479" y="670"/>
  <item x="645" y="264"/>
  <item x="5" y="346"/>
  <item x="591" y="80"/>
  <item x="946" y="215"/>
  <item x="641" y="354"/>
  <item x="446" y="0"/>
  <item x="189" y="106"/>
  <item x="456" y="224"/>
  <item x="331" y="0"/>
  <item x="604" y="686"/>
  <item x="184" y="163"/>
  <item x="710" y="700"/>
  <item x="371" y="138"/>
  <item x="993" y="543"/>
  <item x="133" y="421"/>
  <item x="111" y="712"/>
  <item x="517" y="147"/>
  <item x="101" y="400"/>
  <item x="277" y="644"/>
</location>