<location>
  <item x="415" y="13"/>
  <item x="913" y="138"/>
  <item x="268" y="577"/>
  <item x="1052" y="16"/>
  <item x="346" y="390"/>
  <item x="1120" y="145"/>
  <item x="551" y="221"/>
  <item x="391" y="298"/>
  <item x="953" y="725"/>
  <item x="617" y="296"/>
  <item x="235" y="221"/>
  <item x="820" y="13"/>
  <item x="683" y="400"/>
  <item x="956" y="475"/>
  <item x="523" y="190"/>
  <item x="450" y="699"/>
  <item x="755" y="153"/>
  <item x="608" y="53"/>
  <item x="21" y="126"/>
  <item x="989" y="562"/>
  <item x="609" y="293"/>
  <item x="504" y="382"/>
  <item x="318" y="97"/>
  <item x="21" y="469"/>
  <item x="585" y="304"/>
  <item x="952" y="386"/>
  <item x="104" y="0"/>
  <item x="1120" y="217"/>
  <item x="282" y="347"/>
  <item x="687" y="590"/>
  <item x="122" y="566"/>
  <item x="1070" y="695"/>
  <item x="573" y="19"/>
  <item x="869" y="141"/>
  <item x="997" y="7"/>
  <item x="304" y="618"/>
  <item x="37" y="724"/>
  <item x="0" y="49"/>
  <item x="807" y="3"/>
  <item x="850" y="78"/>
  <item x="591" y="690"/>
  <item x="1037" y="293"/>
  <item x="579" y="304"/>
  <item x="751" y="8"/>
  <item x="868" y="601"/>
  <item x="516" y="551"/>
  <item x="778" y="729"/>
  <item x="532" y="0"/>
  <item x="667" y="374"/>
  <item x="361" y="336"/>
</location>