<location>
  <item x="1067" y="0"/>
  <item x="1103" y="0"/>
  <item x="970" y="0"/>
  <item x="418" y="0"/>
  <item x="1179" y="0"/>
  <item x="917" y="0"/>
  <item x="1163" y="552"/>
  <item x="839" y="0"/>
  <item x="1207" y="0"/>
  <item x="562" y="88"/>
  <item x="830" y="81"/>
  <item x="1024" y="537"/>
  <item x="705" y="0"/>
  <item x="721" y="0"/>
  <item x="1181" y="216"/>
  <item x="783" y="0"/>
  <item x="837" y="413"/>
  <item x="0" y="0"/>
  <item x="502" y="0"/>
  <item x="536" y="0"/>
  <item x="916" y="416"/>
  <item x="658" y="25"/>
  <item x="718" y="416"/>
  <item x="1148" y="92"/>
  <item x="25" y="0"/>
  <item x="633" y="0"/>
  <item x="982" y="414"/>
  <item x="31" y="486"/>
  <item x="526" y="462"/>
  <item x="806" y="418"/>
  <item x="410" y="0"/>
  <item x="347" y="0"/>
  <item x="837" y="81"/>
  <item x="109" y="0"/>
  <item x="68" y="392"/>
  <item x="105" y="9"/>
  <item x="324" y="0"/>
  <item x="961" y="113"/>
  <item x="1083" y="412"/>
  <item x="473" y="576"/>
  <item x="0" y="131"/>
  <item x="765" y="512"/>
  <item x="471" y="118"/>
  <item x="497" y="345"/>
  <item x="266" y="497"/>
  <item x="271" y="0"/>
  <item x="85" y="213"/>
  <item x="854" y="315"/>
  <item x="195" y="0"/>
  <item x="192" y="54"/>
</location>