<location>
  <item x="425" y="307"/>
  <item x="668" y="113"/>
  <item x="1085" y="431"/>
  <item x="834" y="0"/>
  <item x="811" y="403"/>
  <item x="91" y="338"/>
  <item x="187" y="256"/>
  <item x="424" y="129.5"/>
  <item x="758" y="727"/>
  <item x="1078" y="158"/>
  <item x="780" y="347"/>
  <item x="297" y="297"/>
  <item x="1133" y="702"/>
  <item x="229" y="725"/>
  <item x="8" y="756"/>
  <item x="672" y="380"/>
  <item x="938" y="109"/>
  <item x="715" y="623"/>
  <item x="521" y="309"/>
  <item x="859" y="609"/>
  <item x="1152" y="584"/>
  <item x="605" y="456"/>
  <item x="568" y="1"/>
  <item x="414" y="0"/>
  <item x="737" y="79"/>
  <item x="745" y="301"/>
  <item x="507" y="0"/>
  <item x="343" y="618"/>
  <item x="54" y="219"/>
  <item x="492" y="467"/>
  <item x="947" y="256"/>
  <item x="249" y="654"/>
  <item x="361" y="0"/>
  <item x="503" y="595"/>
  <item x="898" y="141"/>
  <item x="621" y="261"/>
  <item x="154" y="314"/>
  <item x="275" y="233"/>
  <item x="949" y="19"/>
  <item x="1025" y="315"/>
  <item x="124" y="124"/>
  <item x="0" y="0"/>
  <item x="481" y="249"/>
  <item x="1028" y="577"/>
  <item x="74" y="632"/>
  <item x="899" y="367"/>
  <item x="166" y="117"/>
  <item x="1086" y="0"/>
  <item x="605" y="722"/>
  <item x="0" y="678"/>
</location>