<location>
  <item x="693" y="334"/>
  <item x="208" y="347"/>
  <item x="1115" y="79"/>
  <item x="498" y="19"/>
  <item x="245" y="510"/>
  <item x="173" y="229"/>
  <item x="658" y="344"/>
  <item x="0" y="233"/>
  <item x="1044" y="43"/>
  <item x="922" y="660"/>
  <item x="1054" y="362"/>
  <item x="309" y="0"/>
  <item x="152" y="351"/>
  <item x="1084" y="45"/>
  <item x="503" y="243"/>
  <item x="81" y="227"/>
  <item x="377" y="258"/>
  <item x="937" y="41"/>
  <item x="59" y="467"/>
  <item x="751" y="114"/>
  <item x="846" y="529"/>
  <item x="538" y="69"/>
  <item x="758" y="51"/>
  <item x="16" y="545"/>
  <item x="781" y="573"/>
  <item x="572" y="100"/>
  <item x="398" y="457"/>
  <item x="346" y="600"/>
  <item x="0" y="213"/>
  <item x="80" y="213"/>
  <item x="89" y="0"/>
  <item x="628" y="92"/>
  <item x="1035" y="248"/>
  <item x="0" y="183"/>
  <item x="335" y="247"/>
  <item x="596" y="336"/>
  <item x="395" y="226"/>
  <item x="1145" y="506"/>
  <item x="626" y="527"/>
  <item x="667" y="662"/>
  <item x="441" y="221"/>
  <item x="495" y="354"/>
  <item x="282" y="251"/>
  <item x="204" y="157"/>
  <item x="661" y="56"/>
  <item x="344" y="198"/>
  <item x="769" y="258"/>
  <item x="410" y="158"/>
  <item x="237" y="133"/>
  <item x="259" y="167"/>
</location>