<location>
  <item x="775" y="405"/>
  <item x="209" y="0"/>
  <item x="1105" y="10"/>
  <item x="1105" y="433"/>
  <item x="704" y="156"/>
  <item x="95" y="165"/>
  <item x="1082" y="49"/>
  <item x="15" y="342"/>
  <item x="1052" y="119"/>
  <item x="174" y="0"/>
  <item x="718" y="401"/>
  <item x="835" y="168"/>
  <item x="104" y="423"/>
  <item x="1096" y="0"/>
  <item x="313" y="274"/>
  <item x="1027" y="170"/>
  <item x="14" y="323"/>
  <item x="0" y="495"/>
  <item x="149" y="245"/>
  <item x="873" y="44"/>
  <item x="659" y="399"/>
  <item x="930" y="661"/>
  <item x="958" y="567"/>
  <item x="857" y="420"/>
  <item x="0" y="0"/>
  <item x="110" y="526"/>
  <item x="983" y="238"/>
  <item x="692" y="414"/>
  <item x="272" y="396"/>
  <item x="787" y="0"/>
  <item x="396" y="95"/>
  <item x="608" y="447"/>
  <item x="672" y="133"/>
  <item x="746" y="274"/>
  <item x="87" y="181"/>
  <item x="824" y="239"/>
  <item x="787" y="41"/>
  <item x="41" y="257"/>
  <item x="173" y="183"/>
  <item x="492" y="88"/>
  <item x="396" y="280"/>
  <item x="996" y="341"/>
  <item x="462" y="438"/>
  <item x="305" y="4"/>
  <item x="236.95" y="0"/>
  <item x="283" y="484"/>
  <item x="1" y="0"/>
  <item x="602" y="74"/>
  <item x="170" y="439"/>
  <item x="668" y="290"/>
</location>