<location>
  <item x="76" y="95"/>
  <item x="0" y="131"/>
  <item x="0" y="90"/>
  <item x="665" y="0"/>
  <item x="411" y="479"/>
  <item x="852" y="246"/>
  <item x="572" y="706"/>
  <item x="213" y="111"/>
  <item x="982" y="181"/>
  <item x="636" y="88"/>
  <item x="357" y="296"/>
  <item x="257" y="8"/>
  <item x="236" y="215"/>
  <item x="31" y="146"/>
  <item x="834" y="167"/>
  <item x="518" y="565"/>
  <item x="641" y="628"/>
  <item x="253" y="376"/>
  <item x="1040" y="701"/>
  <item x="642" y="450"/>
  <item x="305" y="296"/>
  <item x="366" y="100"/>
  <item x="451" y="1"/>
  <item x="352" y="400"/>
  <item x="257" y="105"/>
  <item x="715" y="721"/>
  <item x="697" y="56"/>
  <item x="226" y="474"/>
  <item x="535" y="656"/>
  <item x="1040" y="8"/>
  <item x="64" y="432"/>
  <item x="602" y="13"/>
  <item x="433" y="228"/>
  <item x="880" y="20"/>
  <item x="326" y="0"/>
  <item x="1070" y="57"/>
  <item x="1074" y="65"/>
  <item x="229" y="542"/>
  <item x="767" y="432"/>
  <item x="143" y="4"/>
  <item x="714" y="88"/>
  <item x="177" y="322"/>
  <item x="486" y="82"/>
  <item x="1129" y="185"/>
  <item x="25" y="142"/>
  <item x="714" y="561"/>
  <item x="978" y="126"/>
  <item x="832" y="0"/>
  <item x="69" y="0"/>
  <item x="999" y="66"/>
</location>