<location>
  <item x="1027" y="602"/>
  <item x="934" y="570"/>
  <item x="910" y="0"/>
  <item x="844" y="617"/>
  <item x="1082" y="24"/>
  <item x="954" y="233"/>
  <item x="887" y="0"/>
  <item x="580" y="47"/>
  <item x="305" y="90"/>
  <item x="999" y="610"/>
  <item x="1113" y="293"/>
  <item x="952" y="310"/>
  <item x="1095" y="3"/>
  <item x="912" y="579"/>
  <item x="1019" y="44"/>
  <item x="1148" y="340"/>
  <item x="0" y="0"/>
  <item x="1016" y="7"/>
  <item x="710" y="386"/>
  <item x="868" y="574"/>
  <item x="501" y="82"/>
  <item x="971" y="0"/>
  <item x="986" y="385"/>
  <item x="85" y="0"/>
  <item x="853" y="0"/>
  <item x="536" y="324"/>
  <item x="1084" y="285"/>
  <item x="81" y="18"/>
  <item x="285" y="641"/>
  <item x="528" y="54"/>
  <item x="238" y="0"/>
  <item x="327" y="0"/>
  <item x="123" y="396"/>
  <item x="179" y="0"/>
  <item x="438" y="56"/>
  <item x="1067" y="0"/>
  <item x="596" y="27"/>
  <item x="940" y="515"/>
  <item x="2" y="0"/>
  <item x="480" y="27"/>
  <item x="1017" y="535"/>
  <item x="423" y="0"/>
  <item x="751" y="0"/>
  <item x="1002" y="0"/>
  <item x="530" y="8"/>
  <item x="727" y="168"/>
  <item x="1098" y="478"/>
  <item x="576" y="624"/>
  <item x="581" y="4"/>
  <item x="520" y="0"/>
</location>