<location>
  <item x="921" y="0"/>
  <item x="778" y="38"/>
  <item x="851" y="43"/>
  <item x="679" y="206"/>
  <item x="1013" y="562"/>
  <item x="827" y="24"/>
  <item x="233" y="577"/>
  <item x="384" y="10"/>
  <item x="749" y="56"/>
  <item x="437" y="224"/>
  <item x="666" y="0"/>
  <item x="706" y="29"/>
  <item x="549" y="0"/>
  <item x="596" y="0"/>
  <item x="1050" y="566"/>
  <item x="85" y="227"/>
  <item x="298" y="203"/>
  <item x="59" y="206"/>
  <item x="471" y="0"/>
  <item x="390" y="0"/>
  <item x="985" y="0"/>
  <item x="386" y="280"/>
  <item x="275" y="0"/>
  <item x="836" y="0"/>
  <item x="901" y="168"/>
  <item x="241" y="194"/>
  <item x="943" y="176"/>
  <item x="624" y="90"/>
  <item x="1164" y="49"/>
  <item x="126" y="0"/>
  <item x="137" y="209"/>
  <item x="241" y="469"/>
  <item x="474" y="201"/>
  <item x="1" y="0"/>
  <item x="333" y="67"/>
  <item x="437" y="676"/>
  <item x="1105" y="0"/>
  <item x="293" y="22"/>
  <item x="669" y="219"/>
  <item x="0" y="40"/>
  <item x="484" y="677"/>
  <item x="85" y="0"/>
  <item x="59" y="665"/>
  <item x="1103" y="594"/>
  <item x="1102" y="149"/>
  <item x="519" y="284"/>
  <item x="596" y="206"/>
  <item x="1045" y="185"/>
  <item x="11" y="220"/>
  <item x="395" y="552"/>
</location>