<location>
  <item x="1076" y="703"/>
  <item x="79" y="570"/>
  <item x="876" y="728"/>
  <item x="935" y="0"/>
  <item x="1132" y="587"/>
  <item x="221" y="157"/>
  <item x="1127" y="292"/>
  <item x="243" y="538"/>
  <item x="521" y="630"/>
  <item x="1014" y="451"/>
  <item x="1002" y="625"/>
  <item x="1121" y="0"/>
  <item x="881" y="320"/>
  <item x="638" y="0"/>
  <item x="316" y="144"/>
  <item x="1023" y="273"/>
  <item x="628" y="390"/>
  <item x="653" y="185"/>
  <item x="159" y="182"/>
  <item x="54" y="57"/>
  <item x="185" y="157"/>
  <item x="1024" y="0"/>
  <item x="1094" y="248"/>
  <item x="442" y="0"/>
  <item x="548" y="144"/>
  <item x="752" y="702"/>
  <item x="480" y="6"/>
  <item x="289" y="418"/>
  <item x="1020" y="0"/>
  <item x="964" y="298"/>
  <item x="375" y="0"/>
  <item x="902" y="464"/>
  <item x="655" y="733"/>
  <item x="620" y="647"/>
  <item x="499" y="540"/>
  <item x="836" y="0"/>
  <item x="507" y="110"/>
  <item x="719" y="224"/>
  <item x="364" y="540"/>
  <item x="947" y="428"/>
  <item x="824" y="280"/>
  <item x="724" y="407"/>
  <item x="374" y="118"/>
  <item x="232" y="95"/>
  <item x="939" y="608"/>
  <item x="621" y="86"/>
  <item x="686" y="0"/>
  <item x="288" y="53"/>
  <item x="115" y="66"/>
  <item x="738" y="167"/>
</location>