<location>
  <item x="976" y="84"/>
  <item x="432" y="0"/>
  <item x="1127" y="747"/>
  <item x="0" y="187"/>
  <item x="38" y="175"/>
  <item x="0" y="115"/>
  <item x="412" y="416"/>
  <item x="469" y="134"/>
  <item x="665" y="346"/>
  <item x="113" y="188"/>
  <item x="81" y="151"/>
  <item x="193" y="181"/>
  <item x="170" y="153"/>
  <item x="249" y="180"/>
  <item x="335" y="176"/>
  <item x="883" y="0"/>
  <item x="25" y="483"/>
  <item x="905" y="0"/>
  <item x="349" y="179"/>
  <item x="229" y="130"/>
  <item x="101" y="538"/>
  <item x="792" y="0"/>
  <item x="242" y="0"/>
  <item x="0" y="39"/>
  <item x="1148" y="0"/>
  <item x="979" y="535"/>
  <item x="754" y="667"/>
  <item x="1" y="686"/>
  <item x="685" y="0"/>
  <item x="1035" y="340"/>
  <item x="298" y="121"/>
  <item x="374" y="108"/>
  <item x="101" y="697"/>
  <item x="995" y="0"/>
  <item x="947" y="612"/>
  <item x="1047" y="607"/>
  <item x="180" y="0"/>
  <item x="120" y="124"/>
  <item x="376" y="0"/>
  <item x="1122" y="610"/>
  <item x="914" y="344"/>
  <item x="637" y="0"/>
  <item x="604" y="0"/>
  <item x="1129" y="499"/>
  <item x="739" y="0"/>
  <item x="575" y="249"/>
  <item x="1112" y="0"/>
  <item x="1061" y="0"/>
  <item x="423" y="175"/>
  <item x="1100" y="0"/>
</location>