<location>
  <item x="832" y="161"/>
  <item x="884" y="702"/>
  <item x="910" y="184"/>
  <item x="0" y="450"/>
  <item x="473" y="137"/>
  <item x="0" y="610"/>
  <item x="1024" y="671"/>
  <item x="1124" y="111"/>
  <item x="1046" y="103"/>
  <item x="0" y="14"/>
  <item x="726" y="596"/>
  <item x="410" y="57"/>
  <item x="929" y="178"/>
  <item x="328" y="606"/>
  <item x="1102" y="176"/>
  <item x="1016" y="160"/>
  <item x="659" y="159"/>
  <item x="103" y="200"/>
  <item x="67" y="593"/>
  <item x="50" y="0"/>
  <item x="0" y="304"/>
  <item x="1082" y="83"/>
  <item x="972" y="66"/>
  <item x="915" y="499"/>
  <item x="803" y="156"/>
  <item x="339" y="137"/>
  <item x="778" y="0"/>
  <item x="295" y="514"/>
  <item x="754" y="168"/>
  <item x="723" y="100"/>
  <item x="948" y="142"/>
  <item x="301" y="119"/>
  <item x="568" y="113"/>
  <item x="959" y="385"/>
  <item x="968" y="529"/>
  <item x="147" y="195"/>
  <item x="496" y="64"/>
  <item x="1035" y="59"/>
  <item x="0" y="706"/>
  <item x="494" y="61"/>
  <item x="650" y="94"/>
  <item x="880" y="117"/>
  <item x="529" y="0"/>
  <item x="847" y="86"/>
  <item x="885" y="486"/>
  <item x="663" y="86"/>
  <item x="239" y="0"/>
  <item x="692" y="0"/>
  <item x="897" y="0"/>
  <item x="978" y="0"/>
</location>