<location>
  <item x="92" y="50"/>
  <item x="306" y="28"/>
  <item x="0" y="342"/>
  <item x="0" y="50"/>
  <item x="499" y="377"/>
  <item x="459" y="271"/>
  <item x="456" y="0"/>
  <item x="454" y="265"/>
  <item x="739" y="0"/>
  <item x="198" y="41"/>
  <item x="597" y="632"/>
  <item x="430" y="72"/>
  <item x="686" y="0"/>
  <item x="887" y="58"/>
  <item x="124" y="499"/>
  <item x="236" y="9"/>
  <item x="31" y="40"/>
  <item x="0" y="0"/>
  <item x="345" y="10"/>
  <item x="119" y="41"/>
  <item x="368" y="266"/>
  <item x="1102" y="62"/>
  <item x="1052" y="62"/>
  <item x="806" y="14"/>
  <item x="1012" y="43"/>
  <item x="869" y="40"/>
  <item x="135" y="10"/>
  <item x="780" y="480"/>
  <item x="372" y="554"/>
  <item x="640" y="239"/>
  <item x="916" y="22"/>
  <item x="858" y="3"/>
  <item x="756" y="395"/>
  <item x="1041" y="19"/>
  <item x="562" y="31"/>
  <item x="442" y="0"/>
  <item x="969" y="0"/>
  <item x="1009" y="736"/>
  <item x="305" y="4"/>
  <item x="672" y="101"/>
  <item x="977" y="14"/>
  <item x="82" y="0"/>
  <item x="485" y="535"/>
  <item x="403" y="49"/>
  <item x="1115" y="0"/>
  <item x="411" y="0"/>
  <item x="1050" y="0"/>
  <item x="790" y="0"/>
  <item x="223" y="0"/>
  <item x="946" y="464"/>
</location>