<location>
  <item x="299" y="207"/>
  <item x="1118" y="223"/>
  <item x="348" y="186"/>
  <item x="275" y="189"/>
  <item x="900" y="0"/>
  <item x="672" y="695"/>
  <item x="177" y="191"/>
  <item x="1136" y="205"/>
  <item x="995" y="5"/>
  <item x="62" y="135"/>
  <item x="309" y="398"/>
  <item x="715" y="246"/>
  <item x="272" y="665"/>
  <item x="0" y="132"/>
  <item x="585" y="609"/>
  <item x="239" y="427"/>
  <item x="1051" y="235"/>
  <item x="448" y="250"/>
  <item x="1081" y="223"/>
  <item x="798" y="0"/>
  <item x="1018" y="189"/>
  <item x="1125" y="159"/>
  <item x="842" y="0"/>
  <item x="760" y="0"/>
  <item x="1066" y="148"/>
  <item x="636" y="267"/>
  <item x="690" y="238"/>
  <item x="458" y="218"/>
  <item x="184" y="146"/>
  <item x="620" y="235"/>
  <item x="772" y="219"/>
  <item x="259" y="129"/>
  <item x="0" y="98"/>
  <item x="424" y="218"/>
  <item x="128" y="83"/>
  <item x="459" y="197"/>
  <item x="1122" y="53"/>
  <item x="762" y="0"/>
  <item x="732" y="50"/>
  <item x="942" y="0"/>
  <item x="51" y="88"/>
  <item x="225" y="121"/>
  <item x="1102" y="0"/>
  <item x="8" y="174"/>
  <item x="603" y="0"/>
  <item x="448" y="656"/>
  <item x="497" y="99"/>
  <item x="567" y="79"/>
  <item x="854" y="413"/>
  <item x="17" y="79"/>
</location>