<location>
  <item x="1078" y="55"/>
  <item x="824" y="57"/>
  <item x="433" y="694"/>
  <item x="921" y="507"/>
  <item x="615" y="116"/>
  <item x="530" y="115"/>
  <item x="784" y="554"/>
  <item x="94" y="432"/>
  <item x="1119" y="738"/>
  <item x="233" y="685"/>
  <item x="0" y="559"/>
  <item x="504" y="125"/>
  <item x="1061" y="0"/>
  <item x="523" y="624"/>
  <item x="0" y="339"/>
  <item x="676" y="438"/>
  <item x="969" y="63"/>
  <item x="1029" y="60"/>
  <item x="1060" y="0"/>
  <item x="58" y="0"/>
  <item x="859" y="381"/>
  <item x="64" y="49"/>
  <item x="651" y="619"/>
  <item x="411" y="631"/>
  <item x="192" y="0"/>
  <item x="257" y="86"/>
  <item x="9" y="0"/>
  <item x="0" y="270"/>
  <item x="9" y="0"/>
  <item x="688" y="77"/>
  <item x="1078" y="603"/>
  <item x="698" y="43"/>
  <item x="733" y="35"/>
  <item x="111" y="703"/>
  <item x="62" y="284"/>
  <item x="416" y="0"/>
  <item x="333" y="0"/>
  <item x="585" y="371"/>
  <item x="1038" y="213"/>
  <item x="233" y="0"/>
  <item x="530" y="45"/>
  <item x="755" y="0"/>
  <item x="728" y="681"/>
  <item x="879" y="70"/>
  <item x="613" y="0"/>
  <item x="815" y="0"/>
  <item x="138" y="354"/>
  <item x="1130" y="252"/>
  <item x="298" y="421"/>
</location>