<location>
  <item x="893" y="268"/>
  <item x="865" y="424"/>
  <item x="999" y="292"/>
  <item x="258" y="252"/>
  <item x="808" y="381"/>
  <item x="881" y="0"/>
  <item x="751" y="251"/>
  <item x="1134" y="261"/>
  <item x="729" y="283"/>
  <item x="634" y="281"/>
  <item x="0" y="288"/>
  <item x="520" y="410"/>
  <item x="940" y="390"/>
  <item x="1024" y="263"/>
  <item x="418" y="308"/>
  <item x="631" y="0"/>
  <item x="592" y="166"/>
  <item x="650" y="409"/>
  <item x="0" y="313"/>
  <item x="212" y="247"/>
  <item x="453" y="289"/>
  <item x="987" y="0"/>
  <item x="102" y="266"/>
  <item x="396" y="260"/>
  <item x="1073" y="237"/>
  <item x="522" y="272"/>
  <item x="38" y="243"/>
  <item x="809" y="0"/>
  <item x="1102" y="0"/>
  <item x="844" y="805"/>
  <item x="108" y="230"/>
  <item x="561" y="0"/>
  <item x="959" y="248"/>
  <item x="0" y="228"/>
  <item x="508" y="0"/>
  <item x="10" y="186"/>
  <item x="265" y="672"/>
  <item x="206" y="207"/>
  <item x="0" y="157"/>
  <item x="38" y="135"/>
  <item x="1118" y="167"/>
  <item x="377" y="7"/>
  <item x="165" y="150"/>
  <item x="767" y="260"/>
  <item x="332" y="0"/>
  <item x="142" y="130"/>
  <item x="712" y="245"/>
  <item x="0" y="36"/>
  <item x="1071" y="164"/>
  <item x="302" y="205"/>
</location>