<location>
  <item x="409" y="246"/>
  <item x="466" y="243"/>
  <item x="213" y="222"/>
  <item x="695" y="230"/>
  <item x="1069" y="208"/>
  <item x="562" y="0"/>
  <item x="1041" y="0"/>
  <item x="968" y="38"/>
  <item x="564" y="0"/>
  <item x="1018" y="397"/>
  <item x="910" y="244"/>
  <item x="850" y="118"/>
  <item x="925" y="7"/>
  <item x="102" y="130"/>
  <item x="950" y="231"/>
  <item x="291" y="209"/>
  <item x="536" y="232"/>
  <item x="0" y="86"/>
  <item x="279" y="257"/>
  <item x="547" y="403"/>
  <item x="588" y="77"/>
  <item x="74" y="86"/>
  <item x="611" y="240"/>
  <item x="821" y="209"/>
  <item x="369" y="196"/>
  <item x="0" y="37"/>
  <item x="503" y="201"/>
  <item x="660" y="0"/>
  <item x="850" y="397"/>
  <item x="605" y="512"/>
  <item x="1016" y="219"/>
  <item x="236" y="158"/>
  <item x="619" y="212"/>
  <item x="967" y="395"/>
  <item x="922" y="516"/>
  <item x="437" y="176"/>
  <item x="280" y="151"/>
  <item x="190" y="110"/>
  <item x="535" y="179"/>
  <item x="297" y="116"/>
  <item x="301" y="466"/>
  <item x="799" y="316"/>
  <item x="316" y="363"/>
  <item x="437" y="125"/>
  <item x="1018" y="163"/>
  <item x="673" y="62"/>
  <item x="957" y="0"/>
  <item x="220" y="0"/>
  <item x="916" y="386"/>
  <item x="619" y="401"/>
</location>