<location>
  <item x="797" y="705"/>
  <item x="289" y="0"/>
  <item x="989" y="45"/>
  <item x="780" y="234"/>
  <item x="1084" y="0"/>
  <item x="802" y="520"/>
  <item x="888" y="284"/>
  <item x="1034" y="124"/>
  <item x="0" y="0"/>
  <item x="539" y="1"/>
  <item x="346.05" y="347.85"/>
  <item x="44" y="0"/>
  <item x="1143" y="395"/>
  <item x="182" y="0"/>
  <item x="182" y="10"/>
  <item x="902" y="0"/>
  <item x="307" y="212"/>
  <item x="1111" y="395"/>
  <item x="921" y="78"/>
  <item x="1051" y="387"/>
  <item x="988" y="110"/>
  <item x="416" y="0"/>
  <item x="615" y="0"/>
  <item x="1016" y="386"/>
  <item x="790" y="0"/>
  <item x="0" y="0"/>
  <item x="169" y="39"/>
  <item x="581" y="516"/>
  <item x="868" y="62"/>
  <item x="368" y="102"/>
  <item x="726" y="0"/>
  <item x="317" y="114"/>
  <item x="85" y="93"/>
  <item x="441" y="21"/>
  <item x="1075" y="37"/>
  <item x="992" y="406"/>
  <item x="373" y="177"/>
  <item x="785" y="589"/>
  <item x="58" y="497"/>
  <item x="504" y="513"/>
  <item x="726" y="520"/>
  <item x="656" y="582"/>
  <item x="954" y="406"/>
  <item x="771" y="302"/>
  <item x="402" y="658"/>
  <item x="730" y="362"/>
  <item x="621" y="520"/>
  <item x="668" y="514"/>
  <item x="0" y="555"/>
  <item x="463" y="228"/>
</location>