<location>
  <item x="562" y="173"/>
  <item x="207" y="670"/>
  <item x="345" y="316"/>
  <item x="396" y="321"/>
  <item x="230" y="625"/>
  <item x="621" y="175"/>
  <item x="636" y="164"/>
  <item x="873" y="121"/>
  <item x="1146" y="125"/>
  <item x="590" y="496"/>
  <item x="397" y="307"/>
  <item x="299" y="396"/>
  <item x="664" y="421"/>
  <item x="332" y="250"/>
  <item x="686" y="154"/>
  <item x="715" y="305"/>
  <item x="977" y="0"/>
  <item x="873" y="0"/>
  <item x="762" y="0"/>
  <item x="690" y="300"/>
  <item x="1009" y="133"/>
  <item x="1137" y="309"/>
  <item x="409" y="303"/>
  <item x="222" y="197"/>
  <item x="501" y="370"/>
  <item x="1116.05" y="158"/>
  <item x="371" y="112"/>
  <item x="748" y="423"/>
  <item x="774" y="292"/>
  <item x="482" y="313"/>
  <item x="749" y="131"/>
  <item x="920" y="477"/>
  <item x="446" y="78"/>
  <item x="781" y="128"/>
  <item x="1119" y="0"/>
  <item x="1079" y="310"/>
  <item x="639" y="272"/>
  <item x="554" y="323"/>
  <item x="1001" y="314"/>
  <item x="28" y="452"/>
  <item x="449" y="617"/>
  <item x="597" y="0"/>
  <item x="1156" y="324"/>
  <item x="300" y="154"/>
  <item x="908" y="333"/>
  <item x="660" y="535"/>
  <item x="781" y="502"/>
  <item x="103" y="414"/>
  <item x="865" y="332"/>
  <item x="921" y="145"/>
</location>