<location>
  <item x="387" y="418"/>
  <item x="670" y="0"/>
  <item x="194" y="495"/>
  <item x="224" y="265"/>
  <item x="215" y="655"/>
  <item x="307" y="657"/>
  <item x="447" y="386"/>
  <item x="339" y="656"/>
  <item x="768" y="131"/>
  <item x="476" y="501"/>
  <item x="791" y="0"/>
  <item x="601" y="0"/>
  <item x="508" y="410"/>
  <item x="500" y="395"/>
  <item x="861" y="0"/>
  <item x="555" y="409"/>
  <item x="948" y="8"/>
  <item x="423" y="547"/>
  <item x="384" y="655"/>
  <item x="910" y="319"/>
  <item x="561.5" y="367"/>
  <item x="994" y="0"/>
  <item x="910" y="304"/>
  <item x="1064" y="21"/>
  <item x="1131" y="16"/>
  <item x="595" y="386"/>
  <item x="0" y="187"/>
  <item x="228" y="199"/>
  <item x="871" y="344"/>
  <item x="843" y="286"/>
  <item x="787" y="303"/>
  <item x="651" y="413"/>
  <item x="910" y="46"/>
  <item x="948" y="0"/>
  <item x="120" y="342"/>
  <item x="507" y="95"/>
  <item x="611" y="395"/>
  <item x="699" y="379"/>
  <item x="791" y="403"/>
  <item x="328" y="183"/>
  <item x="674" y="68"/>
  <item x="765" y="351"/>
  <item x="739" y="320"/>
  <item x="354" y="122"/>
  <item x="129" y="16"/>
  <item x="199" y="54"/>
  <item x="44" y="0"/>
  <item x="104" y="0"/>
  <item x="167" y="0"/>
  <item x="67" y="208"/>
</location>