<location>
  <item x="887" y="62"/>
  <item x="491" y="306"/>
  <item x="858" y="182"/>
  <item x="536" y="298"/>
  <item x="602" y="144"/>
  <item x="789" y="19"/>
  <item x="580" y="313"/>
  <item x="22" y="0"/>
  <item x="863" y="301.5"/>
  <item x="710" y="0"/>
  <item x="395" y="661"/>
  <item x="200" y="57"/>
  <item x="782" y="624"/>
  <item x="675" y="548"/>
  <item x="477" y="28"/>
  <item x="827" y="308.5"/>
  <item x="856" y="159.5"/>
  <item x="854" y="658"/>
  <item x="631" y="310"/>
  <item x="846" y="0"/>
  <item x="699" y="291"/>
  <item x="743" y="313"/>
  <item x="783" y="285"/>
  <item x="665" y="132"/>
  <item x="812" y="225"/>
  <item x="795" y="0"/>
  <item x="88" y="422"/>
  <item x="267" y="206"/>
  <item x="805" y="307"/>
  <item x="546" y="62"/>
  <item x="588" y="415"/>
  <item x="103" y="182"/>
  <item x="886" y="684"/>
  <item x="274" y="278.5"/>
  <item x="497" y="0"/>
  <item x="336" y="275"/>
  <item x="419" y="6"/>
  <item x="38" y="3"/>
  <item x="385" y="105"/>
  <item x="129" y="12"/>
  <item x="250" y="0"/>
  <item x="772" y="439"/>
  <item x="293" y="125"/>
  <item x="353" y="0"/>
  <item x="482" y="0"/>
  <item x="468" y="399"/>
  <item x="277" y="64"/>
  <item x="635" y="0"/>
  <item x="1000" y="0"/>
  <item x="321" y="542"/>
</location>