<location>
  <item x="642" y="17"/>
  <item x="212" y="528"/>
  <item x="389" y="318"/>
  <item x="1028" y="160"/>
  <item x="413" y="263"/>
  <item x="436" y="691"/>
  <item x="815" y="241"/>
  <item x="898" y="175"/>
  <item x="555" y="382"/>
  <item x="8" y="230"/>
  <item x="874" y="294"/>
  <item x="1012" y="285"/>
  <item x="302" y="230"/>
  <item x="78" y="344"/>
  <item x="542" y="282"/>
  <item x="621" y="274"/>
  <item x="423" y="203"/>
  <item x="98" y="230"/>
  <item x="705" y="243"/>
  <item x="495" y="385"/>
  <item x="297" y="140"/>
  <item x="1101" y="93"/>
  <item x="619" y="214"/>
  <item x="1101" y="8"/>
  <item x="4" y="147"/>
  <item x="950" y="109"/>
  <item x="343" y="325"/>
  <item x="62" y="182"/>
  <item x="981" y="621"/>
  <item x="727" y="210"/>
  <item x="320" y="40"/>
  <item x="488" y="213"/>
  <item x="545" y="194"/>
  <item x="962" y="48"/>
  <item x="92" y="7"/>
  <item x="9" y="10"/>
  <item x="506" y="104"/>
  <item x="765" y="140"/>
  <item x="664" y="153"/>
  <item x="825" y="77"/>
  <item x="676" y="175"/>
  <item x="515" y="58"/>
  <item x="448" y="130"/>
  <item x="178" y="10"/>
  <item x="552" y="4"/>
  <item x="108" y="146"/>
  <item x="178" y="185"/>
  <item x="188" y="58"/>
  <item x="852" y="607"/>
  <item x="625" y="516"/>
  <item x="1015" y="409"/>
  <item x="19" y="483"/>
  <item x="580" y="649"/>
</location>