<location>
  <item x="628" y="237"/>
  <item x="518" y="604"/>
  <item x="50" y="597"/>
  <item x="1090" y="311"/>
  <item x="817" y="304"/>
  <item x="835" y="271"/>
  <item x="636" y="217"/>
  <item x="113" y="628"/>
  <item x="797" y="217"/>
  <item x="1029" y="17"/>
  <item x="225" y="13"/>
  <item x="956" y="312"/>
  <item x="1030" y="152"/>
  <item x="242" y="560"/>
  <item x="640" y="596"/>
  <item x="956" y="260"/>
  <item x="595" y="35"/>
  <item x="747" y="160"/>
  <item x="57" y="262"/>
  <item x="480" y="10"/>
  <item x="911" y="114"/>
  <item x="334" y="84"/>
  <item x="903" y="203"/>
  <item x="823" y="17"/>
  <item x="1045" y="270"/>
  <item x="947" y="137"/>
  <item x="858" y="72"/>
  <item x="934" y="13"/>
  <item x="739" y="233"/>
  <item x="533" y="337"/>
  <item x="576" y="106"/>
  <item x="402" y="86"/>
  <item x="101" y="381"/>
  <item x="363" y="11"/>
  <item x="104" y="491"/>
  <item x="702" y="76"/>
  <item x="629" y="148"/>
  <item x="381" y="471"/>
  <item x="251" y="9"/>
  <item x="664" y="12"/>
</location>