<location>
  <item x="117" y="165"/>
  <item x="0" y="159"/>
  <item x="303" y="285"/>
  <item x="442" y="312"/>
  <item x="771" y="73"/>
  <item x="706" y="267"/>
  <item x="215" y="659"/>
  <item x="400" y="267"/>
  <item x="662" y="648"/>
  <item x="222" y="58"/>
  <item x="466" y="285"/>
  <item x="1006" y="500"/>
  <item x="7" y="0"/>
  <item x="622" y="0"/>
  <item x="633" y="280"/>
  <item x="779" y="302"/>
  <item x="683" y="87"/>
  <item x="622" y="58"/>
  <item x="1106" y="0"/>
  <item x="75" y="0"/>
  <item x="654" y="716"/>
  <item x="981" y="0"/>
  <item x="672" y="244"/>
  <item x="539" y="280"/>
  <item x="465" y="30"/>
  <item x="1106" y="704"/>
  <item x="141" y="93"/>
  <item x="278" y="59"/>
  <item x="539" y="201"/>
  <item x="478" y="229"/>
  <item x="271" y="570"/>
  <item x="289" y="461"/>
  <item x="680" y="454"/>
  <item x="761" y="464"/>
  <item x="983" y="302"/>
  <item x="0" y="87"/>
  <item x="13" y="536"/>
  <item x="405" y="0"/>
  <item x="393" y="668"/>
  <item x="387" y="607"/>
  <item x="238" y="0"/>
  <item x="200" y="59"/>
  <item x="798" y="480"/>
  <item x="797" y="0"/>
  <item x="1007" y="199"/>
  <item x="1088" y="178"/>
  <item x="644" y="227"/>
  <item x="363" y="606"/>
  <item x="1105" y="54"/>
  <item x="835" y="378"/>
</location>