<location>
  <item x="1084" y="0"/>
  <item x="823" y="656"/>
  <item x="181" y="613"/>
  <item x="80" y="72"/>
  <item x="389" y="729"/>
  <item x="552" y="693"/>
  <item x="707" y="45"/>
  <item x="1137" y="685"/>
  <item x="782" y="42"/>
  <item x="1090" y="678"/>
  <item x="839" y="25"/>
  <item x="260" y="0"/>
  <item x="1078" y="461"/>
  <item x="379" y="480"/>
  <item x="767" y="546"/>
  <item x="615" y="72"/>
  <item x="906" y="480"/>
  <item x="193" y="0"/>
  <item x="735" y="571"/>
  <item x="1082" y="48"/>
  <item x="1112" y="129"/>
  <item x="767" y="52"/>
  <item x="0" y="454"/>
  <item x="235" y="14"/>
  <item x="23" y="0"/>
  <item x="552" y="442"/>
  <item x="12" y="0"/>
  <item x="3" y="56"/>
  <item x="348" y="0"/>
  <item x="140" y="0"/>
  <item x="965" y="658"/>
  <item x="457" y="0"/>
  <item x="0" y="719"/>
  <item x="519" y="1"/>
  <item x="869" y="0"/>
  <item x="637" y="27"/>
  <item x="869" y="20"/>
  <item x="910" y="0"/>
  <item x="260" y="668"/>
  <item x="1006" y="0"/>
  <item x="415" y="0"/>
  <item x="749" y="0"/>
  <item x="968" y="0"/>
  <item x="916" y="573"/>
  <item x="325" y="0"/>
  <item x="54" y="0"/>
  <item x="1046" y="0"/>
  <item x="736" y="21"/>
  <item x="213" y="0"/>
  <item x="1041" y="570"/>
</location>