<location>
  <item x="413" y="60"/>
  <item x="983" y="487"/>
  <item x="183" y="203"/>
  <item x="350" y="266"/>
  <item x="279" y="192"/>
  <item x="698" y="101"/>
  <item x="882" y="191"/>
  <item x="80" y="85"/>
  <item x="317" y="258"/>
  <item x="1081" y="462"/>
  <item x="1111" y="497"/>
  <item x="974" y="191"/>
  <item x="830" y="557"/>
  <item x="244" y="232"/>
  <item x="454" y="0"/>
  <item x="1028" y="482"/>
  <item x="783" y="394"/>
  <item x="597" y="546"/>
  <item x="479" y="49"/>
  <item x="630" y="264"/>
  <item x="493" y="39"/>
  <item x="676" y="218"/>
  <item x="1006" y="394"/>
  <item x="315" y="59"/>
  <item x="0" y="0"/>
  <item x="1047" y="646"/>
  <item x="607" y="248"/>
  <item x="237" y="73"/>
  <item x="1093" y="287"/>
  <item x="67" y="579"/>
  <item x="686" y="0"/>
  <item x="441" y="283"/>
  <item x="420" y="210"/>
  <item x="1097" y="367"/>
  <item x="490" y="205"/>
  <item x="607" y="81"/>
  <item x="898" y="0"/>
  <item x="664" y="616"/>
  <item x="983" y="0"/>
  <item x="371" y="216.5"/>
  <item x="288" y="131"/>
  <item x="594" y="277"/>
  <item x="1139" y="0"/>
  <item x="686" y="412"/>
  <item x="78" y="304"/>
  <item x="802" y="271"/>
  <item x="783" y="458"/>
  <item x="158" y="137"/>
  <item x="583" y="226"/>
  <item x="757" y="89"/>
</location>