<location>
  <item x="352" y="271"/>
  <item x="118" y="74"/>
  <item x="567" y="517"/>
  <item x="684" y="16"/>
  <item x="1049" y="254"/>
  <item x="876.5" y="352.65"/>
  <item x="540" y="70"/>
  <item x="1138" y="0"/>
  <item x="496" y="64"/>
  <item x="750" y="16"/>
  <item x="0" y="57"/>
  <item x="170" y="52"/>
  <item x="53" y="41"/>
  <item x="941" y="624"/>
  <item x="715" y="681"/>
  <item x="451" y="535"/>
  <item x="1062" y="21"/>
  <item x="570" y="30"/>
  <item x="0" y="30"/>
  <item x="1112" y="541"/>
  <item x="503" y="58"/>
  <item x="1120" y="0"/>
  <item x="851" y="120"/>
  <item x="130" y="31"/>
  <item x="965" y="297"/>
  <item x="404" y="217"/>
  <item x="778" y="548"/>
  <item x="869" y="0"/>
  <item x="985" y="460"/>
  <item x="367" y="417"/>
  <item x="307" y="65"/>
  <item x="641" y="37"/>
  <item x="965" y="14"/>
  <item x="401" y="55"/>
  <item x="366" y="50"/>
  <item x="304" y="48"/>
  <item x="79" y="0"/>
  <item x="801" y="0"/>
  <item x="607" y="0"/>
  <item x="1030" y="20"/>
  <item x="452" y="21"/>
  <item x="173" y="0"/>
  <item x="274" y="0"/>
  <item x="360" y="0"/>
  <item x="736" y="0"/>
  <item x="553" y="0"/>
  <item x="934" y="0"/>
  <item x="978" y="0"/>
  <item x="198" y="537"/>
</location>