<location>
  <item x="901" y="458"/>
  <item x="498" y="71"/>
  <item x="1064" y="211"/>
  <item x="728" y="0"/>
  <item x="1025" y="344"/>
  <item x="250" y="28"/>
  <item x="671" y="177"/>
  <item x="367" y="80"/>
  <item x="788" y="66"/>
  <item x="133" y="433"/>
  <item x="1161" y="43"/>
  <item x="104" y="723"/>
  <item x="993" y="291"/>
  <item x="303" y="678"/>
  <item x="499" y="375"/>
  <item x="728" y="604"/>
  <item x="98" y="282"/>
  <item x="313" y="642"/>
  <item x="1111" y="289"/>
  <item x="641" y="317"/>
  <item x="95" y="270"/>
  <item x="545" y="716"/>
  <item x="895" y="28"/>
  <item x="716" y="310"/>
  <item x="623" y="543"/>
  <item x="1118" y="487"/>
  <item x="0" y="170"/>
  <item x="943" y="71"/>
  <item x="82" y="659"/>
  <item x="198" y="506"/>
  <item x="788" y="736"/>
  <item x="0" y="504"/>
  <item x="264" y="125"/>
  <item x="33" y="557"/>
  <item x="761" y="399"/>
  <item x="956" y="256"/>
  <item x="0" y="0"/>
  <item x="802" y="160"/>
  <item x="117" y="61"/>
  <item x="925" y="0"/>
  <item x="620" y="86"/>
  <item x="479" y="176"/>
  <item x="472" y="117"/>
  <item x="880" y="407"/>
  <item x="382" y="510"/>
  <item x="802" y="299"/>
  <item x="500" y="331"/>
  <item x="0" y="236"/>
  <item x="725" y="607"/>
  <item x="281" y="524"/>
</location>