<location>
  <item x="1105" y="18"/>
  <item x="1059" y="234"/>
  <item x="761" y="363"/>
  <item x="674" y="374"/>
  <item x="1123" y="330"/>
  <item x="457" y="20"/>
  <item x="323" y="304"/>
  <item x="1001" y="14"/>
  <item x="992" y="235"/>
  <item x="508" y="58"/>
  <item x="691" y="358"/>
  <item x="1013" y="399.5"/>
  <item x="535" y="0"/>
  <item x="928" y="246"/>
  <item x="1019" y="219"/>
  <item x="909" y="0"/>
  <item x="271" y="294"/>
  <item x="1071" y="346"/>
  <item x="177" y="460"/>
  <item x="902" y="242"/>
  <item x="419" y="0"/>
  <item x="214.5" y="248"/>
  <item x="432" y="0"/>
  <item x="410.5" y="392"/>
  <item x="669" y="160"/>
  <item x="180" y="210"/>
  <item x="404" y="185"/>
  <item x="881" y="240"/>
  <item x="284" y="387"/>
  <item x="358" y="0"/>
  <item x="1091" y="587"/>
  <item x="107" y="364"/>
  <item x="121" y="161"/>
  <item x="871" y="75"/>
  <item x="842" y="288"/>
  <item x="202" y="367"/>
  <item x="8.5" y="66.5"/>
  <item x="598" y="113"/>
  <item x="845" y="31"/>
  <item x="564" y="111"/>
  <item x="594" y="28"/>
  <item x="716" y="370"/>
  <item x="730" y="272"/>
  <item x="498" y="427"/>
  <item x="967" y="88"/>
  <item x="309" y="43"/>
  <item x="624" y="0"/>
  <item x="778" y="421"/>
  <item x="241" y="0"/>
  <item x="151" y="69"/>
</location>