<location>
  <item x="0" y="0"/>
  <item x="81" y="280"/>
  <item x="1017" y="116"/>
  <item x="727" y="139"/>
  <item x="1065" y="100"/>
  <item x="1116" y="86"/>
  <item x="981" y="88"/>
  <item x="121" y="264"/>
  <item x="553" y="355"/>
  <item x="792" y="123"/>
  <item x="860" y="580"/>
  <item x="1239" y="126"/>
  <item x="688" y="497"/>
  <item x="586" y="211"/>
  <item x="767" y="116"/>
  <item x="75" y="252"/>
  <item x="485" y="497"/>
  <item x="645" y="148"/>
  <item x="527" y="500"/>
  <item x="1044" y="467"/>
  <item x="354" y="0"/>
  <item x="647" y="7"/>
  <item x="1192" y="72"/>
  <item x="715" y="0"/>
  <item x="10" y="269"/>
  <item x="55" y="0"/>
  <item x="0" y="538"/>
  <item x="24" y="242"/>
  <item x="342" y="9"/>
  <item x="577" y="18"/>
  <item x="790" y="0"/>
  <item x="489" y="214"/>
  <item x="998" y="386"/>
  <item x="399" y="0"/>
  <item x="97" y="0"/>
  <item x="482" y="52"/>
  <item x="163" y="0"/>
  <item x="686" y="421"/>
  <item x="388" y="221"/>
  <item x="904" y="0"/>
  <item x="131" y="134"/>
  <item x="960" y="90"/>
  <item x="241" y="0"/>
  <item x="554" y="0"/>
  <item x="432" y="0"/>
  <item x="624" y="0"/>
  <item x="1009" y="55"/>
  <item x="826" y="253"/>
  <item x="1152" y="499"/>
  <item x="1083" y="11"/>
</location>