<location>
  <item x="1103" y="240"/>
  <item x="1126" y="622"/>
  <item x="1109" y="562"/>
  <item x="1078" y="242"/>
  <item x="332" y="137"/>
  <item x="305" y="109"/>
  <item x="121" y="188"/>
  <item x="0" y="159"/>
  <item x="0" y="152"/>
  <item x="95" y="172"/>
  <item x="264" y="82"/>
  <item x="761" y="559"/>
  <item x="80" y="163"/>
  <item x="33" y="126"/>
  <item x="29" y="114"/>
  <item x="184" y="626"/>
  <item x="0" y="70"/>
  <item x="848" y="444"/>
  <item x="175" y="394"/>
  <item x="1084" y="29"/>
  <item x="0" y="736"/>
  <item x="47" y="734"/>
  <item x="267" y="0"/>
  <item x="378" y="345"/>
  <item x="175" y="0"/>
  <item x="104" y="0"/>
  <item x="22" y="0"/>
  <item x="1016" y="0"/>
  <item x="330" y="1"/>
  <item x="194" y="19"/>
  <item x="843" y="131"/>
  <item x="434" y="311"/>
  <item x="579" y="501"/>
  <item x="988" y="587"/>
  <item x="887" y="71"/>
  <item x="1115" y="0"/>
  <item x="637" y="662"/>
  <item x="805" y="212"/>
  <item x="385" y="57"/>
  <item x="467" y="692"/>
  <item x="669" y="251"/>
  <item x="386" y="0"/>
  <item x="268" y="433"/>
  <item x="507" y="229"/>
  <item x="826" y="60"/>
  <item x="945" y="0"/>
  <item x="646" y="492"/>
  <item x="76" y="497"/>
  <item x="550" y="190"/>
  <item x="760" y="714"/>
</location>