<location>
  <item x="728" y="606"/>
  <item x="794" y="682"/>
  <item x="859" y="689"/>
  <item x="426" y="128"/>
  <item x="385" y="102"/>
  <item x="244" y="268"/>
  <item x="533" y="114"/>
  <item x="1035" y="133"/>
  <item x="414" y="81"/>
  <item x="376" y="228"/>
  <item x="57" y="339"/>
  <item x="768" y="241"/>
  <item x="491" y="106"/>
  <item x="437" y="227"/>
  <item x="647" y="608"/>
  <item x="1145" y="129"/>
  <item x="0" y="164"/>
  <item x="478" y="37"/>
  <item x="924" y="689"/>
  <item x="608" y="608"/>
  <item x="574" y="98"/>
  <item x="964" y="143"/>
  <item x="739" y="235"/>
  <item x="1076" y="545"/>
  <item x="171" y="90"/>
  <item x="86" y="111"/>
  <item x="647" y="102"/>
  <item x="740" y="102"/>
  <item x="291" y="132"/>
  <item x="619" y="63"/>
  <item x="67" y="1"/>
  <item x="277" y="125"/>
  <item x="1086" y="399"/>
  <item x="54" y="686"/>
  <item x="1003" y="109"/>
  <item x="291" y="0"/>
  <item x="406" y="216"/>
  <item x="1121" y="8"/>
  <item x="897" y="121"/>
  <item x="520" y="727"/>
  <item x="1081" y="107"/>
  <item x="113" y="313"/>
  <item x="1047" y="339"/>
  <item x="995" y="38"/>
  <item x="916" y="507"/>
  <item x="816" y="0"/>
  <item x="1029" y="649"/>
  <item x="310" y="727"/>
  <item x="684" y="53"/>
  <item x="199" y="657"/>
</location>