<location>
  <item x="464" y="438"/>
  <item x="614" y="518"/>
  <item x="697" y="218"/>
  <item x="945" y="389"/>
  <item x="814" y="540"/>
  <item x="548" y="513"/>
  <item x="496" y="512"/>
  <item x="121" y="469"/>
  <item x="995" y="355"/>
  <item x="1133" y="723"/>
  <item x="1029" y="386"/>
  <item x="853" y="694"/>
  <item x="713" y="494"/>
  <item x="1126" y="364"/>
  <item x="1107" y="13"/>
  <item x="683" y="547"/>
  <item x="405" y="619"/>
  <item x="453" y="612"/>
  <item x="1049" y="295"/>
  <item x="836" y="292"/>
  <item x="1056" y="480"/>
  <item x="831" y="290"/>
  <item x="492" y="68"/>
  <item x="1030" y="722"/>
  <item x="939" y="592"/>
  <item x="330" y="205"/>
  <item x="780" y="53"/>
  <item x="1134" y="165"/>
  <item x="667" y="0"/>
  <item x="919" y="85"/>
  <item x="101" y="723"/>
  <item x="959" y="102"/>
  <item x="398" y="446"/>
  <item x="180" y="52"/>
  <item x="1018" y="71"/>
  <item x="1018" y="624"/>
  <item x="0" y="535"/>
  <item x="1003" y="292"/>
  <item x="224" y="288"/>
  <item x="939" y="546"/>
  <item x="581" y="673"/>
  <item x="959" y="210"/>
  <item x="251" y="645"/>
  <item x="320" y="70"/>
  <item x="529" y="249"/>
  <item x="452" y="734"/>
  <item x="867" y="0"/>
  <item x="224" y="25"/>
  <item x="1054" y="0"/>
  <item x="0" y="168"/>
</location>