<location>
  <item x="64" y="244"/>
  <item x="1012" y="699"/>
  <item x="358" y="0"/>
  <item x="192" y="302"/>
  <item x="420" y="0"/>
  <item x="750" y="39"/>
  <item x="160" y="272"/>
  <item x="1059" y="482"/>
  <item x="330" y="646"/>
  <item x="665" y="93"/>
  <item x="255" y="290"/>
  <item x="438" y="335"/>
  <item x="544" y="184"/>
  <item x="621" y="147"/>
  <item x="1110" y="547"/>
  <item x="148" y="714"/>
  <item x="260" y="374"/>
  <item x="531" y="279"/>
  <item x="710" y="422"/>
  <item x="993" y="612"/>
  <item x="477" y="48.5"/>
  <item x="646" y="379"/>
  <item x="512" y="474"/>
  <item x="993" y="493"/>
  <item x="860" y="170"/>
  <item x="938" y="0"/>
  <item x="977" y="237"/>
  <item x="574" y="465"/>
  <item x="640" y="469"/>
  <item x="507" y="317"/>
  <item x="1075" y="209"/>
  <item x="707" y="341"/>
  <item x="731" y="552"/>
  <item x="210" y="651"/>
  <item x="320" y="126"/>
  <item x="336" y="333"/>
  <item x="1065" y="0"/>
  <item x="228" y="340"/>
  <item x="483" y="575"/>
  <item x="1075" y="176"/>
  <item x="1109" y="75"/>
  <item x="1152" y="378"/>
  <item x="817" y="741"/>
  <item x="570" y="405"/>
  <item x="447" y="236"/>
  <item x="0" y="16"/>
  <item x="123" y="170"/>
  <item x="99" y="157"/>
  <item x="446" y="658"/>
  <item x="1069" y="629"/>
</location>