<location>
  <item x="7" y="465"/>
  <item x="663" y="476"/>
  <item x="113" y="46"/>
  <item x="1137" y="359"/>
  <item x="983" y="143"/>
  <item x="652" y="676"/>
  <item x="561" y="48"/>
  <item x="9" y="43"/>
  <item x="956" y="663"/>
  <item x="877" y="76"/>
  <item x="281" y="550"/>
  <item x="1043" y="113"/>
  <item x="43" y="18"/>
  <item x="469" y="618"/>
  <item x="1148" y="106"/>
  <item x="1023" y="82"/>
  <item x="1090" y="74"/>
  <item x="11" y="631"/>
  <item x="437" y="135"/>
  <item x="1143" y="55"/>
  <item x="1144" y="14"/>
  <item x="858" y="28"/>
  <item x="842" y="540"/>
  <item x="373" y="0"/>
  <item x="679" y="0"/>
  <item x="973" y="67"/>
  <item x="926" y="46"/>
  <item x="0" y="364"/>
  <item x="1142" y="290"/>
  <item x="191" y="20"/>
  <item x="363" y="77"/>
  <item x="491" y="571"/>
  <item x="340" y="450"/>
  <item x="791" y="0"/>
  <item x="2" y="281"/>
  <item x="592" y="548"/>
  <item x="1137" y="718"/>
  <item x="246" y="0"/>
  <item x="904" y="204"/>
  <item x="872" y="195"/>
  <item x="0" y="0"/>
  <item x="1048" y="18"/>
  <item x="162" y="330"/>
  <item x="897" y="1"/>
  <item x="106" y="6"/>
  <item x="20" y="0"/>
  <item x="825" y="596"/>
  <item x="1099" y="0"/>
  <item x="593" y="249"/>
  <item x="1046" y="498"/>
</location>