<location>
  <item x="0" y="44"/>
  <item x="1099" y="422"/>
  <item x="330" y="385"/>
  <item x="550" y="0"/>
  <item x="465" y="0"/>
  <item x="616" y="0"/>
  <item x="678" y="0"/>
  <item x="738" y="57"/>
  <item x="865" y="612"/>
  <item x="683" y="679"/>
  <item x="827" y="505"/>
  <item x="422" y="0"/>
  <item x="738" y="458"/>
  <item x="726" y="0"/>
  <item x="346" y="127"/>
  <item x="283" y="367"/>
  <item x="139" y="326"/>
  <item x="1069" y="84"/>
  <item x="601" y="296"/>
  <item x="12" y="0"/>
  <item x="1126" y="0"/>
  <item x="821" y="0"/>
  <item x="924" y="103"/>
  <item x="88" y="0"/>
  <item x="143" y="0"/>
  <item x="200" y="0"/>
  <item x="900" y="0"/>
  <item x="181" y="0"/>
  <item x="943" y="0"/>
  <item x="984" y="0"/>
  <item x="262" y="622"/>
  <item x="358" y="0"/>
  <item x="1024" y="0"/>
  <item x="1125" y="211"/>
  <item x="43" y="444"/>
  <item x="905" y="385"/>
  <item x="271" y="0"/>
  <item x="632" y="105"/>
  <item x="1086" y="0"/>
  <item x="158" y="459"/>
  <item x="745" y="592"/>
  <item x="422" y="624"/>
  <item x="129" y="552"/>
  <item x="546" y="189"/>
  <item x="590" y="0"/>
  <item x="1045" y="0"/>
  <item x="267" y="197"/>
  <item x="202" y="117"/>
  <item x="346" y="0"/>
  <item x="873" y="0"/>
</location>