<location>
  <item x="242" y="243"/>
  <item x="743" y="537"/>
  <item x="492" y="196"/>
  <item x="419" y="544"/>
  <item x="13" y="80"/>
  <item x="837" y="95"/>
  <item x="75" y="179"/>
  <item x="50" y="627"/>
  <item x="907" y="62"/>
  <item x="824" y="54"/>
  <item x="113" y="14"/>
  <item x="10" y="14"/>
  <item x="338" y="9"/>
  <item x="677" y="79"/>
  <item x="21" y="571"/>
  <item x="651" y="115"/>
  <item x="434" y="13"/>
  <item x="362" y="273"/>
  <item x="1005" y="24"/>
  <item x="223" y="118"/>
  <item x="369" y="123"/>
  <item x="139" y="64"/>
  <item x="293" y="105"/>
  <item x="1103" y="78"/>
  <item x="293" y="235"/>
  <item x="1027" y="673"/>
  <item x="830" y="480"/>
  <item x="886" y="513"/>
  <item x="553" y="171"/>
  <item x="650" y="501"/>
  <item x="769" y="81"/>
  <item x="885" y="10"/>
  <item x="540" y="548"/>
  <item x="413" y="515"/>
  <item x="553" y="176"/>
  <item x="182" y="9"/>
  <item x="724" y="10"/>
  <item x="181" y="195"/>
  <item x="308" y="164"/>
  <item x="139" y="462"/>
  <item x="563" y="120"/>
  <item x="568" y="12"/>
  <item x="437" y="80"/>
  <item x="977" y="9"/>
  <item x="312" y="644"/>
  <item x="1062" y="491"/>
  <item x="965" y="460"/>
  <item x="896" y="67"/>
</location>