<location>
  <item x="1105" y="182"/>
  <item x="425" y="747"/>
  <item x="1047" y="205"/>
  <item x="998" y="183"/>
  <item x="899" y="183"/>
  <item x="837" y="170"/>
  <item x="731" y="182"/>
  <item x="579" y="478"/>
  <item x="757" y="0"/>
  <item x="154" y="181"/>
  <item x="755" y="146"/>
  <item x="661" y="191"/>
  <item x="227" y="172"/>
  <item x="1071" y="172"/>
  <item x="663" y="273"/>
  <item x="540" y="224"/>
  <item x="529" y="211"/>
  <item x="465" y="204"/>
  <item x="557" y="208"/>
  <item x="872" y="0"/>
  <item x="824" y="747"/>
  <item x="282" y="736"/>
  <item x="1071" y="524"/>
  <item x="0" y="4"/>
  <item x="50" y="5"/>
  <item x="106" y="10"/>
  <item x="66" y="185"/>
  <item x="389" y="202"/>
  <item x="145" y="0"/>
  <item x="938" y="150"/>
  <item x="581" y="0"/>
  <item x="672" y="0"/>
  <item x="265" y="150"/>
  <item x="182" y="103"/>
  <item x="347" y="630"/>
  <item x="965" y="0"/>
  <item x="465" y="0"/>
  <item x="550" y="166"/>
  <item x="305" y="110"/>
  <item x="371" y="93"/>
  <item x="1061" y="388"/>
  <item x="523" y="154"/>
  <item x="1020" y="110"/>
  <item x="1108" y="65"/>
  <item x="865" y="109"/>
  <item x="264" y="58"/>
  <item x="632" y="64"/>
  <item x="364" y="58"/>
  <item x="1050" y="0"/>
  <item x="52" y="492"/>
</location>