<location>
  <item x="1028" y="0"/>
  <item x="857" y="0"/>
  <item x="372" y="140"/>
  <item x="671" y="409"/>
  <item x="839" y="15"/>
  <item x="714" y="133"/>
  <item x="680" y="139"/>
  <item x="1023" y="65"/>
  <item x="363" y="0"/>
  <item x="968" y="114"/>
  <item x="839" y="152"/>
  <item x="1036" y="431"/>
  <item x="430" y="171"/>
  <item x="209" y="562"/>
  <item x="181" y="0"/>
  <item x="540" y="94"/>
  <item x="338" y="15"/>
  <item x="1098" y="49"/>
  <item x="935" y="244"/>
  <item x="576" y="225"/>
  <item x="832" y="179"/>
  <item x="825" y="343"/>
  <item x="617" y="311"/>
  <item x="445" y="95"/>
  <item x="233" y="317"/>
  <item x="500" y="55"/>
  <item x="1034" y="158"/>
  <item x="760" y="0"/>
  <item x="677" y="72"/>
  <item x="269" y="535"/>
  <item x="558" y="0"/>
  <item x="513" y="423"/>
  <item x="1128" y="355"/>
  <item x="776" y="65"/>
  <item x="713" y="327"/>
  <item x="505" y="287"/>
  <item x="908" y="288"/>
  <item x="338" y="136"/>
  <item x="918" y="531"/>
  <item x="33" y="7"/>
  <item x="484" y="46"/>
  <item x="99" y="378"/>
  <item x="898" y="80"/>
  <item x="428" y="178"/>
  <item x="959" y="204"/>
  <item x="1040" y="319"/>
  <item x="487" y="0"/>
  <item x="720" y="508"/>
  <item x="382" y="363"/>
  <item x="175" y="440"/>
</location>