<location>
  <item x="864" y="44"/>
  <item x="741" y="223"/>
  <item x="1006" y="561"/>
  <item x="672" y="106"/>
  <item x="707" y="331"/>
  <item x="444" y="654"/>
  <item x="551" y="256"/>
  <item x="959" y="51"/>
  <item x="1010" y="42"/>
  <item x="668" y="246"/>
  <item x="1037" y="0"/>
  <item x="49" y="186"/>
  <item x="786" y="459"/>
  <item x="531" y="433"/>
  <item x="822" y="83"/>
  <item x="343" y="530"/>
  <item x="804" y="0"/>
  <item x="870" y="0"/>
  <item x="610" y="343"/>
  <item x="1068" y="50"/>
  <item x="828" y="326"/>
  <item x="265" y="133"/>
  <item x="374" y="155"/>
  <item x="245" y="657"/>
  <item x="894" y="711"/>
  <item x="352" y="126"/>
  <item x="348" y="157"/>
  <item x="267" y="532"/>
  <item x="546" y="158"/>
  <item x="653" y="471"/>
  <item x="547" y="99"/>
  <item x="1059" y="366"/>
  <item x="598" y="78"/>
  <item x="1029" y="471"/>
  <item x="305" y="84"/>
  <item x="786" y="243"/>
  <item x="472" y="124"/>
  <item x="421" y="97"/>
  <item x="988" y="-8"/>
  <item x="66" y="0"/>
  <item x="671" y="4"/>
  <item x="72" y="54"/>
  <item x="195" y="0"/>
  <item x="0" y="121"/>
  <item x="1123" y="45"/>
  <item x="897" y="468"/>
  <item x="514" y="25"/>
  <item x="861" y="601"/>
  <item x="16" y="693"/>
  <item x="75" y="431"/>
</location>