<location>
  <item x="347" y="307"/>
  <item x="781" y="495"/>
  <item x="906" y="681"/>
  <item x="426" y="460"/>
  <item x="818" y="432"/>
  <item x="697" y="452"/>
  <item x="674" y="680"/>
  <item x="1070" y="667"/>
  <item x="69" y="490"/>
  <item x="287" y="266"/>
  <item x="538" y="293"/>
  <item x="286" y="480"/>
  <item x="312" y="213"/>
  <item x="411" y="306"/>
  <item x="39" y="634"/>
  <item x="531" y="276"/>
  <item x="879" y="419"/>
  <item x="460" y="235"/>
  <item x="483" y="223"/>
  <item x="995" y="197"/>
  <item x="209" y="245"/>
  <item x="155" y="187"/>
  <item x="762" y="263"/>
  <item x="686" y="205"/>
  <item x="774" y="162"/>
  <item x="1046" y="210"/>
  <item x="1055" y="156"/>
  <item x="1103" y="541"/>
  <item x="817" y="5"/>
  <item x="878" y="159"/>
  <item x="234" y="221"/>
  <item x="880" y="162"/>
  <item x="484" y="51"/>
  <item x="29" y="11"/>
  <item x="603" y="171"/>
  <item x="395" y="177"/>
  <item x="212" y="42"/>
  <item x="10" y="271"/>
  <item x="495" y="680"/>
  <item x="1070" y="213"/>
</location>