<location>
  <item x="1052" y="197"/>
  <item x="590" y="699"/>
  <item x="484" y="0"/>
  <item x="31" y="536"/>
  <item x="590" y="0"/>
  <item x="525" y="647"/>
  <item x="611" y="0"/>
  <item x="1109" y="536"/>
  <item x="33" y="490"/>
  <item x="609" y="95"/>
  <item x="723" y="434"/>
  <item x="1127" y="188"/>
  <item x="321" y="712"/>
  <item x="571" y="504"/>
  <item x="134" y="0"/>
  <item x="66" y="80"/>
  <item x="874" y="424"/>
  <item x="720" y="648"/>
  <item x="61" y="689"/>
  <item x="181" y="626"/>
  <item x="668" y="421"/>
  <item x="1127" y="221"/>
  <item x="197" y="499"/>
  <item x="853" y="286"/>
  <item x="442" y="733"/>
  <item x="1082" y="0"/>
  <item x="1114" y="0"/>
  <item x="2" y="265"/>
  <item x="513" y="326"/>
  <item x="961" y="685"/>
  <item x="210" y="214"/>
  <item x="309" y="0"/>
  <item x="953" y="0"/>
  <item x="952" y="194"/>
  <item x="402" y="612"/>
  <item x="233" y="702"/>
  <item x="853" y="0"/>
  <item x="0" y="0"/>
  <item x="1052" y="594"/>
  <item x="358" y="257"/>
  <item x="926" y="438"/>
  <item x="347" y="137"/>
  <item x="109" y="519"/>
  <item x="692" y="545"/>
  <item x="488" y="247"/>
  <item x="1124" y="471"/>
  <item x="800" y="689"/>
  <item x="917" y="0"/>
  <item x="181" y="0"/>
  <item x="0" y="440"/>
</location>