<location>
  <item x="364" y="576"/>
  <item x="427" y="426"/>
  <item x="927" y="188"/>
  <item x="280" y="169"/>
  <item x="536" y="345"/>
  <item x="1119" y="683"/>
  <item x="146" y="127"/>
  <item x="1070" y="240"/>
  <item x="857" y="499"/>
  <item x="692" y="738"/>
  <item x="267" y="710"/>
  <item x="111" y="587"/>
  <item x="22" y="499"/>
  <item x="735" y="0"/>
  <item x="800" y="32"/>
  <item x="1106" y="3"/>
  <item x="427" y="97"/>
  <item x="831" y="561"/>
  <item x="57" y="102"/>
  <item x="481" y="709"/>
  <item x="617" y="0"/>
  <item x="343" y="729"/>
  <item x="927" y="0"/>
  <item x="0" y="608"/>
  <item x="127" y="0"/>
  <item x="548" y="568"/>
  <item x="0" y="0"/>
  <item x="531" y="0"/>
  <item x="432" y="229"/>
  <item x="669" y="485"/>
  <item x="425" y="0"/>
  <item x="99" y="367"/>
  <item x="194" y="0"/>
  <item x="767" y="392"/>
  <item x="624" y="0"/>
  <item x="1102" y="596"/>
  <item x="524" y="227"/>
  <item x="326" y="0"/>
  <item x="142" y="605"/>
  <item x="975" y="0"/>
  <item x="717" y="0"/>
  <item x="0" y="37"/>
  <item x="20" y="299"/>
  <item x="268" y="554"/>
  <item x="400" y="621"/>
  <item x="632" y="485"/>
  <item x="123" y="666"/>
  <item x="1080" y="0"/>
  <item x="836" y="728"/>
  <item x="807" y="234"/>
</location>