<location>
  <item x="377" y="308"/>
  <item x="172" y="192"/>
  <item x="44" y="0"/>
  <item x="400" y="642"/>
  <item x="800" y="602"/>
  <item x="278" y="0"/>
  <item x="172" y="85"/>
  <item x="130" y="0"/>
  <item x="377" y="0"/>
  <item x="44" y="85"/>
  <item x="154" y="0"/>
  <item x="209" y="297"/>
  <item x="436" y="0"/>
  <item x="1111" y="0"/>
  <item x="544" y="-10.5"/>
  <item x="294" y="0"/>
  <item x="377" y="374"/>
  <item x="1091" y="399"/>
  <item x="961" y="418"/>
  <item x="179" y="520"/>
  <item x="1091" y="588"/>
  <item x="847" y="0"/>
  <item x="625" y="0"/>
  <item x="392" y="134"/>
  <item x="532" y="22"/>
  <item x="0" y="0"/>
  <item x="996" y="0"/>
  <item x="1105" y="374"/>
  <item x="320" y="253"/>
  <item x="475" y="102"/>
  <item x="237" y="250"/>
  <item x="743" y="0"/>
  <item x="912" y="415"/>
  <item x="901" y="726"/>
  <item x="593" y="583"/>
  <item x="653" y="729"/>
  <item x="857" y="372"/>
  <item x="101" y="713"/>
  <item x="63" y="338"/>
  <item x="317" y="318"/>
  <item x="826" y="416"/>
  <item x="86" y="0"/>
  <item x="14" y="504"/>
  <item x="1013" y="397"/>
  <item x="114" y="397"/>
  <item x="204" y="712"/>
  <item x="847" y="257"/>
  <item x="813" y="0"/>
  <item x="1021" y="298"/>
  <item x="38" y="257"/>
</location>