<location>
  <item x="63" y="479"/>
  <item x="637" y="179"/>
  <item x="528" y="225"/>
  <item x="225" y="108"/>
  <item x="1108" y="155"/>
  <item x="1138" y="12"/>
  <item x="241" y="486"/>
  <item x="9" y="409"/>
  <item x="790" y="183"/>
  <item x="70" y="386"/>
  <item x="773" y="496"/>
  <item x="749" y="323"/>
  <item x="404" y="27"/>
  <item x="116" y="401"/>
  <item x="153" y="351"/>
  <item x="128" y="522"/>
  <item x="1113" y="139"/>
  <item x="265" y="308"/>
  <item x="894" y="250"/>
  <item x="547" y="160"/>
  <item x="371" y="6"/>
  <item x="944" y="537"/>
  <item x="521" y="668"/>
  <item x="554" y="9"/>
  <item x="883" y="324"/>
  <item x="51" y="475"/>
  <item x="607" y="413"/>
  <item x="331" y="179"/>
  <item x="544" y="547"/>
  <item x="455" y="341"/>
  <item x="811" y="267"/>
  <item x="404" y="261"/>
  <item x="371" y="165"/>
  <item x="424" y="147"/>
  <item x="983" y="277"/>
  <item x="1083" y="57"/>
  <item x="697" y="294"/>
  <item x="768" y="27"/>
  <item x="1022" y="461"/>
  <item x="680" y="32"/>
  <item x="9" y="188"/>
  <item x="525" y="7"/>
  <item x="9" y="101"/>
  <item x="12" y="43"/>
  <item x="25" y="7"/>
  <item x="654" y="228"/>
  <item x="96" y="7"/>
</location>