<location>
  <item x="1032" y="0"/>
  <item x="1083" y="0"/>
  <item x="801" y="728"/>
  <item x="80" y="0"/>
  <item x="454" y="67"/>
  <item x="726" y="0"/>
  <item x="232" y="0"/>
  <item x="819" y="0"/>
  <item x="738" y="97"/>
  <item x="270" y="0"/>
  <item x="1071" y="458"/>
  <item x="613" y="97"/>
  <item x="192" y="399"/>
  <item x="1067" y="297"/>
  <item x="614" y="0"/>
  <item x="676" y="573"/>
  <item x="355" y="209"/>
  <item x="977" y="387"/>
  <item x="266" y="136"/>
  <item x="871" y="319"/>
  <item x="1008" y="659"/>
  <item x="303" y="51"/>
  <item x="217" y="628"/>
  <item x="383" y="189"/>
  <item x="366" y="0"/>
  <item x="924" y="125"/>
  <item x="325" y="477"/>
  <item x="441" y="105"/>
  <item x="881" y="594"/>
  <item x="580" y="48"/>
  <item x="765" y="620"/>
  <item x="859" y="75"/>
  <item x="608" y="704"/>
  <item x="75" y="689"/>
  <item x="1044" y="722"/>
  <item x="1055" y="188"/>
  <item x="513" y="0"/>
  <item x="261" y="247"/>
  <item x="849" y="207"/>
  <item x="777" y="130"/>
  <item x="296" y="679"/>
  <item x="67" y="172"/>
  <item x="564" y="356"/>
  <item x="171" y="111"/>
  <item x="90" y="426"/>
  <item x="823" y="467"/>
  <item x="192" y="290"/>
  <item x="685" y="143"/>
  <item x="611" y="498"/>
  <item x="425" y="0"/>
</location>