<location>
  <item x="334" y="555"/>
  <item x="713" y="504"/>
  <item x="583" y="364"/>
  <item x="529" y="355"/>
  <item x="670" y="665"/>
  <item x="656" y="283"/>
  <item x="151" y="280"/>
  <item x="61" y="248"/>
  <item x="207" y="483"/>
  <item x="1043" y="0"/>
  <item x="294" y="245"/>
  <item x="735" y="664"/>
  <item x="491" y="71"/>
  <item x="370" y="242"/>
  <item x="8" y="13"/>
  <item x="458" y="452"/>
  <item x="708" y="268"/>
  <item x="779" y="235"/>
  <item x="649" y="368"/>
  <item x="174" y="712"/>
  <item x="470" y="371"/>
  <item x="718" y="357"/>
  <item x="989" y="182"/>
  <item x="1118" y="307"/>
  <item x="938" y="453"/>
  <item x="391" y="460"/>
  <item x="136" y="0"/>
  <item x="277" y="422"/>
  <item x="662" y="735"/>
  <item x="727" y="428"/>
  <item x="984" y="0"/>
  <item x="542" y="654"/>
  <item x="45" y="524"/>
  <item x="809" y="429"/>
  <item x="1008" y="196"/>
  <item x="826" y="412"/>
  <item x="799" y="39"/>
  <item x="279" y="363"/>
  <item x="0" y="137"/>
  <item x="529" y="176"/>
  <item x="894" y="431"/>
  <item x="361" y="339"/>
  <item x="124" y="213"/>
  <item x="108" y="96"/>
  <item x="591" y="0"/>
  <item x="460" y="7"/>
  <item x="1081" y="191"/>
  <item x="772" y="0"/>
  <item x="200" y="677"/>
  <item x="375" y="160.10000000000002"/>
</location>