<location>
  <item x="857" y="0"/>
  <item x="554" y="0"/>
  <item x="923" y="219"/>
  <item x="958" y="206"/>
  <item x="971" y="189"/>
  <item x="1001" y="167"/>
  <item x="1152" y="246"/>
  <item x="778" y="137"/>
  <item x="1117" y="182"/>
  <item x="1143" y="126"/>
  <item x="708" y="626"/>
  <item x="302" y="672"/>
  <item x="620" y="0"/>
  <item x="693" y="0"/>
  <item x="720" y="0"/>
  <item x="789" y="40"/>
  <item x="1094" y="714"/>
  <item x="674" y="464"/>
  <item x="1072" y="108"/>
  <item x="1113" y="57"/>
  <item x="1075" y="16"/>
  <item x="1139" y="21"/>
  <item x="987" y="142"/>
  <item x="290" y="83"/>
  <item x="411" y="100"/>
  <item x="0" y="82"/>
  <item x="1124" y="0"/>
  <item x="965" y="132"/>
  <item x="975" y="86"/>
  <item x="908" y="117"/>
  <item x="43" y="82"/>
  <item x="905" y="106"/>
  <item x="880" y="91"/>
  <item x="906" y="43"/>
  <item x="96" y="76"/>
  <item x="171" y="78"/>
  <item x="502" y="39"/>
  <item x="940" y="0"/>
  <item x="881" y="673"/>
  <item x="835" y="257"/>
  <item x="0" y="9"/>
  <item x="1038" y="0"/>
  <item x="382" y="74"/>
  <item x="121" y="41"/>
  <item x="242" y="47"/>
  <item x="612" y="92"/>
  <item x="426" y="8"/>
  <item x="91" y="14"/>
  <item x="309" y="10"/>
  <item x="890" y="496"/>
</location>