<location>
  <item x="409.5" y="644"/>
  <item x="244" y="352"/>
  <item x="947" y="0"/>
  <item x="902" y="-10"/>
  <item x="835" y="94"/>
  <item x="1083" y="0"/>
  <item x="93" y="401"/>
  <item x="114" y="309"/>
  <item x="336" y="0"/>
  <item x="915" y="497"/>
  <item x="48" y="741"/>
  <item x="566" y="493"/>
  <item x="101" y="366"/>
  <item x="947" y="104"/>
  <item x="872" y="68"/>
  <item x="212" y="375"/>
  <item x="380" y="71"/>
  <item x="244" y="0"/>
  <item x="577" y="163"/>
  <item x="751" y="0"/>
  <item x="607" y="64"/>
  <item x="1030" y="29"/>
  <item x="545" y="0"/>
  <item x="537" y="720"/>
  <item x="0" y="0"/>
  <item x="600" y="497"/>
  <item x="1136" y="72"/>
  <item x="613" y="0"/>
  <item x="879" y="497"/>
  <item x="291" y="632"/>
  <item x="1015" y="125"/>
  <item x="650" y="160"/>
  <item x="1101" y="398"/>
  <item x="96" y="0"/>
  <item x="1005" y="593"/>
  <item x="938" y="22"/>
  <item x="358" y="346"/>
  <item x="781" y="146"/>
  <item x="1088" y="160"/>
  <item x="335" y="349.5"/>
  <item x="479" y="157"/>
  <item x="16" y="0"/>
  <item x="828" y="499"/>
  <item x="869" y="690"/>
  <item x="723" y="644"/>
  <item x="712" y="434"/>
  <item x="588" y="220"/>
  <item x="780" y="498"/>
  <item x="701" y="63"/>
  <item x="303" y="539"/>
</location>