<location>
  <item x="593" y="307"/>
  <item x="375" y="557"/>
  <item x="253" y="100"/>
  <item x="247" y="206"/>
  <item x="667" y="308"/>
  <item x="336" y="78"/>
  <item x="480" y="0"/>
  <item x="467" y="239"/>
  <item x="1101" y="661"/>
  <item x="0" y="723"/>
  <item x="513" y="218"/>
  <item x="143" y="58"/>
  <item x="399" y="32"/>
  <item x="1107" y="0"/>
  <item x="372" y="729"/>
  <item x="386" y="458"/>
  <item x="753" y="0"/>
  <item x="693" y="286"/>
  <item x="222" y="73"/>
  <item x="536" y="189"/>
  <item x="571" y="169"/>
  <item x="725" y="281"/>
  <item x="550" y="19"/>
  <item x="699" y="678"/>
  <item x="798" y="558"/>
  <item x="840" y="725"/>
  <item x="653" y="0"/>
  <item x="438" y="634"/>
  <item x="1000" y="718"/>
  <item x="0" y="26"/>
  <item x="41" y="399"/>
  <item x="12" y="0"/>
  <item x="97" y="33"/>
  <item x="814" y="0"/>
  <item x="618" y="491"/>
  <item x="883" y="0"/>
  <item x="1036" y="0"/>
  <item x="579" y="0"/>
  <item x="950" y="0"/>
  <item x="69" y="287"/>
  <item x="538" y="249"/>
  <item x="274" y="53"/>
  <item x="22" y="0"/>
  <item x="105" y="0"/>
  <item x="427" y="0"/>
  <item x="184" y="33"/>
  <item x="238" y="1"/>
  <item x="27" y="143"/>
  <item x="713" y="575"/>
  <item x="311" y="0"/>
</location>