<location>
  <item x="1093" y="65"/>
  <item x="1094" y="358"/>
  <item x="381" y="218"/>
  <item x="158" y="335"/>
  <item x="66" y="617"/>
  <item x="234" y="304"/>
  <item x="626" y="114"/>
  <item x="324" y="66"/>
  <item x="11" y="132"/>
  <item x="639" y="537"/>
  <item x="261" y="273"/>
  <item x="126" y="153"/>
  <item x="52" y="27"/>
  <item x="673" y="686"/>
  <item x="313" y="218"/>
  <item x="209" y="193"/>
  <item x="50" y="34"/>
  <item x="364" y="42"/>
  <item x="23" y="552"/>
  <item x="291" y="662"/>
  <item x="386" y="125"/>
  <item x="102" y="359"/>
  <item x="20" y="348"/>
  <item x="1093" y="716"/>
  <item x="782" y="69"/>
  <item x="626" y="359"/>
  <item x="531" y="192"/>
  <item x="303" y="297"/>
  <item x="91" y="279"/>
  <item x="1052" y="520"/>
  <item x="284" y="38"/>
  <item x="1082" y="317"/>
  <item x="194" y="40"/>
  <item x="486" y="624"/>
  <item x="382" y="318"/>
  <item x="281" y="481"/>
  <item x="1083" y="523"/>
  <item x="536" y="520"/>
  <item x="322" y="731"/>
  <item x="144" y="691"/>
  <item x="835" y="607"/>
  <item x="912" y="211"/>
  <item x="755" y="343"/>
</location>