<location>
  <item x="952" y="23"/>
  <item x="6" y="1"/>
  <item x="12" y="348"/>
  <item x="37" y="0"/>
  <item x="183" y="41"/>
  <item x="619" y="687"/>
  <item x="435" y="198"/>
  <item x="274" y="41"/>
  <item x="285" y="4"/>
  <item x="187" y="0"/>
  <item x="255" y="569"/>
  <item x="923" y="406"/>
  <item x="0" y="0"/>
  <item x="834" y="468"/>
  <item x="285" y="0"/>
  <item x="410" y="0"/>
  <item x="495" y="38"/>
  <item x="465" y="0"/>
  <item x="553" y="3"/>
  <item x="594" y="0"/>
  <item x="690" y="0"/>
  <item x="23" y="670"/>
  <item x="1089" y="0"/>
  <item x="1048" y="219"/>
  <item x="1078" y="0"/>
  <item x="795" y="198"/>
  <item x="563" y="400"/>
  <item x="764" y="47"/>
  <item x="873" y="149"/>
  <item x="724" y="20"/>
  <item x="780" y="190"/>
  <item x="923" y="355"/>
  <item x="724" y="452"/>
  <item x="164" y="646"/>
  <item x="548" y="576"/>
  <item x="677" y="1"/>
  <item x="766" y="0"/>
  <item x="311" y="315"/>
  <item x="831" y="22"/>
  <item x="183" y="716"/>
  <item x="918" y="42"/>
  <item x="392" y="670"/>
  <item x="876" y="9"/>
  <item x="186" y="290"/>
  <item x="1029" y="656"/>
  <item x="1003" y="312"/>
  <item x="1063" y="409"/>
  <item x="972" y="-7"/>
  <item x="859" y="0"/>
  <item x="85" y="282"/>
</location>