<location>
  <item x="644" y="423"/>
  <item x="422" y="696"/>
  <item x="0" y="234"/>
  <item x="72" y="506"/>
  <item x="382" y="487"/>
  <item x="146" y="0"/>
  <item x="121" y="0"/>
  <item x="422" y="502"/>
  <item x="234" y="0"/>
  <item x="409" y="565"/>
  <item x="146" y="506"/>
  <item x="565" y="411"/>
  <item x="245" y="415"/>
  <item x="4" y="279"/>
  <item x="216" y="0"/>
  <item x="735" y="491"/>
  <item x="375.5" y="503"/>
  <item x="58" y="0"/>
  <item x="574" y="683"/>
  <item x="269" y="0"/>
  <item x="398" y="277"/>
  <item x="474" y="425"/>
  <item x="0" y="0"/>
  <item x="139" y="506"/>
  <item x="1057" y="0"/>
  <item x="983" y="479"/>
  <item x="1033" y="39"/>
  <item x="223" y="37"/>
  <item x="516" y="502"/>
  <item x="351" y="0"/>
  <item x="266" y="504"/>
  <item x="321" y="502"/>
  <item x="191" y="504"/>
  <item x="125" y="21"/>
  <item x="549" y="502"/>
  <item x="396" y="0"/>
  <item x="442" y="0"/>
  <item x="635" y="0"/>
  <item x="239" y="692"/>
  <item x="598" y="587"/>
  <item x="865" y="432"/>
  <item x="515" y="0"/>
  <item x="1148" y="13"/>
  <item x="979" y="0"/>
  <item x="8" y="351"/>
  <item x="759" y="0"/>
  <item x="904" y="0"/>
  <item x="600" y="501"/>
  <item x="279" y="333"/>
  <item x="764" y="697"/>
</location>