<location>
  <item x="925" y="301"/>
  <item x="399" y="47"/>
  <item x="272" y="0"/>
  <item x="588" y="262"/>
  <item x="764" y="496"/>
  <item x="802" y="21"/>
  <item x="557" y="654"/>
  <item x="391" y="410"/>
  <item x="575" y="379"/>
  <item x="74" y="0"/>
  <item x="567" y="9"/>
  <item x="256" y="609"/>
  <item x="977" y="434"/>
  <item x="740" y="43"/>
  <item x="740" y="18"/>
  <item x="505" y="43"/>
  <item x="468" y="724"/>
  <item x="765" y="235"/>
  <item x="827" y="631"/>
  <item x="859" y="9"/>
  <item x="698" y="551"/>
  <item x="219" y="464"/>
  <item x="0" y="100"/>
  <item x="1080" y="0"/>
  <item x="45" y="156"/>
  <item x="447" y="538"/>
  <item x="924" y="71"/>
  <item x="848" y="82"/>
  <item x="951" y="34"/>
  <item x="972" y="177"/>
  <item x="161" y="281"/>
  <item x="743" y="1"/>
  <item x="144" y="433"/>
  <item x="773" y="585"/>
  <item x="932" y="379"/>
  <item x="408" y="602"/>
  <item x="205" y="38"/>
  <item x="886" y="148"/>
  <item x="931" y="648"/>
  <item x="189" y="569"/>
  <item x="1050" y="0"/>
  <item x="110" y="107"/>
  <item x="323" y="456"/>
  <item x="972" y="623"/>
  <item x="272" y="532"/>
  <item x="524" y="714"/>
  <item x="273" y="548"/>
  <item x="698" y="686"/>
</location>