<location>
  <item x="212" y="705"/>
  <item x="107" y="272"/>
  <item x="298" y="294"/>
  <item x="79" y="0"/>
  <item x="136" y="275"/>
  <item x="136" y="639"/>
  <item x="1023" y="67"/>
  <item x="314" y="0"/>
  <item x="103" y="26"/>
  <item x="442" y="0"/>
  <item x="496" y="150"/>
  <item x="463" y="0"/>
  <item x="537" y="0"/>
  <item x="160" y="255"/>
  <item x="865" y="0"/>
  <item x="255" y="268"/>
  <item x="235" y="233"/>
  <item x="772" y="0"/>
  <item x="1085" y="0"/>
  <item x="1085" y="46"/>
  <item x="927" y="0"/>
  <item x="803" y="255"/>
  <item x="556" y="0"/>
  <item x="845" y="128"/>
  <item x="720" y="481"/>
  <item x="1075" y="0"/>
  <item x="201" y="260"/>
  <item x="622" y="0"/>
  <item x="730" y="-2"/>
  <item x="622" y="268"/>
  <item x="934" y="23"/>
  <item x="696" y="184"/>
  <item x="788" y="736"/>
  <item x="537" y="255"/>
  <item x="255" y="0"/>
  <item x="732" y="26"/>
  <item x="674" y="731"/>
  <item x="870" y="637"/>
  <item x="699" y="348"/>
  <item x="786" y="197"/>
  <item x="578" y="73"/>
  <item x="363" y="410"/>
  <item x="607" y="49"/>
  <item x="408" y="706"/>
  <item x="885" y="28"/>
  <item x="870" y="492"/>
  <item x="753" y="202"/>
  <item x="888" y="402"/>
  <item x="545" y="160"/>
  <item x="525" y="434"/>
</location>