<location>
  <item x="228" y="-0.5"/>
  <item x="266" y="411"/>
  <item x="1059" y="247"/>
  <item x="1014" y="223"/>
  <item x="787" y="243"/>
  <item x="1091" y="0"/>
  <item x="1117" y="247"/>
  <item x="539" y="421"/>
  <item x="224" y="269"/>
  <item x="467" y="682"/>
  <item x="80" y="356"/>
  <item x="922" y="532"/>
  <item x="985" y="235"/>
  <item x="467" y="78"/>
  <item x="1009" y="349"/>
  <item x="825" y="247"/>
  <item x="680" y="24"/>
  <item x="907" y="478"/>
  <item x="357" y="46"/>
  <item x="235" y="221"/>
  <item x="307" y="30"/>
  <item x="680" y="411"/>
  <item x="160" y="62"/>
  <item x="872" y="247"/>
  <item x="555" y="381"/>
  <item x="550" y="245"/>
  <item x="737" y="644"/>
  <item x="893" y="24"/>
  <item x="541" y="10"/>
  <item x="43" y="74"/>
  <item x="929" y="241"/>
  <item x="1028" y="0"/>
  <item x="11" y="48"/>
  <item x="855" y="182"/>
  <item x="344" y="439"/>
  <item x="383" y="260"/>
  <item x="971" y="113"/>
  <item x="413" y="245"/>
  <item x="255" y="47"/>
  <item x="518" y="443"/>
  <item x="78" y="0"/>
  <item x="101" y="349"/>
  <item x="388" y="207"/>
  <item x="772" y="569"/>
  <item x="872" y="328"/>
  <item x="792" y="0"/>
  <item x="0" y="0"/>
  <item x="402" y="0"/>
  <item x="970" y="0"/>
  <item x="537" y="185"/>
</location>