<location>
  <item x="92" y="437"/>
  <item x="952" y="138"/>
  <item x="1038" y="708"/>
  <item x="566" y="377"/>
  <item x="906" y="391"/>
  <item x="332" y="359"/>
  <item x="817" y="152"/>
  <item x="0" y="230"/>
  <item x="1077" y="157"/>
  <item x="828" y="586"/>
  <item x="92" y="120"/>
  <item x="925" y="521"/>
  <item x="47" y="699"/>
  <item x="779" y="341"/>
  <item x="170" y="3"/>
  <item x="0" y="1"/>
  <item x="938" y="447"/>
  <item x="952" y="39"/>
  <item x="1035" y="126"/>
  <item x="732" y="433"/>
  <item x="21" y="586"/>
  <item x="198" y="398"/>
  <item x="792" y="14"/>
  <item x="878" y="88"/>
  <item x="1095" y="613"/>
  <item x="840" y="248"/>
  <item x="303" y="41"/>
  <item x="1102" y="433"/>
  <item x="345" y="491"/>
  <item x="859" y="19"/>
  <item x="658" y="106"/>
  <item x="491" y="702"/>
  <item x="550" y="584"/>
  <item x="467" y="88"/>
  <item x="344" y="0"/>
  <item x="191" y="313"/>
  <item x="160" y="295"/>
  <item x="85" y="48"/>
  <item x="192" y="261"/>
  <item x="658" y="598"/>
  <item x="578" y="22"/>
  <item x="256" y="118"/>
  <item x="315" y="307"/>
  <item x="40" y="188"/>
  <item x="0" y="106"/>
  <item x="698" y="53"/>
  <item x="167" y="213"/>
  <item x="681" y="0"/>
  <item x="394" y="433"/>
  <item x="979" y="0"/>
</location>