<location>
  <item x="588" y="131"/>
  <item x="1093" y="358"/>
  <item x="1133" y="148"/>
  <item x="700" y="358"/>
  <item x="899" y="362"/>
  <item x="1036" y="107"/>
  <item x="106" y="60"/>
  <item x="174" y="204"/>
  <item x="15" y="33"/>
  <item x="93" y="90"/>
  <item x="925" y="197"/>
  <item x="701" y="94"/>
  <item x="9" y="136"/>
  <item x="96" y="176"/>
  <item x="11" y="307"/>
  <item x="70" y="335"/>
  <item x="1006" y="334"/>
  <item x="237" y="390"/>
  <item x="711" y="532"/>
  <item x="489" y="242"/>
  <item x="145" y="347"/>
  <item x="788" y="696"/>
  <item x="499" y="394"/>
  <item x="370" y="401"/>
  <item x="798" y="234"/>
  <item x="423" y="402"/>
  <item x="602" y="375"/>
  <item x="798" y="104"/>
  <item x="566" y="317"/>
  <item x="443" y="389"/>
  <item x="413" y="241"/>
  <item x="129" y="636"/>
  <item x="419" y="618"/>
  <item x="1087" y="618"/>
  <item x="192" y="113"/>
  <item x="313" y="5"/>
  <item x="327" y="80"/>
  <item x="402" y="4"/>
  <item x="412" y="31"/>
  <item x="819" y="4"/>
  <item x="314" y="4"/>
  <item x="478" y="56"/>
  <item x="705" y="7"/>
  <item x="663" y="9"/>
  <item x="481" y="10"/>
  <item x="876" y="5"/>
  <item x="285" y="317"/>
</location>