<location>
  <item x="901" y="484"/>
  <item x="1120" y="146"/>
  <item x="93" y="530"/>
  <item x="125" y="533"/>
  <item x="699" y="302"/>
  <item x="396" y="4"/>
  <item x="139" y="29"/>
  <item x="331" y="764"/>
  <item x="779" y="200"/>
  <item x="568" y="358"/>
  <item x="880" y="205"/>
  <item x="941" y="142"/>
  <item x="1117" y="334"/>
  <item x="365" y="350"/>
  <item x="245" y="360"/>
  <item x="594" y="550"/>
  <item x="825" y="781"/>
  <item x="430" y="636"/>
  <item x="521" y="545"/>
  <item x="240" y="771"/>
  <item x="60" y="151"/>
  <item x="105" y="826"/>
  <item x="323" y="515"/>
  <item x="268" y="533"/>
  <item x="209" y="526"/>
  <item x="515" y="337"/>
  <item x="428" y="336"/>
  <item x="995" y="639"/>
  <item x="579" y="296"/>
  <item x="454" y="274"/>
  <item x="198" y="325"/>
  <item x="28" y="614"/>
  <item x="458" y="522"/>
  <item x="1045" y="112"/>
  <item x="803" y="196"/>
  <item x="796" y="176"/>
  <item x="731" y="186"/>
  <item x="303" y="312"/>
  <item x="990" y="529"/>
  <item x="1032" y="450"/>
  <item x="628" y="227"/>
  <item x="119" y="296"/>
  <item x="883" y="118"/>
  <item x="906" y="630"/>
  <item x="198" y="0"/>
  <item x="0" y="0"/>
  <item x="326" y="695"/>
  <item x="442" y="703"/>
  <item x="754" y="472"/>
  <item x="28" y="237"/>
</location>