<location>
  <item x="854" y="278"/>
  <item x="684" y="453"/>
  <item x="20" y="68"/>
  <item x="675" y="607"/>
  <item x="665" y="618"/>
  <item x="874" y="189"/>
  <item x="993" y="156"/>
  <item x="41" y="60"/>
  <item x="0" y="35"/>
  <item x="614" y="283"/>
  <item x="739" y="735"/>
  <item x="960" y="263"/>
  <item x="1059" y="367"/>
  <item x="324" y="234"/>
  <item x="1141" y="236"/>
  <item x="1047" y="337"/>
  <item x="897" y="195"/>
  <item x="645" y="477"/>
  <item x="419" y="164"/>
  <item x="883" y="735"/>
  <item x="500" y="313"/>
  <item x="737" y="262"/>
  <item x="1018" y="183"/>
  <item x="628" y="268"/>
  <item x="757" y="144"/>
  <item x="233" y="703"/>
  <item x="419" y="721"/>
  <item x="799" y="453"/>
  <item x="139" y="78"/>
  <item x="149" y="236"/>
  <item x="902" y="619"/>
  <item x="831" y="798"/>
  <item x="859" y="143"/>
  <item x="97" y="225"/>
  <item x="750" y="97"/>
  <item x="426" y="499"/>
  <item x="252" y="208"/>
  <item x="508" y="432"/>
  <item x="220" y="158"/>
  <item x="897" y="285"/>
  <item x="540" y="711"/>
  <item x="92" y="38"/>
  <item x="223" y="153"/>
  <item x="571" y="178"/>
  <item x="397" y="118"/>
  <item x="489" y="674"/>
  <item x="1039" y="56"/>
  <item x="836" y="98"/>
  <item x="315" y="86"/>
  <item x="854" y="276"/>
</location>