<location>
  <item x="489" y="340"/>
  <item x="836" y="73"/>
  <item x="646" y="299"/>
  <item x="54" y="354"/>
  <item x="875" y="350"/>
  <item x="885" y="64"/>
  <item x="736" y="431"/>
  <item x="824" y="359"/>
  <item x="990" y="68"/>
  <item x="205" y="451"/>
  <item x="1130" y="221"/>
  <item x="51" y="0"/>
  <item x="140" y="200"/>
  <item x="1049" y="250"/>
  <item x="228" y="158"/>
  <item x="411" y="340"/>
  <item x="437" y="329"/>
  <item x="681" y="479"/>
  <item x="314" y="447"/>
  <item x="761" y="298"/>
  <item x="18" y="317"/>
  <item x="307" y="251"/>
  <item x="946" y="164"/>
  <item x="574" y="341"/>
  <item x="456" y="304"/>
  <item x="125" y="147"/>
  <item x="542" y="263"/>
  <item x="411" y="252"/>
  <item x="548" y="150"/>
  <item x="490" y="237"/>
  <item x="315" y="524"/>
  <item x="1100" y="172"/>
  <item x="331" y="171"/>
  <item x="203" y="0"/>
  <item x="393" y="145"/>
  <item x="450" y="149"/>
  <item x="433" y="181"/>
  <item x="0" y="46"/>
  <item x="614" y="438"/>
  <item x="660" y="110"/>
  <item x="616" y="83"/>
  <item x="736" y="532"/>
  <item x="490" y="538"/>
  <item x="610" y="156"/>
  <item x="652" y="0"/>
  <item x="786" y="244"/>
  <item x="987" y="289"/>
  <item x="180" y="147"/>
  <item x="77" y="0"/>
  <item x="361" y="1"/>
</location>