<location>
  <item x="289" y="404"/>
  <item x="429" y="260"/>
  <item x="1011" y="91"/>
  <item x="340" y="296"/>
  <item x="501" y="270"/>
  <item x="757" y="271"/>
  <item x="118" y="413"/>
  <item x="225" y="200"/>
  <item x="331" y="185"/>
  <item x="606" y="400"/>
  <item x="592" y="388"/>
  <item x="689" y="257"/>
  <item x="166" y="392"/>
  <item x="913" y="14"/>
  <item x="1092" y="406"/>
  <item x="633" y="575"/>
  <item x="725" y="341"/>
  <item x="608" y="339"/>
  <item x="166" y="365"/>
  <item x="143" y="716"/>
  <item x="1092" y="65"/>
  <item x="1049" y="59"/>
  <item x="836" y="577"/>
  <item x="1087" y="441"/>
  <item x="141" y="356"/>
  <item x="1049" y="565"/>
  <item x="859" y="751"/>
  <item x="905" y="289"/>
  <item x="0" y="29"/>
  <item x="0" y="618"/>
  <item x="473" y="199"/>
  <item x="893" y="120"/>
  <item x="1105" y="724"/>
  <item x="59" y="169"/>
  <item x="833" y="107"/>
  <item x="559" y="348"/>
  <item x="241" y="103"/>
  <item x="237" y="717"/>
  <item x="40" y="410"/>
  <item x="0" y="314"/>
  <item x="168" y="0"/>
  <item x="709" y="80"/>
  <item x="585" y="280"/>
  <item x="600" y="227"/>
  <item x="745" y="613"/>
  <item x="421" y="626"/>
  <item x="707" y="46"/>
  <item x="946" y="0"/>
  <item x="594" y="678"/>
  <item x="202" y="640"/>
</location>