<location>
  <item x="625" y="72"/>
  <item x="549" y="494"/>
  <item x="67" y="113"/>
  <item x="925" y="149"/>
  <item x="79" y="647"/>
  <item x="926" y="247"/>
  <item x="969" y="399"/>
  <item x="875" y="526"/>
  <item x="1056" y="535"/>
  <item x="0" y="0"/>
  <item x="937" y="422"/>
  <item x="957" y="677"/>
  <item x="854" y="417"/>
  <item x="617" y="8"/>
  <item x="247" y="525"/>
  <item x="354" y="224"/>
  <item x="629" y="368"/>
  <item x="1059" y="597"/>
  <item x="647" y="503"/>
  <item x="318" y="582"/>
  <item x="192" y="579"/>
  <item x="627" y="524"/>
  <item x="187" y="594"/>
  <item x="408" y="8"/>
  <item x="986" y="116"/>
  <item x="531" y="338"/>
  <item x="599" y="307"/>
  <item x="330" y="110"/>
  <item x="937" y="285"/>
  <item x="510" y="265"/>
  <item x="743" y="704"/>
  <item x="777" y="572"/>
  <item x="421" y="224"/>
  <item x="571" y="478"/>
  <item x="364" y="713"/>
  <item x="605" y="583"/>
  <item x="1106" y="653"/>
  <item x="232" y="662"/>
  <item x="405" y="387"/>
  <item x="666" y="360"/>
  <item x="294" y="459"/>
  <item x="720" y="481"/>
</location>