<location>
  <item x="140" y="620"/>
  <item x="535" y="94"/>
  <item x="971" y="176"/>
  <item x="100" y="694"/>
  <item x="477" y="194"/>
  <item x="260" y="179"/>
  <item x="334" y="138"/>
  <item x="691" y="89"/>
  <item x="747" y="79"/>
  <item x="407" y="114"/>
  <item x="121" y="377"/>
  <item x="851" y="60"/>
  <item x="234" y="139"/>
  <item x="82" y="274"/>
  <item x="549" y="246"/>
  <item x="846" y="117"/>
  <item x="1012" y="694"/>
  <item x="415" y="498"/>
  <item x="272" y="305"/>
  <item x="503" y="90"/>
  <item x="811" y="684"/>
  <item x="534" y="678"/>
  <item x="628" y="504"/>
  <item x="657" y="302"/>
  <item x="1107" y="618"/>
  <item x="1097" y="606"/>
  <item x="1098" y="51"/>
  <item x="1096" y="214"/>
  <item x="973" y="467"/>
  <item x="15" y="685"/>
  <item x="250" y="492"/>
  <item x="55" y="580"/>
  <item x="1039" y="355"/>
  <item x="87" y="173"/>
  <item x="278" y="526"/>
  <item x="1015" y="105"/>
  <item x="1056" y="317"/>
  <item x="365" y="657"/>
  <item x="239" y="599"/>
  <item x="48" y="481"/>
  <item x="8" y="149"/>
  <item x="1068" y="171"/>
  <item x="27" y="86"/>
  <item x="51" y="140"/>
  <item x="951" y="42"/>
  <item x="116" y="58"/>
  <item x="909" y="551"/>
  <item x="589" y="26"/>
  <item x="660" y="156"/>
  <item x="1093" y="114"/>
  <item x="1095" y="412"/>
  <item x="208" y="749"/>
  <item x="924" y="302"/>
  <item x="57" y="52"/>
</location>