<location>
  <item x="765" y="91"/>
  <item x="296" y="700"/>
  <item x="1" y="128"/>
  <item x="965" y="0"/>
  <item x="514" y="24"/>
  <item x="527" y="525"/>
  <item x="163" y="126"/>
  <item x="893" y="228"/>
  <item x="325" y="353"/>
  <item x="765" y="626"/>
  <item x="464" y="237"/>
  <item x="819" y="0"/>
  <item x="485" y="209"/>
  <item x="680" y="114"/>
  <item x="785" y="373"/>
  <item x="903" y="170"/>
  <item x="363" y="195"/>
  <item x="643" y="180"/>
  <item x="307" y="21"/>
  <item x="515" y="33"/>
  <item x="851" y="269"/>
  <item x="1029" y="204"/>
  <item x="874" y="292"/>
  <item x="28" y="394"/>
  <item x="177" y="227"/>
  <item x="640" y="413"/>
  <item x="1041" y="102"/>
  <item x="64" y="92"/>
  <item x="1084" y="358"/>
  <item x="617" y="306"/>
  <item x="1" y="0"/>
  <item x="22" y="301"/>
  <item x="730" y="517"/>
  <item x="192" y="12"/>
  <item x="314" y="93"/>
  <item x="1121" y="58"/>
  <item x="892" y="332"/>
  <item x="78" y="243"/>
  <item x="657" y="17"/>
  <item x="282" y="585"/>
  <item x="544" y="230"/>
  <item x="924" y="134"/>
  <item x="584" y="169"/>
  <item x="421" y="97"/>
  <item x="246" y="209"/>
  <item x="544" y="214"/>
  <item x="326" y="273"/>
  <item x="984" y="281"/>
  <item x="555" y="104"/>
  <item x="77" y="505"/>
  <item x="1084" y="264"/>
</location>