<location>
  <item x="592" y="140"/>
  <item x="925" y="411"/>
  <item x="101" y="327"/>
  <item x="43" y="270"/>
  <item x="1070" y="162"/>
  <item x="390" y="132"/>
  <item x="899" y="321"/>
  <item x="505" y="113"/>
  <item x="596" y="112"/>
  <item x="563" y="419"/>
  <item x="863" y="614"/>
  <item x="899" y="399"/>
  <item x="239" y="642"/>
  <item x="479" y="129"/>
  <item x="1073" y="131"/>
  <item x="998" y="136"/>
  <item x="1106" y="67"/>
  <item x="943" y="312"/>
  <item x="360" y="157"/>
  <item x="845" y="316"/>
  <item x="618" y="69"/>
  <item x="527" y="78"/>
  <item x="1098" y="27"/>
  <item x="101" y="264"/>
  <item x="343" y="338"/>
  <item x="1142" y="302"/>
  <item x="746" y="688"/>
  <item x="1126" y="459"/>
  <item x="0" y="229"/>
  <item x="282" y="312"/>
  <item x="1118" y="296"/>
  <item x="505" y="795"/>
  <item x="960" y="73"/>
  <item x="648" y="35"/>
  <item x="684" y="339"/>
  <item x="678" y="9"/>
  <item x="1058" y="300"/>
  <item x="751" y="307"/>
  <item x="812" y="295"/>
  <item x="170" y="509"/>
  <item x="271" y="183"/>
  <item x="230" y="294"/>
  <item x="737" y="165"/>
  <item x="0" y="473"/>
  <item x="973" y="292"/>
  <item x="809" y="155"/>
  <item x="563" y="581"/>
  <item x="27" y="87"/>
  <item x="401" y="317"/>
  <item x="185" y="88"/>
</location>