<location>
  <item x="543" y="430"/>
  <item x="596" y="397"/>
  <item x="537" y="409"/>
  <item x="597" y="358"/>
  <item x="632" y="411"/>
  <item x="463" y="337"/>
  <item x="870" y="216"/>
  <item x="589" y="655"/>
  <item x="382" y="242"/>
  <item x="1071" y="193"/>
  <item x="817" y="217"/>
  <item x="802" y="219"/>
  <item x="611" y="357"/>
  <item x="430" y="484"/>
  <item x="850" y="502"/>
  <item x="392" y="189"/>
  <item x="360" y="154"/>
  <item x="474" y="248"/>
  <item x="713" y="666"/>
  <item x="520" y="654"/>
  <item x="1131" y="396"/>
  <item x="766" y="220"/>
  <item x="762" y="36"/>
  <item x="830" y="3"/>
  <item x="708" y="14"/>
  <item x="751" y="0"/>
  <item x="769" y="683"/>
  <item x="996" y="571"/>
  <item x="927" y="37"/>
  <item x="633" y="38"/>
  <item x="546" y="53"/>
  <item x="313" y="112"/>
  <item x="499" y="177"/>
  <item x="416" y="123"/>
  <item x="685" y="263"/>
  <item x="991" y="3"/>
  <item x="654" y="0"/>
  <item x="408" y="104"/>
  <item x="285" y="62"/>
  <item x="1059" y="0"/>
  <item x="908" y="0"/>
  <item x="900" y="100"/>
  <item x="467" y="44"/>
  <item x="411" y="4"/>
  <item x="535" y="0"/>
  <item x="83" y="0"/>
  <item x="386" y="0"/>
  <item x="817" y="0"/>
  <item x="1020" y="0"/>
  <item x="268" y="0"/>
</location>