<location>
  <item x="262" y="24"/>
  <item x="368" y="43"/>
  <item x="788" y="0"/>
  <item x="706" y="43"/>
  <item x="195" y="0"/>
  <item x="454" y="308"/>
  <item x="463" y="293"/>
  <item x="610" y="263"/>
  <item x="660" y="1"/>
  <item x="565" y="530"/>
  <item x="54" y="294"/>
  <item x="368" y="43"/>
  <item x="617" y="326"/>
  <item x="231" y="449"/>
  <item x="1078" y="552"/>
  <item x="565" y="661"/>
  <item x="864" y="535"/>
  <item x="1015" y="33"/>
  <item x="890" y="0"/>
  <item x="69" y="150"/>
  <item x="18" y="498"/>
  <item x="471" y="431"/>
  <item x="362" y="627"/>
  <item x="851" y="421"/>
  <item x="111" y="307"/>
  <item x="441" y="191"/>
  <item x="381" y="59"/>
  <item x="875.5" y="566"/>
  <item x="860" y="611"/>
  <item x="423" y="252"/>
  <item x="876" y="355"/>
  <item x="80" y="275"/>
  <item x="627" y="59"/>
  <item x="423" y="187"/>
  <item x="575" y="398"/>
  <item x="457" y="64"/>
  <item x="324" y="184"/>
  <item x="170" y="1"/>
  <item x="520" y="0"/>
  <item x="1056" y="349"/>
  <item x="1107" y="339"/>
  <item x="560" y="257"/>
  <item x="340" y="246"/>
  <item x="1008" y="92"/>
  <item x="377" y="2"/>
  <item x="610" y="730"/>
  <item x="169" y="101"/>
  <item x="549" y="64"/>
  <item x="651" y="232"/>
</location>