<location>
  <item x="1034" y="387"/>
  <item x="477" y="245"/>
  <item x="558" y="347"/>
  <item x="0" y="111"/>
  <item x="76" y="137"/>
  <item x="74" y="260"/>
  <item x="1127" y="459"/>
  <item x="69" y="102"/>
  <item x="422" y="0"/>
  <item x="766" y="222"/>
  <item x="144" y="272"/>
  <item x="427" y="220"/>
  <item x="463" y="203"/>
  <item x="231" y="183"/>
  <item x="210" y="152"/>
  <item x="830" y="635"/>
  <item x="555" y="365"/>
  <item x="621" y="240"/>
  <item x="918" y="169"/>
  <item x="687" y="593"/>
  <item x="169" y="109"/>
  <item x="579" y="216"/>
  <item x="759" y="456"/>
  <item x="339" y="502"/>
  <item x="709" y="197"/>
  <item x="5" y="71"/>
  <item x="807" y="146"/>
  <item x="1014" y="619"/>
  <item x="879" y="515"/>
  <item x="359" y="622"/>
  <item x="601" y="380"/>
  <item x="1035" y="595"/>
  <item x="331" y="154"/>
  <item x="1035" y="463"/>
  <item x="325" y="45"/>
  <item x="275" y="709"/>
  <item x="809" y="452"/>
  <item x="938" y="393"/>
  <item x="625" y="710"/>
  <item x="1128" y="0"/>
  <item x="567" y="508"/>
  <item x="594" y="149"/>
  <item x="937" y="109"/>
  <item x="255" y="261"/>
  <item x="835" y="304"/>
  <item x="746" y="144"/>
  <item x="240" y="57"/>
  <item x="951" y="256"/>
  <item x="447" y="149"/>
  <item x="687" y="0"/>
</location>