<location>
  <item x="595" y="527"/>
  <item x="1049" y="528"/>
  <item x="668" y="259"/>
  <item x="184" y="0"/>
  <item x="0" y="0"/>
  <item x="1101" y="0"/>
  <item x="726" y="246"/>
  <item x="783" y="225"/>
  <item x="436" y="241"/>
  <item x="162" y="237"/>
  <item x="294" y="242"/>
  <item x="375" y="213"/>
  <item x="679" y="447"/>
  <item x="789" y="196"/>
  <item x="206" y="232"/>
  <item x="614" y="264"/>
  <item x="927" y="194"/>
  <item x="1022" y="0"/>
  <item x="507" y="206"/>
  <item x="606" y="187"/>
  <item x="25" y="152"/>
  <item x="145" y="193"/>
  <item x="954" y="360"/>
  <item x="0" y="76"/>
  <item x="247" y="182"/>
  <item x="963" y="349"/>
  <item x="412" y="489"/>
  <item x="77" y="145"/>
  <item x="419" y="178"/>
  <item x="982" y="162"/>
  <item x="694" y="131"/>
  <item x="832" y="142"/>
  <item x="176" y="165"/>
  <item x="1118" y="285"/>
  <item x="0" y="426"/>
  <item x="300" y="177"/>
  <item x="964" y="163"/>
  <item x="351" y="137"/>
  <item x="473" y="130"/>
  <item x="809" y="79"/>
  <item x="881" y="452"/>
  <item x="562" y="150"/>
  <item x="1052" y="81"/>
  <item x="863" y="47"/>
  <item x="611" y="117"/>
  <item x="760" y="353"/>
  <item x="131" y="59"/>
  <item x="501" y="566"/>
  <item x="272" y="85"/>
  <item x="711" y="0"/>
</location>