<location>
  <item x="557" y="0"/>
  <item x="834" y="709"/>
  <item x="270" y="0"/>
  <item x="889" y="147"/>
  <item x="611" y="0"/>
  <item x="742" y="240"/>
  <item x="405" y="709"/>
  <item x="337" y="0"/>
  <item x="548" y="198"/>
  <item x="706" y="222"/>
  <item x="1069" y="698"/>
  <item x="742" y="0"/>
  <item x="619" y="696"/>
  <item x="717" y="0"/>
  <item x="848" y="511"/>
  <item x="1086" y="296"/>
  <item x="18" y="32"/>
  <item x="0" y="639"/>
  <item x="235" y="257"/>
  <item x="772" y="509"/>
  <item x="326" y="417"/>
  <item x="305" y="638"/>
  <item x="993" y="248"/>
  <item x="734" y="421"/>
  <item x="959" y="631"/>
  <item x="1110" y="0"/>
  <item x="791" y="240"/>
  <item x="415" y="420"/>
  <item x="1028" y="108"/>
  <item x="630" y="238"/>
  <item x="480" y="427"/>
  <item x="1100" y="180"/>
  <item x="51" y="157"/>
  <item x="863" y="293"/>
  <item x="908" y="272"/>
  <item x="579" y="120"/>
  <item x="1028" y="177"/>
  <item x="415" y="0"/>
  <item x="194" y="0"/>
  <item x="686" y="157"/>
  <item x="606" y="94"/>
  <item x="855" y="633"/>
  <item x="646" y="578"/>
  <item x="993" y="7"/>
  <item x="134" y="0"/>
  <item x="922" y="0"/>
  <item x="230" y="612"/>
  <item x="358" y="309"/>
  <item x="567" y="175"/>
  <item x="643" y="432"/>
</location>