<location>
  <item x="75" y="382"/>
  <item x="930" y="116"/>
  <item x="397" y="709"/>
  <item x="13" y="367"/>
  <item x="0" y="605"/>
  <item x="211" y="402"/>
  <item x="890" y="210"/>
  <item x="920" y="0"/>
  <item x="65" y="107"/>
  <item x="671" y="0"/>
  <item x="37" y="0"/>
  <item x="1049" y="0"/>
  <item x="459" y="383"/>
  <item x="162" y="144"/>
  <item x="831" y="461"/>
  <item x="171" y="0"/>
  <item x="855" y="426"/>
  <item x="972" y="191"/>
  <item x="461" y="487"/>
  <item x="250" y="89"/>
  <item x="721" y="646"/>
  <item x="497" y="0"/>
  <item x="606" y="470"/>
  <item x="437" y="606"/>
  <item x="809" y="211"/>
  <item x="528" y="734"/>
  <item x="304" y="5"/>
  <item x="209" y="567"/>
  <item x="341" y="81"/>
  <item x="171" y="306"/>
  <item x="685" y="391"/>
  <item x="730" y="489"/>
  <item x="104" y="694"/>
  <item x="449" y="145"/>
  <item x="745" y="96"/>
  <item x="629" y="25"/>
  <item x="1090" y="518"/>
  <item x="137" y="583"/>
  <item x="609" y="171"/>
  <item x="671" y="490"/>
  <item x="6" y="219"/>
  <item x="675" y="95"/>
  <item x="358" y="157"/>
  <item x="421" y="585"/>
  <item x="1090" y="275"/>
  <item x="575" y="605"/>
  <item x="365" y="0"/>
  <item x="248" y="686"/>
  <item x="211" y="0"/>
  <item x="895" y="603"/>
</location>