<location>
  <item x="1092" y="17"/>
  <item x="322" y="505"/>
  <item x="434" y="259"/>
  <item x="929" y="0"/>
  <item x="481" y="367"/>
  <item x="70" y="572"/>
  <item x="1111" y="449"/>
  <item x="354" y="247"/>
  <item x="450" y="367"/>
  <item x="405" y="173"/>
  <item x="593" y="376"/>
  <item x="128" y="259"/>
  <item x="485" y="191"/>
  <item x="915" y="270"/>
  <item x="311" y="191"/>
  <item x="994" y="123"/>
  <item x="406" y="354"/>
  <item x="354" y="31"/>
  <item x="948" y="51"/>
  <item x="602" y="282"/>
  <item x="1147" y="294"/>
  <item x="761" y="605"/>
  <item x="625" y="254"/>
  <item x="656.5" y="381"/>
  <item x="234" y="64"/>
  <item x="19" y="0"/>
  <item x="297" y="607"/>
  <item x="105" y="555"/>
  <item x="133" y="0"/>
  <item x="379" y="367"/>
  <item x="1115" y="67"/>
  <item x="732" y="62"/>
  <item x="664" y="687"/>
  <item x="702" y="385"/>
  <item x="767" y="308"/>
  <item x="378" y="9"/>
  <item x="297" y="0"/>
  <item x="490" y="0"/>
  <item x="1034" y="521"/>
  <item x="627" y="0"/>
  <item x="1071.5" y="83"/>
  <item x="866" y="78"/>
  <item x="416" y="86"/>
  <item x="558" y="157"/>
  <item x="792" y="301"/>
  <item x="476" y="57"/>
  <item x="1013" y="49"/>
  <item x="122" y="139"/>
  <item x="808.5" y="393"/>
  <item x="561" y="572"/>
</location>