<location>
  <item x="903" y="625"/>
  <item x="254" y="331"/>
  <item x="472" y="339"/>
  <item x="1002" y="389"/>
  <item x="950" y="390"/>
  <item x="144" y="111"/>
  <item x="594" y="500"/>
  <item x="159" y="313"/>
  <item x="513" y="337"/>
  <item x="1114" y="549"/>
  <item x="783" y="492"/>
  <item x="244" y="413"/>
  <item x="296" y="655"/>
  <item x="1076" y="425"/>
  <item x="729" y="654"/>
  <item x="1001" y="235"/>
  <item x="85" y="87"/>
  <item x="559" y="7"/>
  <item x="1114" y="87"/>
  <item x="1065" y="6"/>
  <item x="953" y="143"/>
  <item x="1102" y="258"/>
  <item x="892" y="11"/>
  <item x="1053" y="10"/>
  <item x="972" y="84"/>
  <item x="172" y="28"/>
  <item x="714" y="212"/>
  <item x="740" y="63"/>
  <item x="867" y="72"/>
  <item x="838" y="254"/>
  <item x="948" y="59"/>
  <item x="231" y="135"/>
  <item x="693" y="404"/>
  <item x="825" y="7"/>
  <item x="629" y="19"/>
  <item x="737" y="10"/>
  <item x="324" y="40"/>
  <item x="415" y="186"/>
  <item x="358" y="6"/>
  <item x="44" y="292"/>
  <item x="603" y="605"/>
  <item x="7" y="66"/>
</location>