<location>
  <item x="0" y="56"/>
  <item x="194" y="30"/>
  <item x="359" y="181"/>
  <item x="133" y="212"/>
  <item x="144" y="164"/>
  <item x="119" y="18"/>
  <item x="165" y="118"/>
  <item x="86" y="108"/>
  <item x="1183" y="383"/>
  <item x="63" y="78"/>
  <item x="737" y="309"/>
  <item x="0" y="30"/>
  <item x="527" y="322"/>
  <item x="0" y="7"/>
  <item x="1127" y="247"/>
  <item x="1178" y="249"/>
  <item x="348" y="176"/>
  <item x="706" y="311"/>
  <item x="727" y="158"/>
  <item x="1215" y="369"/>
  <item x="974" y="324"/>
  <item x="940" y="228"/>
  <item x="824" y="147"/>
  <item x="291" y="573"/>
  <item x="1188" y="193"/>
  <item x="400" y="550"/>
  <item x="653" y="463"/>
  <item x="302" y="155"/>
  <item x="272" y="125"/>
  <item x="418" y="35"/>
  <item x="92" y="0"/>
  <item x="187" y="0"/>
  <item x="1176" y="521"/>
  <item x="864" y="82"/>
  <item x="83" y="520"/>
  <item x="664" y="323"/>
  <item x="857" y="560"/>
  <item x="653" y="48"/>
  <item x="156" y="621"/>
  <item x="404" y="417"/>
  <item x="277" y="0"/>
  <item x="1197" y="170"/>
  <item x="203" y="496"/>
  <item x="235" y="541"/>
  <item x="54" y="494"/>
  <item x="949" y="73"/>
  <item x="256" y="0"/>
</location>