<location>
  <item x="707" y="218"/>
  <item x="1118" y="450"/>
  <item x="152" y="16"/>
  <item x="215" y="117"/>
  <item x="228" y="467"/>
  <item x="551" y="355"/>
  <item x="166" y="27"/>
  <item x="290" y="346"/>
  <item x="770" y="133"/>
  <item x="1014" y="0"/>
  <item x="246" y="252"/>
  <item x="75" y="0"/>
  <item x="729" y="313"/>
  <item x="940" y="447"/>
  <item x="259" y="98"/>
  <item x="855" y="160"/>
  <item x="303" y="703"/>
  <item x="46" y="418"/>
  <item x="203" y="189"/>
  <item x="940" y="196"/>
  <item x="836" y="116"/>
  <item x="904" y="42"/>
  <item x="609" y="314"/>
  <item x="306" y="227"/>
  <item x="624" y="126"/>
  <item x="222" y="588"/>
  <item x="780" y="402"/>
  <item x="795" y="189"/>
  <item x="726" y="49"/>
  <item x="1083" y="630"/>
  <item x="303" y="60"/>
  <item x="647" y="248"/>
  <item x="262" y="164"/>
  <item x="242" y="0"/>
  <item x="832" y="17"/>
  <item x="576" y="200"/>
  <item x="342" y="126"/>
  <item x="366" y="561"/>
  <item x="440" y="123"/>
  <item x="451" y="396"/>
  <item x="839" y="267"/>
  <item x="366" y="75"/>
  <item x="179" y="453"/>
  <item x="385" y="705"/>
  <item x="925" y="379"/>
  <item x="1083" y="631"/>
  <item x="64" y="326"/>
  <item x="334" y="464"/>
  <item x="334" y="315"/>
  <item x="625" y="63"/>
</location>