<location>
  <item x="470" y="551"/>
  <item x="647" y="734"/>
  <item x="8" y="356"/>
  <item x="0" y="334"/>
  <item x="48" y="327"/>
  <item x="768" y="277"/>
  <item x="584" y="296"/>
  <item x="859" y="672"/>
  <item x="1148" y="639"/>
  <item x="387" y="430"/>
  <item x="546" y="679"/>
  <item x="752" y="643"/>
  <item x="624" y="398"/>
  <item x="297" y="691"/>
  <item x="332" y="388"/>
  <item x="779" y="371"/>
  <item x="368" y="552"/>
  <item x="48" y="666"/>
  <item x="962" y="330"/>
  <item x="648" y="274"/>
  <item x="873" y="274"/>
  <item x="189" y="388"/>
  <item x="0" y="135"/>
  <item x="59" y="0"/>
  <item x="261" y="396"/>
  <item x="1002" y="297"/>
  <item x="421" y="276"/>
  <item x="552" y="256"/>
  <item x="223" y="363"/>
  <item x="142" y="353"/>
  <item x="172" y="310"/>
  <item x="255" y="65"/>
  <item x="1114" y="74"/>
  <item x="466" y="137"/>
  <item x="843" y="233"/>
  <item x="952" y="272"/>
  <item x="704" y="218"/>
  <item x="380" y="82"/>
  <item x="419" y="726"/>
  <item x="935" y="252"/>
  <item x="115" y="309"/>
  <item x="1113" y="350"/>
  <item x="94" y="99"/>
  <item x="600" y="179"/>
  <item x="284" y="342"/>
  <item x="702" y="132"/>
  <item x="964" y="149"/>
  <item x="1133" y="545"/>
  <item x="84" y="657"/>
  <item x="927" y="0"/>
</location>