<location>
  <item x="594" y="0"/>
  <item x="652" y="0"/>
  <item x="594" y="51"/>
  <item x="272" y="664"/>
  <item x="942" y="298"/>
  <item x="375" y="506"/>
  <item x="602" y="265"/>
  <item x="751" y="0"/>
  <item x="517" y="478"/>
  <item x="585" y="394"/>
  <item x="245" y="385"/>
  <item x="702" y="197"/>
  <item x="702" y="637"/>
  <item x="1066" y="0"/>
  <item x="462" y="318"/>
  <item x="168" y="323"/>
  <item x="709" y="324"/>
  <item x="911" y="0"/>
  <item x="712" y="0"/>
  <item x="825" y="0"/>
  <item x="0" y="0"/>
  <item x="340" y="391"/>
  <item x="684" y="501"/>
  <item x="988" y="462"/>
  <item x="500" y="667"/>
  <item x="994" y="0"/>
  <item x="1083" y="360"/>
  <item x="870" y="535"/>
  <item x="444" y="141"/>
  <item x="625" y="320"/>
  <item x="56" y="0"/>
  <item x="605" y="536"/>
  <item x="496" y="0"/>
  <item x="175" y="123"/>
  <item x="485" y="201"/>
  <item x="257" y="295"/>
  <item x="408" y="567"/>
  <item x="47" y="129"/>
  <item x="498" y="54"/>
  <item x="905" y="426"/>
  <item x="90" y="0"/>
  <item x="1046" y="635"/>
  <item x="339" y="0"/>
  <item x="182" y="404"/>
  <item x="89" y="115"/>
  <item x="1034" y="0"/>
  <item x="79" y="379"/>
  <item x="418" y="0"/>
  <item x="145" y="597"/>
  <item x="804" y="126"/>
</location>