<location>
  <item x="702" y="142"/>
  <item x="1087" y="346"/>
  <item x="442" y="362"/>
  <item x="0" y="0"/>
  <item x="418" y="82"/>
  <item x="388" y="165"/>
  <item x="583" y="70"/>
  <item x="687" y="128"/>
  <item x="74" y="91"/>
  <item x="1016" y="348"/>
  <item x="783" y="34"/>
  <item x="496" y="65"/>
  <item x="1076" y="269"/>
  <item x="68" y="360"/>
  <item x="874" y="354"/>
  <item x="526" y="252"/>
  <item x="960" y="186"/>
  <item x="1016" y="295"/>
  <item x="344" y="65"/>
  <item x="850" y="213"/>
  <item x="639" y="126"/>
  <item x="1087" y="160"/>
  <item x="581" y="557"/>
  <item x="221" y="522"/>
  <item x="1139" y="238"/>
  <item x="923" y="211"/>
  <item x="1131" y="78"/>
  <item x="539" y="536"/>
  <item x="1051" y="197"/>
  <item x="337" y="-0.049999999999954525"/>
  <item x="139" y="473"/>
  <item x="295" y="170"/>
  <item x="960" y="316"/>
  <item x="317" y="600"/>
  <item x="927" y="44"/>
  <item x="944" y="112"/>
  <item x="728" y="489"/>
  <item x="573" y="714"/>
  <item x="1036" y="49"/>
  <item x="159" y="-0.049999999999954525"/>
  <item x="178" y="406"/>
  <item x="844" y="369"/>
  <item x="1140" y="0"/>
  <item x="18" y="311"/>
  <item x="608" y="352"/>
  <item x="536" y="332"/>
  <item x="777" y="372"/>
  <item x="840" y="169"/>
  <item x="331" y="355"/>
  <item x="417" y="270"/>
</location>