<location>
  <item x="313" y="480"/>
  <item x="685" y="1"/>
  <item x="968" y="312"/>
  <item x="776" y="205"/>
  <item x="698" y="315"/>
  <item x="128" y="103"/>
  <item x="938" y="40"/>
  <item x="571" y="32"/>
  <item x="-1" y="0.10000000000002274"/>
  <item x="388" y="394"/>
  <item x="1085" y="31"/>
  <item x="878" y="477"/>
  <item x="600" y="221"/>
  <item x="345" y="724"/>
  <item x="156" y="515"/>
  <item x="489" y="0"/>
  <item x="827" y="113"/>
  <item x="215" y="0"/>
  <item x="1119" y="448"/>
  <item x="435" y="67"/>
  <item x="373" y="489"/>
  <item x="194" y="389"/>
  <item x="1032" y="211"/>
  <item x="899" y="128"/>
  <item x="846" y="0"/>
  <item x="545" y="312"/>
  <item x="79" y="0"/>
  <item x="407" y="232"/>
  <item x="1059" y="684"/>
  <item x="859" y="221"/>
  <item x="973" y="1"/>
  <item x="529" y="181"/>
  <item x="435" y="0"/>
  <item x="443" y="139"/>
  <item x="1004" y="124"/>
  <item x="896" y="317"/>
  <item x="703" y="188"/>
  <item x="822" y="519"/>
  <item x="991" y="533"/>
  <item x="556.5" y="102.5"/>
  <item x="992" y="361"/>
  <item x="422" y="332"/>
  <item x="642" y="166.5"/>
  <item x="586" y="480"/>
  <item x="678" y="266"/>
  <item x="595" y="0"/>
  <item x="329" y="0"/>
  <item x="1110" y="0"/>
  <item x="8" y="347"/>
  <item x="991" y="448"/>
</location>