<location>
  <item x="1082" y="76"/>
  <item x="16" y="419"/>
  <item x="673" y="384"/>
  <item x="981" y="67"/>
  <item x="6" y="33"/>
  <item x="853" y="16"/>
  <item x="932" y="18"/>
  <item x="1154" y="45"/>
  <item x="224" y="82"/>
  <item x="1054" y="543"/>
  <item x="165" y="4"/>
  <item x="754" y="405"/>
  <item x="529" y="355"/>
  <item x="118" y="460"/>
  <item x="292" y="572"/>
  <item x="933" y="328"/>
  <item x="334" y="296"/>
  <item x="324" y="40"/>
  <item x="736" y="163"/>
  <item x="197" y="306"/>
  <item x="672" y="204"/>
  <item x="135" y="295"/>
  <item x="7" y="301"/>
  <item x="8" y="68"/>
  <item x="389" y="5"/>
  <item x="859" y="331"/>
  <item x="11" y="6"/>
  <item x="142" y="81"/>
  <item x="465" y="3"/>
  <item x="1085" y="310"/>
  <item x="466" y="343"/>
  <item x="574" y="8"/>
  <item x="383" y="92"/>
  <item x="498" y="149"/>
  <item x="1081" y="11"/>
  <item x="675" y="5"/>
  <item x="781" y="5"/>
  <item x="905" y="5"/>
  <item x="419" y="333"/>
  <item x="272" y="411"/>
  <item x="496" y="109"/>
  <item x="296" y="307"/>
  <item x="548" y="423"/>
  <item x="650" y="621"/>
  <item x="769" y="351"/>
  <item x="1020" y="321"/>
  <item x="968" y="465"/>
  <item x="440" y="470"/>
  <item x="934" y="92"/>
  <item x="563" y="300"/>
</location>