<location>
  <item x="831" y="488"/>
  <item x="1090" y="259"/>
  <item x="87" y="48"/>
  <item x="643" y="132"/>
  <item x="360" y="115"/>
  <item x="735" y="0"/>
  <item x="265" y="280"/>
  <item x="231" y="283"/>
  <item x="722" y="143"/>
  <item x="492" y="492"/>
  <item x="134" y="18"/>
  <item x="206" y="66"/>
  <item x="1104" y="464"/>
  <item x="703" y="488"/>
  <item x="370" y="78"/>
  <item x="440" y="515"/>
  <item x="1151" y="258"/>
  <item x="988" y="144"/>
  <item x="101" y="0"/>
  <item x="674" y="373"/>
  <item x="321" y="55"/>
  <item x="819" y="462"/>
  <item x="1146" y="0"/>
  <item x="97" y="248"/>
  <item x="484" y="118"/>
  <item x="410" y="117"/>
  <item x="847" y="65"/>
  <item x="394" y="503"/>
  <item x="1019" y="482"/>
  <item x="879" y="451"/>
  <item x="51" y="606"/>
  <item x="0" y="0"/>
  <item x="439" y="72"/>
  <item x="735" y="127"/>
  <item x="10" y="335"/>
  <item x="771" y="513"/>
  <item x="340" y="25"/>
  <item x="1114" y="388"/>
  <item x="369" y="59"/>
  <item x="821" y="153"/>
  <item x="731" y="90"/>
  <item x="182" y="484"/>
  <item x="831" y="0"/>
  <item x="805" y="316"/>
  <item x="613" y="291"/>
  <item x="786" y="316"/>
  <item x="606" y="528"/>
  <item x="299" y="0"/>
  <item x="573" y="451"/>
  <item x="941" y="3"/>
</location>