<location>
  <item x="513" y="392"/>
  <item x="335" y="363"/>
  <item x="621" y="48"/>
  <item x="595" y="349"/>
  <item x="476" y="363"/>
  <item x="223" y="374"/>
  <item x="435" y="321"/>
  <item x="136" y="56"/>
  <item x="695" y="321"/>
  <item x="366" y="580"/>
  <item x="188" y="213"/>
  <item x="999" y="49"/>
  <item x="454" y="275"/>
  <item x="774" y="215"/>
  <item x="515" y="664"/>
  <item x="777" y="485"/>
  <item x="332" y="327"/>
  <item x="595" y="228"/>
  <item x="732" y="162"/>
  <item x="374" y="0"/>
  <item x="762" y="275"/>
  <item x="932" y="732"/>
  <item x="567" y="292"/>
  <item x="934" y="172"/>
  <item x="507" y="172"/>
  <item x="519" y="65"/>
  <item x="762" y="68"/>
  <item x="160" y="321"/>
  <item x="644" y="532"/>
  <item x="932" y="532"/>
  <item x="414" y="0"/>
  <item x="896" y="78"/>
  <item x="891" y="3"/>
  <item x="567" y="86"/>
  <item x="665" y="342"/>
  <item x="894" y="204"/>
  <item x="674" y="11"/>
  <item x="1122" y="398"/>
  <item x="0" y="392"/>
  <item x="84" y="617"/>
  <item x="1088" y="0"/>
  <item x="609" y="446"/>
  <item x="674" y="546"/>
  <item x="621" y="162"/>
  <item x="27" y="185"/>
  <item x="991" y="0"/>
  <item x="174" y="194"/>
  <item x="1126" y="624"/>
  <item x="689" y="75"/>
  <item x="772" y="689"/>
</location>