<location>
  <item x="1041" y="0"/>
  <item x="1072" y="0"/>
  <item x="0" y="28"/>
  <item x="62" y="0"/>
  <item x="451" y="0"/>
  <item x="703" y="19"/>
  <item x="1062" y="311"/>
  <item x="632" y="12"/>
  <item x="175" y="220"/>
  <item x="450" y="370"/>
  <item x="529" y="3"/>
  <item x="1056" y="648"/>
  <item x="144" y="0"/>
  <item x="440" y="334"/>
  <item x="0" y="0"/>
  <item x="1081" y="488"/>
  <item x="302" y="344"/>
  <item x="701" y="21"/>
  <item x="298" y="0"/>
  <item x="699" y="0"/>
  <item x="783" y="595"/>
  <item x="602" y="186"/>
  <item x="1106" y="312"/>
  <item x="973" y="0"/>
  <item x="398" y="0"/>
  <item x="888" y="2"/>
  <item x="464" y="0"/>
  <item x="650" y="0"/>
  <item x="25" y="0"/>
  <item x="209" y="0"/>
  <item x="840" y="6"/>
  <item x="606" y="0"/>
  <item x="333" y="0"/>
  <item x="1124" y="22"/>
  <item x="100" y="0"/>
  <item x="267" y="0"/>
  <item x="402" y="491"/>
  <item x="340" y="0"/>
  <item x="400" y="0"/>
  <item x="825" y="260"/>
  <item x="527" y="0"/>
  <item x="781" y="0"/>
  <item x="325" y="511"/>
  <item x="883" y="0"/>
  <item x="633" y="525"/>
  <item x="583" y="0"/>
  <item x="965" y="357"/>
  <item x="884" y="354"/>
  <item x="870" y="0"/>
  <item x="643" y="0"/>
</location>