<location>
  <item x="171" y="40"/>
  <item x="477" y="360"/>
  <item x="23" y="409"/>
  <item x="101" y="155"/>
  <item x="36" y="331"/>
  <item x="214" y="213"/>
  <item x="432" y="218"/>
  <item x="417" y="694"/>
  <item x="2" y="133"/>
  <item x="171" y="356"/>
  <item x="530" y="213"/>
  <item x="168" y="672"/>
  <item x="621" y="223"/>
  <item x="807" y="331"/>
  <item x="69" y="65"/>
  <item x="10" y="13"/>
  <item x="214" y="360"/>
  <item x="516" y="204"/>
  <item x="509" y="41"/>
  <item x="618" y="17"/>
  <item x="564" y="376"/>
  <item x="586" y="204"/>
  <item x="375" y="44"/>
  <item x="689" y="580"/>
  <item x="132" y="360"/>
  <item x="178" y="580"/>
  <item x="1044" y="332"/>
  <item x="966" y="316"/>
  <item x="824" y="338"/>
  <item x="808" y="291"/>
  <item x="741" y="244"/>
  <item x="671" y="567"/>
  <item x="671" y="128"/>
  <item x="967" y="63"/>
  <item x="981" y="99"/>
  <item x="904" y="19"/>
  <item x="1085" y="73"/>
  <item x="723" y="87"/>
  <item x="758" y="101"/>
  <item x="689" y="213"/>
  <item x="854" y="92"/>
  <item x="1054" y="263"/>
  <item x="866" y="204"/>
  <item x="906" y="33"/>
  <item x="797" y="72"/>
  <item x="824" y="62"/>
  <item x="541" y="223"/>
  <item x="253" y="25"/>
  <item x="1077" y="189"/>
  <item x="550" y="369"/>
</location>