<location>
  <item x="1115" y="599"/>
  <item x="831" y="145"/>
  <item x="0" y="110"/>
  <item x="714" y="98"/>
  <item x="1113" y="251"/>
  <item x="345" y="4"/>
  <item x="315" y="304"/>
  <item x="903" y="684"/>
  <item x="149" y="0"/>
  <item x="834" y="10"/>
  <item x="652" y="215"/>
  <item x="15" y="662"/>
  <item x="888" y="336"/>
  <item x="42" y="527"/>
  <item x="0" y="240"/>
  <item x="727" y="4"/>
  <item x="1048" y="0"/>
  <item x="664" y="3"/>
  <item x="407" y="33"/>
  <item x="0" y="710"/>
  <item x="377" y="0"/>
  <item x="0" y="79"/>
  <item x="794" y="97"/>
  <item x="794" y="38"/>
  <item x="968" y="393"/>
  <item x="272" y="-10"/>
  <item x="0" y="0"/>
  <item x="1095" y="579"/>
  <item x="582" y="362"/>
  <item x="1131" y="629"/>
  <item x="471" y="-12"/>
  <item x="957" y="123"/>
  <item x="0" y="29"/>
  <item x="733" y="30"/>
  <item x="251" y="227"/>
  <item x="441" y="290"/>
  <item x="630" y="715"/>
  <item x="935" y="456"/>
  <item x="507" y="325"/>
  <item x="1022" y="214"/>
  <item x="936" y="18"/>
  <item x="1015" y="212"/>
  <item x="343" y="99"/>
  <item x="108" y="268"/>
  <item x="246" y="338"/>
  <item x="725" y="736"/>
  <item x="1087" y="15"/>
  <item x="578" y="453"/>
  <item x="203" y="349"/>
  <item x="315" y="679"/>
</location>