<location>
  <item x="550" y="0"/>
  <item x="1041" y="0"/>
  <item x="6" y="0"/>
  <item x="1025" y="103"/>
  <item x="640" y="1"/>
  <item x="806" y="0"/>
  <item x="700" y="307"/>
  <item x="87" y="0"/>
  <item x="86" y="19"/>
  <item x="906" y="499"/>
  <item x="768" y="304"/>
  <item x="445" y="68"/>
  <item x="612" y="282"/>
  <item x="0" y="440"/>
  <item x="269" y="364"/>
  <item x="690" y="51"/>
  <item x="678" y="23"/>
  <item x="357" y="331"/>
  <item x="678" y="319"/>
  <item x="175" y="11"/>
  <item x="972" y="0"/>
  <item x="958" y="64"/>
  <item x="858" y="20"/>
  <item x="236" y="0"/>
  <item x="597" y="384"/>
  <item x="814" y="77"/>
  <item x="365" y="258"/>
  <item x="777" y="51"/>
  <item x="236" y="115"/>
  <item x="466" y="50"/>
  <item x="709" y="-5"/>
  <item x="132" y="0"/>
  <item x="479" y="36"/>
  <item x="677" y="499"/>
  <item x="596.5" y="242"/>
  <item x="646" y="217"/>
  <item x="1054" y="0"/>
  <item x="558" y="12"/>
  <item x="252" y="33"/>
  <item x="579" y="537"/>
  <item x="535" y="0"/>
  <item x="318" y="141"/>
  <item x="375" y="141"/>
  <item x="639" y="0"/>
  <item x="451" y="0"/>
  <item x="427" y="77"/>
  <item x="170" y="736"/>
  <item x="445" y="0"/>
  <item x="380" y="46"/>
  <item x="365" y="0"/>
</location>