<location>
  <item x="277" y="138"/>
  <item x="1111" y="48"/>
  <item x="305" y="140"/>
  <item x="465" y="381"/>
  <item x="726" y="493"/>
  <item x="154" y="352"/>
  <item x="1105" y="406"/>
  <item x="342" y="140"/>
  <item x="66" y="30"/>
  <item x="561" y="387"/>
  <item x="1017" y="704"/>
  <item x="389" y="137"/>
  <item x="434" y="137"/>
  <item x="166" y="4"/>
  <item x="0" y="0"/>
  <item x="48" y="0"/>
  <item x="567" y="507"/>
  <item x="1107" y="0"/>
  <item x="1132" y="613"/>
  <item x="764" y="103"/>
  <item x="486" y="137"/>
  <item x="692" y="138"/>
  <item x="632" y="128"/>
  <item x="890" y="105"/>
  <item x="166" y="6"/>
  <item x="805" y="385"/>
  <item x="302" y="378"/>
  <item x="633" y="63"/>
  <item x="1049" y="64.04999999999995"/>
  <item x="524" y="133"/>
  <item x="242" y="346"/>
  <item x="302" y="351"/>
  <item x="229" y="-28"/>
  <item x="1051" y="300"/>
  <item x="610" y="423"/>
  <item x="375" y="353"/>
  <item x="991" y="0"/>
  <item x="412" y="343"/>
  <item x="313" y="18"/>
  <item x="716" y="353"/>
  <item x="507" y="348"/>
  <item x="1025" y="397"/>
  <item x="677" y="348"/>
  <item x="699" y="29"/>
  <item x="1130" y="264"/>
  <item x="574" y="127"/>
  <item x="1061" y="184"/>
  <item x="521" y="39"/>
  <item x="543" y="353"/>
  <item x="629" y="303.5"/>
</location>