<location>
  <item x="209" y="60"/>
  <item x="720" y="576"/>
  <item x="842" y="16"/>
  <item x="159" y="12"/>
  <item x="759" y="62.75"/>
  <item x="649" y="367"/>
  <item x="292" y="0"/>
  <item x="963" y="29"/>
  <item x="541" y="0"/>
  <item x="40" y="0"/>
  <item x="599" y="367"/>
  <item x="727" y="169"/>
  <item x="443" y="0"/>
  <item x="0" y="0"/>
  <item x="543" y="123"/>
  <item x="950" y="0"/>
  <item x="417" y="267"/>
  <item x="813" y="145"/>
  <item x="785" y="0"/>
  <item x="509" y="356"/>
  <item x="1069" y="194"/>
  <item x="509" y="227"/>
  <item x="551" y="367"/>
  <item x="1128" y="0"/>
  <item x="882" y="75"/>
  <item x="371" y="0"/>
  <item x="241" y="329"/>
  <item x="489" y="47"/>
  <item x="603" y="317.25"/>
  <item x="57" y="28"/>
  <item x="0" y="504"/>
  <item x="778" y="103"/>
  <item x="346" y="105"/>
  <item x="1069" y="0"/>
  <item x="705" y="62"/>
  <item x="617" y="499"/>
  <item x="423" y="548"/>
  <item x="641" y="0"/>
  <item x="329" y="66"/>
  <item x="129" y="52"/>
  <item x="1144" y="201"/>
  <item x="123" y="269"/>
  <item x="889" y="562"/>
  <item x="688" y="183"/>
  <item x="916" y="260"/>
  <item x="614" y="232"/>
  <item x="1044" y="286"/>
  <item x="311" y="222"/>
  <item x="82" y="642"/>
  <item x="188" y="90"/>
</location>