<location>
  <item x="223" y="296"/>
  <item x="1071" y="132"/>
  <item x="739" y="132"/>
  <item x="334" y="132"/>
  <item x="182" y="492"/>
  <item x="945" y="217"/>
  <item x="194" y="301"/>
  <item x="634" y="195"/>
  <item x="215" y="510"/>
  <item x="1036" y="13"/>
  <item x="964" y="517"/>
  <item x="20" y="659"/>
  <item x="509" y="273"/>
  <item x="718" y="248"/>
  <item x="697" y="517"/>
  <item x="668" y="235"/>
  <item x="407" y="193"/>
  <item x="448" y="132"/>
  <item x="202" y="659"/>
  <item x="1042" y="93"/>
  <item x="43" y="105"/>
  <item x="945" y="132"/>
  <item x="976" y="47"/>
  <item x="634" y="87"/>
  <item x="850" y="94"/>
  <item x="1113" y="639"/>
  <item x="158" y="302"/>
  <item x="389" y="348"/>
  <item x="40" y="268"/>
  <item x="841" y="199"/>
  <item x="1086" y="263"/>
  <item x="92" y="173"/>
  <item x="172" y="114"/>
  <item x="483" y="268"/>
  <item x="880" y="29"/>
  <item x="1113" y="13"/>
  <item x="20" y="188"/>
  <item x="770" y="52"/>
  <item x="1071" y="404"/>
  <item x="862.5" y="685.1"/>
  <item x="988" y="0"/>
  <item x="562" y="143"/>
  <item x="532" y="0"/>
  <item x="336" y="637"/>
  <item x="268" y="163"/>
  <item x="578" y="433"/>
  <item x="0" y="48"/>
  <item x="367" y="19"/>
  <item x="739" y="568"/>
</location>