<location>
  <item x="575" y="22"/>
  <item x="426" y="304"/>
  <item x="65" y="9"/>
  <item x="204" y="127"/>
  <item x="306" y="72"/>
  <item x="216" y="230"/>
  <item x="200" y="213"/>
  <item x="88" y="288"/>
  <item x="919" y="182"/>
  <item x="533" y="128"/>
  <item x="606" y="615"/>
  <item x="624" y="288"/>
  <item x="0" y="0"/>
  <item x="935" y="36"/>
  <item x="963" y="1"/>
  <item x="673" y="336"/>
  <item x="522" y="559"/>
  <item x="1054" y="69"/>
  <item x="801" y="215"/>
  <item x="1054" y="394"/>
  <item x="1037" y="1"/>
  <item x="488" y="303"/>
  <item x="533" y="289"/>
  <item x="328" y="277"/>
  <item x="1133" y="23"/>
  <item x="892" y="150"/>
  <item x="509" y="8"/>
  <item x="714" y="21"/>
  <item x="486" y="50"/>
  <item x="509" y="288"/>
  <item x="386" y="559"/>
  <item x="20" y="369"/>
  <item x="809" y="40"/>
  <item x="624" y="269"/>
  <item x="1132" y="190"/>
  <item x="399" y="9"/>
  <item x="920" y="429"/>
  <item x="27" y="414"/>
  <item x="1138" y="10"/>
  <item x="439" y="255"/>
  <item x="329" y="0"/>
  <item x="744" y="518"/>
  <item x="571" y="269"/>
  <item x="955" y="161"/>
  <item x="694" y="644"/>
  <item x="414" y="87"/>
  <item x="14" y="303"/>
  <item x="865" y="51"/>
  <item x="756" y="36"/>
  <item x="583" y="718"/>
</location>