<location>
  <item x="842" y="194"/>
  <item x="804" y="0"/>
  <item x="155" y="0"/>
  <item x="335" y="718"/>
  <item x="431" y="130"/>
  <item x="98" y="434"/>
  <item x="442" y="195"/>
  <item x="480" y="303"/>
  <item x="682" y="88"/>
  <item x="423" y="300"/>
  <item x="0" y="0"/>
  <item x="219" y="326"/>
  <item x="145" y="0"/>
  <item x="1089" y="369"/>
  <item x="938" y="538"/>
  <item x="0" y="307"/>
  <item x="1012" y="0"/>
  <item x="14" y="117"/>
  <item x="499" y="185"/>
  <item x="44" y="59"/>
  <item x="809" y="192"/>
  <item x="601" y="383"/>
  <item x="722" y="75"/>
  <item x="674" y="303"/>
  <item x="1133" y="199"/>
  <item x="905" y="218"/>
  <item x="0" y="369"/>
  <item x="884" y="-14"/>
  <item x="817" y="49"/>
  <item x="169" y="100"/>
  <item x="948" y="174"/>
  <item x="0" y="111"/>
  <item x="466" y="267"/>
  <item x="641" y="76"/>
  <item x="1060" y="165"/>
  <item x="265" y="53"/>
  <item x="578" y="322"/>
  <item x="491" y="20"/>
  <item x="731" y="593"/>
  <item x="302" y="236"/>
  <item x="568" y="143"/>
  <item x="742" y="323"/>
  <item x="251" y="153"/>
  <item x="1027" y="255"/>
  <item x="1112" y="5"/>
  <item x="261" y="16"/>
  <item x="158" y="165"/>
  <item x="226" y="688"/>
  <item x="507" y="0"/>
  <item x="774" y="100"/>
</location>