<location>
  <item x="155" y="283"/>
  <item x="811" y="564"/>
  <item x="872" y="237"/>
  <item x="1022" y="233"/>
  <item x="384" y="372"/>
  <item x="601" y="553"/>
  <item x="1073" y="141"/>
  <item x="861" y="181"/>
  <item x="101" y="258"/>
  <item x="266" y="281"/>
  <item x="813" y="272"/>
  <item x="874" y="344"/>
  <item x="766" y="217"/>
  <item x="620" y="2"/>
  <item x="601" y="319"/>
  <item x="532" y="94"/>
  <item x="399" y="517"/>
  <item x="425" y="301"/>
  <item x="193" y="232"/>
  <item x="652" y="312"/>
  <item x="665" y="212"/>
  <item x="309" y="226"/>
  <item x="366" y="147"/>
  <item x="397" y="224"/>
  <item x="472" y="226"/>
  <item x="578" y="207"/>
  <item x="182" y="162"/>
  <item x="87" y="543"/>
  <item x="100" y="638"/>
  <item x="543" y="403"/>
  <item x="5" y="35"/>
  <item x="109" y="152"/>
  <item x="238" y="107"/>
  <item x="624" y="147"/>
  <item x="972" y="181"/>
  <item x="453" y="172"/>
  <item x="482" y="325"/>
  <item x="724" y="147"/>
  <item x="901" y="113"/>
  <item x="560" y="277"/>
  <item x="92" y="5"/>
  <item x="398" y="95"/>
  <item x="923" y="247"/>
  <item x="449" y="69"/>
  <item x="285" y="37"/>
  <item x="781" y="147"/>
  <item x="582" y="59"/>
  <item x="1032" y="129"/>
  <item x="333" y="7"/>
  <item x="811" y="47"/>
  <item x="462" y="8"/>
  <item x="665" y="67"/>
  <item x="745" y="5"/>
  <item x="198" y="585"/>
  <item x="933" y="46"/>
  <item x="228" y="19"/>
  <item x="810" y="3"/>
  <item x="1057" y="57"/>
  <item x="1069" y="8"/>
</location>