<location>
  <item x="107" y="0"/>
  <item x="145" y="31"/>
  <item x="275" y="105"/>
  <item x="280" y="558"/>
  <item x="696" y="247"/>
  <item x="229" y="0"/>
  <item x="119" y="258"/>
  <item x="138" y="577"/>
  <item x="152" y="250"/>
  <item x="287" y="204"/>
  <item x="295" y="0"/>
  <item x="1014" y="667"/>
  <item x="925" y="523"/>
  <item x="918" y="380"/>
  <item x="708" y="291"/>
  <item x="756" y="720"/>
  <item x="61" y="354"/>
  <item x="1054" y="0"/>
  <item x="370" y="5"/>
  <item x="1033" y="0"/>
  <item x="250" y="373"/>
  <item x="835" y="0"/>
  <item x="1121" y="288"/>
  <item x="730" y="409"/>
  <item x="899" y="0"/>
  <item x="201" y="135"/>
  <item x="11" y="0"/>
  <item x="524" y="186"/>
  <item x="74" y="247"/>
  <item x="0" y="0"/>
  <item x="234" y="522"/>
  <item x="841" y="275"/>
  <item x="635" y="177"/>
  <item x="259" y="230"/>
  <item x="207" y="54"/>
  <item x="784" y="399"/>
  <item x="404" y="591"/>
  <item x="494" y="0"/>
  <item x="613" y="153"/>
  <item x="843" y="160"/>
  <item x="957" y="324"/>
  <item x="385" y="215"/>
  <item x="385" y="0"/>
  <item x="432" y="35"/>
  <item x="619" y="0"/>
  <item x="683" y="94"/>
  <item x="628" y="94"/>
  <item x="669" y="276"/>
  <item x="403" y="53"/>
  <item x="939" y="0"/>
</location>