<location>
  <item x="0" y="0"/>
  <item x="46" y="0"/>
  <item x="547" y="420"/>
  <item x="195" y="31"/>
  <item x="241" y="28"/>
  <item x="420" y="249"/>
  <item x="580" y="422"/>
  <item x="113" y="20"/>
  <item x="1119" y="194"/>
  <item x="938" y="309"/>
  <item x="1064" y="735"/>
  <item x="258" y="541"/>
  <item x="1056" y="0"/>
  <item x="489" y="215"/>
  <item x="560" y="191"/>
  <item x="129" y="0"/>
  <item x="721" y="307"/>
  <item x="782" y="686"/>
  <item x="865" y="43"/>
  <item x="743" y="189"/>
  <item x="702" y="405"/>
  <item x="466" y="197"/>
  <item x="789" y="0"/>
  <item x="976" y="247"/>
  <item x="862" y="313"/>
  <item x="306" y="0"/>
  <item x="928" y="215"/>
  <item x="1089" y="624"/>
  <item x="893" y="139"/>
  <item x="933" y="50"/>
  <item x="641" y="200"/>
  <item x="800" y="156"/>
  <item x="675" y="306"/>
  <item x="516" y="153"/>
  <item x="1037" y="552"/>
  <item x="649" y="169"/>
  <item x="993" y="0"/>
  <item x="386" y="0"/>
  <item x="46" y="580"/>
  <item x="1049" y="232"/>
  <item x="476" y="56"/>
  <item x="688" y="120"/>
  <item x="1021" y="119"/>
  <item x="664" y="76"/>
  <item x="577" y="32"/>
  <item x="478" y="0"/>
  <item x="377" y="223"/>
  <item x="700" y="0"/>
  <item x="178" y="568"/>
  <item x="149" y="429"/>
</location>