<location>
  <item x="793" y="252"/>
  <item x="218" y="79"/>
  <item x="210" y="6"/>
  <item x="6" y="83"/>
  <item x="1035" y="239"/>
  <item x="12" y="56"/>
  <item x="102" y="200"/>
  <item x="863" y="253"/>
  <item x="946" y="253"/>
  <item x="48" y="254"/>
  <item x="1116" y="235"/>
  <item x="634" y="463"/>
  <item x="103" y="318"/>
  <item x="292" y="217"/>
  <item x="1128" y="11"/>
  <item x="844" y="131"/>
  <item x="1111" y="99"/>
  <item x="659" y="0"/>
  <item x="645" y="260"/>
  <item x="244" y="229"/>
  <item x="100" y="648"/>
  <item x="441" y="243"/>
  <item x="940" y="297"/>
  <item x="70" y="51"/>
  <item x="790" y="289"/>
  <item x="390" y="254"/>
  <item x="152" y="224"/>
  <item x="686" y="181"/>
  <item x="373" y="229"/>
  <item x="40" y="51"/>
  <item x="226" y="326"/>
  <item x="390" y="123"/>
  <item x="556" y="186"/>
  <item x="967" y="136"/>
  <item x="489" y="152"/>
  <item x="928" y="98"/>
  <item x="25" y="211"/>
  <item x="1057" y="118"/>
  <item x="537" y="141"/>
  <item x="929" y="428"/>
  <item x="523" y="11"/>
  <item x="944" y="662"/>
  <item x="841" y="76"/>
  <item x="17" y="328"/>
  <item x="479" y="254"/>
  <item x="634" y="162"/>
  <item x="192" y="42"/>
  <item x="996" y="65"/>
  <item x="448" y="600"/>
  <item x="295" y="502"/>
  <item x="614" y="600"/>
</location>