<location>
  <item x="162" y="291"/>
  <item x="474" y="514"/>
  <item x="0" y="0"/>
  <item x="1026" y="690"/>
  <item x="909" y="275"/>
  <item x="552" y="0"/>
  <item x="244" y="475"/>
  <item x="340" y="247"/>
  <item x="276" y="246"/>
  <item x="776" y="238"/>
  <item x="70" y="0"/>
  <item x="737" y="518"/>
  <item x="115" y="0"/>
  <item x="468" y="291"/>
  <item x="1156" y="582"/>
  <item x="297" y="640"/>
  <item x="572" y="512"/>
  <item x="691" y="262"/>
  <item x="863" y="0"/>
  <item x="958" y="264"/>
  <item x="642" y="162"/>
  <item x="976" y="0"/>
  <item x="162" y="0"/>
  <item x="1110" y="281"/>
  <item x="714" y="191"/>
  <item x="420" y="255"/>
  <item x="816" y="275"/>
  <item x="1157" y="262"/>
  <item x="458" y="0"/>
  <item x="308" y="505"/>
  <item x="746" y="150"/>
  <item x="523" y="284"/>
  <item x="623" y="121"/>
  <item x="1058" y="202"/>
  <item x="1095" y="0"/>
  <item x="800" y="0"/>
  <item x="363" y="0"/>
  <item x="389" y="266"/>
  <item x="253" y="30"/>
  <item x="495" y="0"/>
  <item x="206" y="247"/>
  <item x="496" y="277"/>
  <item x="642" y="458"/>
  <item x="666" y="0"/>
  <item x="312" y="255"/>
  <item x="763" y="399"/>
  <item x="576" y="587"/>
  <item x="650" y="353"/>
  <item x="895" y="383"/>
  <item x="399" y="399"/>
</location>