<location>
  <item x="653" y="331"/>
  <item x="63" y="312"/>
  <item x="745" y="308"/>
  <item x="747" y="381"/>
  <item x="0" y="429"/>
  <item x="59" y="157"/>
  <item x="1046" y="236"/>
  <item x="149" y="241"/>
  <item x="672" y="298"/>
  <item x="128" y="126"/>
  <item x="793" y="721"/>
  <item x="832" y="313"/>
  <item x="612" y="331"/>
  <item x="431" y="378"/>
  <item x="947" y="402"/>
  <item x="100" y="117"/>
  <item x="434" y="689"/>
  <item x="622" y="686"/>
  <item x="499" y="488"/>
  <item x="958" y="605"/>
  <item x="39" y="643"/>
  <item x="870" y="212"/>
  <item x="1081" y="152"/>
  <item x="258" y="281"/>
  <item x="667" y="488"/>
  <item x="456" y="354"/>
  <item x="532" y="337"/>
  <item x="270" y="714"/>
  <item x="845" y="478"/>
  <item x="1032" y="117"/>
  <item x="304" y="247"/>
  <item x="382" y="265"/>
  <item x="434" y="132"/>
  <item x="477" y="247"/>
  <item x="0" y="0"/>
  <item x="581" y="440"/>
  <item x="972" y="388"/>
  <item x="736" y="210"/>
  <item x="604" y="203"/>
  <item x="339" y="567"/>
  <item x="1075" y="702"/>
  <item x="947" y="0"/>
  <item x="369" y="40"/>
  <item x="448" y="0"/>
  <item x="572" y="0"/>
  <item x="925" y="185"/>
  <item x="119" y="686"/>
  <item x="15" y="0"/>
  <item x="1021" y="0"/>
</location>