<location>
  <item x="971" y="269"/>
  <item x="526" y="396"/>
  <item x="318" y="282"/>
  <item x="237" y="250"/>
  <item x="752" y="426"/>
  <item x="628" y="365"/>
  <item x="797" y="320"/>
  <item x="818" y="285"/>
  <item x="877" y="255"/>
  <item x="470" y="318"/>
  <item x="592" y="326"/>
  <item x="1127" y="536"/>
  <item x="676" y="324"/>
  <item x="948" y="0"/>
  <item x="1051" y="0"/>
  <item x="931" y="238"/>
  <item x="197" y="223"/>
  <item x="598" y="300"/>
  <item x="742" y="284"/>
  <item x="0" y="18"/>
  <item x="185" y="409"/>
  <item x="153" y="401"/>
  <item x="153" y="191"/>
  <item x="682" y="563"/>
  <item x="658" y="640"/>
  <item x="432" y="306"/>
  <item x="882" y="0"/>
  <item x="97" y="390"/>
  <item x="940" y="636"/>
  <item x="783" y="261"/>
  <item x="524" y="293"/>
  <item x="562" y="250"/>
  <item x="870" y="582"/>
  <item x="1133" y="56"/>
  <item x="532" y="648"/>
  <item x="274" y="220"/>
  <item x="910" y="452"/>
  <item x="44" y="378"/>
  <item x="757" y="501"/>
  <item x="31" y="0"/>
  <item x="64" y="541"/>
  <item x="379" y="198"/>
  <item x="922" y="193"/>
  <item x="38" y="489"/>
  <item x="141" y="49"/>
  <item x="1058" y="360"/>
  <item x="738" y="170"/>
  <item x="620" y="116"/>
  <item x="1125" y="296"/>
  <item x="485" y="0"/>
</location>