<location>
  <item x="351" y="630"/>
  <item x="99" y="353"/>
  <item x="6" y="197"/>
  <item x="645" y="284"/>
  <item x="6" y="533"/>
  <item x="314" y="479"/>
  <item x="119" y="407"/>
  <item x="233" y="474"/>
  <item x="72" y="720"/>
  <item x="368" y="445"/>
  <item x="314" y="136"/>
  <item x="93" y="205"/>
  <item x="501" y="169"/>
  <item x="225" y="196"/>
  <item x="609" y="564"/>
  <item x="331" y="71"/>
  <item x="1063" y="33"/>
  <item x="8" y="101"/>
  <item x="8" y="10"/>
  <item x="935" y="7"/>
  <item x="127" y="85"/>
  <item x="153" y="5"/>
  <item x="263" y="122"/>
  <item x="330" y="6"/>
  <item x="485" y="7"/>
  <item x="755" y="124"/>
  <item x="631" y="135"/>
  <item x="997" y="475"/>
  <item x="631" y="101"/>
  <item x="493" y="62"/>
  <item x="631" y="7"/>
  <item x="164" y="342"/>
  <item x="668" y="8"/>
  <item x="702" y="6"/>
  <item x="851" y="6"/>
  <item x="774" y="88"/>
  <item x="1018" y="8"/>
  <item x="761" y="476"/>
  <item x="513" y="459"/>
  <item x="1121" y="578"/>
  <item x="943" y="474"/>
  <item x="1004" y="281"/>
  <item x="851" y="626"/>
  <item x="849" y="476"/>
  <item x="595" y="360"/>
  <item x="631" y="495"/>
</location>