<location>
  <item x="300" y="28"/>
  <item x="638" y="73"/>
  <item x="1086" y="159"/>
  <item x="559" y="175"/>
  <item x="1066" y="90"/>
  <item x="920" y="289"/>
  <item x="97" y="34"/>
  <item x="756" y="0"/>
  <item x="182" y="194"/>
  <item x="1100" y="0"/>
  <item x="440" y="622"/>
  <item x="920" y="209"/>
  <item x="372" y="0"/>
  <item x="221" y="176"/>
  <item x="1025" y="151"/>
  <item x="0" y="210"/>
  <item x="481" y="169"/>
  <item x="531" y="23"/>
  <item x="604" y="165"/>
  <item x="882" y="650"/>
  <item x="32" y="159"/>
  <item x="1118" y="156"/>
  <item x="579" y="0"/>
  <item x="561" y="514"/>
  <item x="1051" y="200"/>
  <item x="334" y="230"/>
  <item x="556" y="-8"/>
  <item x="389" y="172"/>
  <item x="681" y="18"/>
  <item x="833" y="178"/>
  <item x="236" y="593"/>
  <item x="171" y="15"/>
  <item x="375" y="176"/>
  <item x="191" y="57"/>
  <item x="925" y="0"/>
  <item x="648" y="256"/>
  <item x="871" y="138"/>
  <item x="130" y="641"/>
  <item x="170" y="0"/>
  <item x="1012" y="194"/>
  <item x="591" y="259"/>
  <item x="330" y="6"/>
  <item x="481" y="351"/>
  <item x="705" y="604"/>
  <item x="691" y="196"/>
  <item x="1106" y="208"/>
  <item x="815" y="0"/>
  <item x="850" y="68"/>
  <item x="766" y="0"/>
  <item x="627" y="344"/>
</location>