<location>
  <item x="1156" y="62"/>
  <item x="1188" y="403"/>
  <item x="1011" y="612"/>
  <item x="55" y="234"/>
  <item x="97" y="226"/>
  <item x="951" y="0"/>
  <item x="1189" y="251"/>
  <item x="2" y="0"/>
  <item x="701" y="158"/>
  <item x="0" y="215"/>
  <item x="992" y="0"/>
  <item x="799" y="325"/>
  <item x="1135" y="43"/>
  <item x="1178" y="217"/>
  <item x="648" y="324"/>
  <item x="1226" y="486"/>
  <item x="251" y="0"/>
  <item x="743" y="265"/>
  <item x="1187" y="20"/>
  <item x="934" y="581"/>
  <item x="754" y="132"/>
  <item x="373" y="312"/>
  <item x="353" y="0"/>
  <item x="1112" y="0"/>
  <item x="13" y="204"/>
  <item x="416" y="4"/>
  <item x="563" y="310"/>
  <item x="847" y="0"/>
  <item x="443" y="124"/>
  <item x="458" y="0"/>
  <item x="949" y="132"/>
  <item x="87" y="0"/>
  <item x="267" y="454"/>
  <item x="148" y="584"/>
  <item x="541" y="0"/>
  <item x="0" y="177"/>
  <item x="847" y="329"/>
  <item x="1213" y="134"/>
  <item x="455" y="290"/>
  <item x="660" y="633"/>
  <item x="803" y="0"/>
  <item x="316" y="300"/>
  <item x="826" y="131"/>
  <item x="641" y="100"/>
  <item x="846" y="0"/>
  <item x="188" y="0"/>
  <item x="933" y="466"/>
  <item x="75" y="572"/>
  <item x="583" y="64"/>
  <item x="868" y="664"/>
</location>