<location>
  <item x="1189" y="223"/>
  <item x="907" y="132"/>
  <item x="707" y="184"/>
  <item x="992" y="355"/>
  <item x="689" y="163"/>
  <item x="1217" y="124"/>
  <item x="644" y="146"/>
  <item x="49" y="76"/>
  <item x="742" y="448"/>
  <item x="855" y="263"/>
  <item x="614" y="162"/>
  <item x="1180" y="0"/>
  <item x="46" y="402"/>
  <item x="884" y="122"/>
  <item x="30" y="21"/>
  <item x="507" y="158"/>
  <item x="513" y="169"/>
  <item x="946" y="112"/>
  <item x="1172" y="282"/>
  <item x="1039" y="485"/>
  <item x="626" y="152"/>
  <item x="801" y="259"/>
  <item x="58" y="248"/>
  <item x="0" y="492"/>
  <item x="362" y="234"/>
  <item x="718" y="64"/>
  <item x="1181" y="41"/>
  <item x="162" y="0"/>
  <item x="0" y="110"/>
  <item x="1012" y="174"/>
  <item x="965" y="91"/>
  <item x="466" y="0"/>
  <item x="440" y="0"/>
  <item x="878" y="96"/>
  <item x="1026" y="138"/>
  <item x="842" y="65"/>
  <item x="372" y="226"/>
  <item x="321" y="211"/>
  <item x="726" y="278"/>
  <item x="885" y="40"/>
  <item x="653" y="296"/>
  <item x="1217" y="385"/>
  <item x="805" y="30"/>
  <item x="407" y="0"/>
  <item x="946" y="35"/>
  <item x="494" y="60"/>
  <item x="449" y="191"/>
  <item x="1097" y="0"/>
  <item x="295" y="51"/>
  <item x="635" y="0"/>
</location>