<location>
  <item x="385" y="142"/>
  <item x="441" y="142"/>
  <item x="806" y="516"/>
  <item x="954" y="29"/>
  <item x="713" y="152"/>
  <item x="869" y="284"/>
  <item x="682" y="113"/>
  <item x="637" y="247"/>
  <item x="774" y="9"/>
  <item x="872" y="401"/>
  <item x="558" y="601"/>
  <item x="491" y="47"/>
  <item x="774" y="95"/>
  <item x="517" y="437"/>
  <item x="211" y="601"/>
  <item x="903" y="594"/>
  <item x="687" y="418"/>
  <item x="998" y="0"/>
  <item x="1040" y="71"/>
  <item x="653" y="356"/>
  <item x="508" y="129"/>
  <item x="89" y="0"/>
  <item x="353" y="56"/>
  <item x="338" y="152"/>
  <item x="539" y="245"/>
  <item x="417" y="0"/>
  <item x="822" y="634"/>
  <item x="804" y="153"/>
  <item x="672" y="245"/>
  <item x="575" y="527"/>
  <item x="605" y="429"/>
  <item x="307" y="513"/>
  <item x="229" y="416"/>
  <item x="441" y="551"/>
  <item x="656" y="523"/>
  <item x="561" y="172"/>
  <item x="741" y="317"/>
  <item x="774" y="169"/>
  <item x="491" y="330"/>
  <item x="415" y="294"/>
  <item x="34" y="215"/>
  <item x="1007" y="297"/>
  <item x="888" y="5"/>
  <item x="729" y="647"/>
  <item x="361" y="99"/>
  <item x="8" y="49"/>
  <item x="426" y="519"/>
  <item x="704" y="566"/>
</location>