<location>
  <item x="1009" y="216"/>
  <item x="448" y="269"/>
  <item x="607" y="166"/>
  <item x="121" y="145"/>
  <item x="349" y="124"/>
  <item x="687" y="327"/>
  <item x="993" y="723"/>
  <item x="630" y="763"/>
  <item x="1128" y="241"/>
  <item x="76" y="298"/>
  <item x="730" y="207"/>
  <item x="349" y="180"/>
  <item x="576" y="124"/>
  <item x="774" y="151"/>
  <item x="24" y="202"/>
  <item x="489" y="112"/>
  <item x="872" y="319"/>
  <item x="366" y="675"/>
  <item x="774" y="340"/>
  <item x="411" y="663"/>
  <item x="839" y="705"/>
  <item x="923" y="252"/>
  <item x="658" y="668"/>
  <item x="730" y="585"/>
  <item x="543" y="482"/>
  <item x="25" y="182"/>
  <item x="34" y="552"/>
  <item x="533" y="308"/>
  <item x="1025" y="480"/>
  <item x="585" y="275"/>
  <item x="730" y="322"/>
  <item x="815" y="200"/>
  <item x="344" y="288"/>
  <item x="980" y="269"/>
  <item x="652" y="11"/>
  <item x="186" y="416"/>
  <item x="483" y="573"/>
  <item x="491" y="284"/>
  <item x="516" y="244"/>
  <item x="245" y="256"/>
  <item x="632" y="327"/>
  <item x="644" y="282"/>
  <item x="1041" y="241"/>
  <item x="896" y="573"/>
  <item x="630" y="136"/>
  <item x="1135" y="394"/>
  <item x="644" y="11"/>
  <item x="302" y="238"/>
  <item x="140" y="223"/>
  <item x="386" y="18"/>
</location>