<location>
  <item x="439" y="641"/>
  <item x="373" y="386"/>
  <item x="766" y="731"/>
  <item x="1066" y="704"/>
  <item x="101" y="701"/>
  <item x="1019" y="495"/>
  <item x="579" y="744"/>
  <item x="506" y="401"/>
  <item x="0" y="633"/>
  <item x="895" y="197"/>
  <item x="1060" y="0"/>
  <item x="839" y="0"/>
  <item x="485" y="190"/>
  <item x="0" y="544"/>
  <item x="713" y="680"/>
  <item x="1140" y="421"/>
  <item x="804" y="396"/>
  <item x="113" y="174"/>
  <item x="436" y="0"/>
  <item x="708" y="203"/>
  <item x="287" y="761"/>
  <item x="42" y="133"/>
  <item x="187" y="2"/>
  <item x="668" y="360"/>
  <item x="1005" y="211"/>
  <item x="775" y="406"/>
  <item x="0" y="0"/>
  <item x="136" y="473"/>
  <item x="0" y="396"/>
  <item x="463" y="722"/>
  <item x="1096" y="149"/>
  <item x="175" y="347"/>
  <item x="441" y="408"/>
  <item x="604" y="423"/>
  <item x="22" y="746"/>
  <item x="361" y="0"/>
  <item x="113" y="0"/>
  <item x="696" y="0"/>
  <item x="554" y="0"/>
  <item x="797" y="0"/>
  <item x="974" y="0"/>
  <item x="967" y="133"/>
  <item x="314" y="389"/>
  <item x="297" y="0"/>
  <item x="89" y="610"/>
  <item x="432" y="320"/>
  <item x="987" y="696"/>
  <item x="447" y="129"/>
  <item x="617" y="208"/>
  <item x="638" y="666"/>
</location>