<location>
  <item x="720" y="86"/>
  <item x="816" y="724"/>
  <item x="376" y="623"/>
  <item x="522" y="0"/>
  <item x="1083" y="710"/>
  <item x="1137" y="120"/>
  <item x="1121" y="141"/>
  <item x="958" y="156"/>
  <item x="1025" y="146"/>
  <item x="515" y="731"/>
  <item x="1079" y="146"/>
  <item x="370" y="155"/>
  <item x="768" y="0"/>
  <item x="39" y="670"/>
  <item x="0" y="485"/>
  <item x="721" y="87"/>
  <item x="499" y="470"/>
  <item x="1016" y="0"/>
  <item x="569" y="647"/>
  <item x="524" y="267"/>
  <item x="522" y="562"/>
  <item x="278" y="682"/>
  <item x="291" y="459"/>
  <item x="432" y="695"/>
  <item x="344" y="287"/>
  <item x="196" y="125"/>
  <item x="777" y="102"/>
  <item x="943" y="737"/>
  <item x="928" y="84"/>
  <item x="655" y="526"/>
  <item x="1067" y="0"/>
  <item x="36" y="103"/>
  <item x="201" y="351"/>
  <item x="487" y="166"/>
  <item x="356" y="379"/>
  <item x="455" y="0"/>
  <item x="781" y="397"/>
  <item x="2" y="397"/>
  <item x="655" y="430"/>
  <item x="771" y="499"/>
  <item x="135" y="268"/>
  <item x="99" y="568"/>
  <item x="483" y="633"/>
  <item x="264" y="121"/>
  <item x="635" y="208"/>
  <item x="1043" y="582"/>
  <item x="773" y="389"/>
  <item x="1033" y="385"/>
  <item x="271" y="0"/>
</location>
