<location>
  <item x="351" y="186"/>
  <item x="790" y="229"/>
  <item x="155" y="197"/>
  <item x="518" y="265"/>
  <item x="739" y="265"/>
  <item x="574" y="370"/>
  <item x="0" y="229"/>
  <item x="582" y="16"/>
  <item x="665" y="247"/>
  <item x="848" y="160"/>
  <item x="695" y="192"/>
  <item x="363" y="364"/>
  <item x="314" y="130"/>
  <item x="0" y="138"/>
  <item x="1004" y="341"/>
  <item x="926" y="446"/>
  <item x="543" y="219"/>
  <item x="394" y="338"/>
  <item x="52" y="179"/>
  <item x="379" y="344"/>
  <item x="44" y="131"/>
  <item x="338" y="251"/>
  <item x="88" y="32"/>
  <item x="740" y="159"/>
  <item x="0" y="0"/>
  <item x="979" y="2"/>
  <item x="915" y="86"/>
  <item x="740" y="373"/>
  <item x="192" y="0"/>
  <item x="450" y="186"/>
  <item x="712" y="0"/>
  <item x="834" y="0"/>
  <item x="1044" y="2"/>
  <item x="544" y="146"/>
  <item x="322" y="211"/>
  <item x="414" y="80"/>
  <item x="0" y="367"/>
  <item x="200" y="248"/>
  <item x="738" y="64"/>
  <item x="988" y="39"/>
  <item x="350" y="196"/>
  <item x="301" y="68"/>
  <item x="481" y="113"/>
  <item x="575" y="108"/>
  <item x="193" y="101"/>
  <item x="333" y="10"/>
  <item x="668" y="71"/>
  <item x="408" y="7"/>
  <item x="400" y="533"/>
  <item x="6" y="75"/>
</location>