<location>
  <item x="726" y="621"/>
  <item x="668" y="621"/>
  <item x="836" y="625"/>
  <item x="743" y="731"/>
  <item x="875" y="622"/>
  <item x="81" y="115"/>
  <item x="1030" y="77"/>
  <item x="384" y="70"/>
  <item x="217" y="216"/>
  <item x="11" y="103"/>
  <item x="543" y="652"/>
  <item x="1092" y="77"/>
  <item x="377" y="640"/>
  <item x="598" y="488"/>
  <item x="488" y="639"/>
  <item x="228" y="652"/>
  <item x="165" y="53"/>
  <item x="1060" y="61"/>
  <item x="1039" y="149"/>
  <item x="549" y="246"/>
  <item x="135" y="399"/>
  <item x="903" y="337"/>
  <item x="585" y="599"/>
  <item x="957" y="414"/>
  <item x="750" y="168"/>
  <item x="673" y="386"/>
  <item x="848" y="411"/>
  <item x="685" y="246"/>
  <item x="875" y="66"/>
  <item x="1061" y="171"/>
  <item x="928" y="266"/>
  <item x="556" y="85"/>
  <item x="398" y="668"/>
  <item x="151" y="614"/>
  <item x="26" y="320"/>
  <item x="398" y="602"/>
  <item x="986" y="392"/>
  <item x="540" y="617"/>
  <item x="273" y="276"/>
  <item x="1023" y="115"/>
  <item x="261" y="610"/>
  <item x="499" y="398"/>
  <item x="254" y="622"/>
  <item x="639" y="409"/>
</location>