<location>
  <item x="559" y="197"/>
  <item x="343" y="11"/>
  <item x="874" y="112"/>
  <item x="247" y="183"/>
  <item x="0" y="119"/>
  <item x="163" y="153"/>
  <item x="1107" y="93"/>
  <item x="359" y="188"/>
  <item x="325" y="603"/>
  <item x="367" y="603"/>
  <item x="417" y="347"/>
  <item x="740" y="581"/>
  <item x="545" y="396"/>
  <item x="417" y="298"/>
  <item x="865" y="439"/>
  <item x="371" y="418"/>
  <item x="737" y="58"/>
  <item x="593" y="676"/>
  <item x="353" y="274"/>
  <item x="270" y="269"/>
  <item x="545" y="125"/>
  <item x="254" y="153"/>
  <item x="66" y="93"/>
  <item x="321" y="324"/>
  <item x="67" y="446"/>
  <item x="819" y="81"/>
  <item x="944" y="145"/>
  <item x="747" y="109"/>
  <item x="962" y="651"/>
  <item x="738" y="206"/>
  <item x="952" y="494"/>
  <item x="1007" y="378"/>
  <item x="1107" y="54"/>
  <item x="307" y="163"/>
  <item x="1067" y="103"/>
  <item x="625" y="98"/>
  <item x="805" y="334"/>
  <item x="828" y="602"/>
  <item x="976" y="131"/>
  <item x="874" y="84"/>
  <item x="834" y="79"/>
  <item x="1133" y="220"/>
  <item x="1079" y="204"/>
  <item x="1079" y="156"/>
  <item x="417" y="75"/>
  <item x="290" y="385"/>
  <item x="737" y="344"/>
  <item x="123" y="130"/>
  <item x="169" y="335"/>
</location>