<location>
  <item x="743" y="195"/>
  <item x="980" y="95"/>
  <item x="869" y="54"/>
  <item x="522" y="161"/>
  <item x="700" y="462"/>
  <item x="1030" y="58"/>
  <item x="168" y="472"/>
  <item x="428" y="369"/>
  <item x="862" y="343"/>
  <item x="1036" y="670"/>
  <item x="845" y="257"/>
  <item x="611" y="667"/>
  <item x="540" y="699"/>
  <item x="693" y="684"/>
  <item x="673" y="365"/>
  <item x="850" y="694"/>
  <item x="471" y="362"/>
  <item x="750" y="551"/>
  <item x="168" y="675"/>
  <item x="366" y="719"/>
  <item x="469" y="631"/>
  <item x="331" y="519"/>
  <item x="8" y="388"/>
  <item x="82" y="409"/>
  <item x="586" y="628"/>
  <item x="867" y="554"/>
  <item x="874" y="443"/>
  <item x="447" y="767"/>
  <item x="997" y="525"/>
  <item x="492" y="699"/>
  <item x="0" y="0"/>
  <item x="870" y="395"/>
  <item x="1038" y="520"/>
  <item x="553" y="391"/>
  <item x="288" y="391"/>
  <item x="899" y="704"/>
  <item x="918" y="467"/>
  <item x="611" y="210"/>
  <item x="1014" y="19"/>
  <item x="1026" y="608"/>
  <item x="706" y="202"/>
  <item x="642" y="0"/>
  <item x="24" y="377"/>
  <item x="1132" y="524"/>
  <item x="612" y="540"/>
  <item x="1008" y="434"/>
  <item x="494" y="502"/>
  <item x="288" y="717"/>
  <item x="682" y="192"/>
  <item x="759" y="25"/>
</location>