<location>
  <item x="945" y="20"/>
  <item x="1035" y="-197"/>
  <item x="790" y="223"/>
  <item x="850" y="159"/>
  <item x="899" y="0"/>
  <item x="1002" y="412"/>
  <item x="868" y="130"/>
  <item x="13" y="36"/>
  <item x="790" y="25"/>
  <item x="971" y="215"/>
  <item x="755" y="0"/>
  <item x="39" y="135"/>
  <item x="1006" y="552"/>
  <item x="137" y="0"/>
  <item x="498" y="88"/>
  <item x="911" y="209"/>
  <item x="410" y="0"/>
  <item x="537" y="101"/>
  <item x="678" y="55"/>
  <item x="275" y="0"/>
  <item x="632" y="114"/>
  <item x="512" y="317"/>
  <item x="145" y="0"/>
  <item x="570" y="72"/>
  <item x="0" y="0"/>
  <item x="449" y="92"/>
  <item x="782" y="460"/>
  <item x="610" y="254"/>
  <item x="1107" y="438"/>
  <item x="619" y="0"/>
  <item x="568" y="315"/>
  <item x="124" y="119"/>
  <item x="506" y="49"/>
  <item x="640" y="464"/>
  <item x="1094" y="0"/>
  <item x="222" y="406"/>
  <item x="564" y="631"/>
  <item x="238" y="185"/>
  <item x="139" y="433"/>
  <item x="347" y="138"/>
  <item x="737" y="301"/>
  <item x="555" y="473"/>
  <item x="850" y="294"/>
  <item x="92" y="513"/>
  <item x="241" y="97"/>
  <item x="180" y="336"/>
  <item x="655" y="309"/>
  <item x="374" y="52"/>
  <item x="1143" y="88"/>
  <item x="481" y="0"/>
</location>