<location>
  <item x="1066" y="0"/>
  <item x="266" y="611"/>
  <item x="59" y="42"/>
  <item x="248" y="300"/>
  <item x="848" y="257"/>
  <item x="252" y="290"/>
  <item x="748" y="272"/>
  <item x="808" y="270"/>
  <item x="961" y="226"/>
  <item x="173" y="265"/>
  <item x="349" y="21"/>
  <item x="860" y="247"/>
  <item x="956" y="218"/>
  <item x="259" y="284"/>
  <item x="370" y="270"/>
  <item x="278" y="277"/>
  <item x="332" y="240"/>
  <item x="437" y="278"/>
  <item x="142" y="243"/>
  <item x="308" y="617"/>
  <item x="468" y="267"/>
  <item x="674" y="260"/>
  <item x="442" y="631"/>
  <item x="877" y="391"/>
  <item x="1114" y="718"/>
  <item x="608" y="272"/>
  <item x="1079" y="77"/>
  <item x="123" y="185"/>
  <item x="1057" y="185"/>
  <item x="0" y="32"/>
  <item x="796" y="723"/>
  <item x="786" y="0"/>
  <item x="742" y="527"/>
  <item x="797" y="442"/>
  <item x="580" y="261"/>
  <item x="604" y="217"/>
  <item x="872" y="0"/>
  <item x="736" y="211"/>
  <item x="298" y="170"/>
  <item x="550" y="511"/>
  <item x="514" y="0"/>
  <item x="958" y="0"/>
  <item x="307" y="496"/>
  <item x="740" y="0"/>
  <item x="391" y="201"/>
  <item x="549" y="408"/>
  <item x="740" y="422"/>
  <item x="813" y="186"/>
  <item x="536" y="148"/>
  <item x="1010" y="682"/>
</location>