<location>
  <item x="486" y="684"/>
  <item x="902" y="700"/>
  <item x="274" y="409"/>
  <item x="319" y="525"/>
  <item x="939" y="197"/>
  <item x="811" y="0"/>
  <item x="725" y="0"/>
  <item x="1030" y="194"/>
  <item x="836" y="188"/>
  <item x="375" y="412"/>
  <item x="432" y="412"/>
  <item x="469" y="416"/>
  <item x="535" y="420"/>
  <item x="845" y="361"/>
  <item x="1086" y="416"/>
  <item x="781" y="161"/>
  <item x="1052" y="99"/>
  <item x="917" y="171"/>
  <item x="469" y="501"/>
  <item x="812" y="455"/>
  <item x="597" y="332"/>
  <item x="872" y="122"/>
  <item x="131" y="397"/>
  <item x="125" y="0"/>
  <item x="1077" y="70"/>
  <item x="720" y="582"/>
  <item x="1123" y="656"/>
  <item x="51" y="632"/>
  <item x="0" y="104"/>
  <item x="275" y="164"/>
  <item x="359" y="163"/>
  <item x="579" y="521"/>
  <item x="48" y="412"/>
  <item x="938" y="91"/>
  <item x="685" y="221"/>
  <item x="477" y="213"/>
  <item x="849" y="60"/>
  <item x="527" y="290"/>
  <item x="1023" y="33"/>
  <item x="219" y="272"/>
  <item x="299" y="117"/>
  <item x="792" y="389"/>
  <item x="640" y="652"/>
  <item x="54" y="72"/>
  <item x="1126" y="463"/>
  <item x="466" y="107"/>
  <item x="283" y="446"/>
  <item x="25" y="9"/>
  <item x="881" y="0"/>
  <item x="392" y="12"/>
</location>