<location>
  <item x="73" y="258"/>
  <item x="976" y="726"/>
  <item x="115" y="260"/>
  <item x="683" y="0"/>
  <item x="467" y="92"/>
  <item x="776" y="0"/>
  <item x="842" y="23"/>
  <item x="1046" y="175"/>
  <item x="1064" y="157"/>
  <item x="1035" y="667"/>
  <item x="354" y="96"/>
  <item x="603" y="683"/>
  <item x="1048" y="145"/>
  <item x="614" y="402"/>
  <item x="1111" y="474"/>
  <item x="584" y="389"/>
  <item x="868" y="276"/>
  <item x="165" y="248"/>
  <item x="655" y="366"/>
  <item x="512" y="386"/>
  <item x="22" y="249"/>
  <item x="696" y="339"/>
  <item x="460" y="176"/>
  <item x="143" y="298"/>
  <item x="175" y="293"/>
  <item x="443" y="81"/>
  <item x="550" y="74"/>
  <item x="230" y="114"/>
  <item x="549" y="374"/>
  <item x="742" y="310"/>
  <item x="375" y="322"/>
  <item x="342" y="379"/>
  <item x="598" y="335"/>
  <item x="804" y="253"/>
  <item x="149" y="387"/>
  <item x="271" y="81"/>
  <item x="736" y="138"/>
  <item x="191" y="91"/>
  <item x="904" y="27"/>
  <item x="80" y="149"/>
  <item x="19" y="108"/>
  <item x="579" y="96"/>
  <item x="1025" y="604"/>
  <item x="624" y="79"/>
  <item x="1027" y="0"/>
  <item x="0" y="29"/>
  <item x="13" y="19"/>
  <item x="110" y="28"/>
  <item x="157" y="0"/>
  <item x="823" y="138"/>
</location>