<location>
  <item x="292" y="245"/>
  <item x="543" y="458"/>
  <item x="588" y="199"/>
  <item x="220" y="729"/>
  <item x="267" y="215"/>
  <item x="1057" y="291"/>
  <item x="249" y="156"/>
  <item x="357" y="130"/>
  <item x="156" y="200"/>
  <item x="7" y="166"/>
  <item x="90" y="157"/>
  <item x="0" y="117"/>
  <item x="615" y="308"/>
  <item x="685" y="199"/>
  <item x="222" y="169"/>
  <item x="338" y="501"/>
  <item x="543" y="171"/>
  <item x="428" y="460"/>
  <item x="458" y="451"/>
  <item x="44" y="323"/>
  <item x="502" y="131"/>
  <item x="130" y="125"/>
  <item x="685" y="171"/>
  <item x="7" y="95"/>
  <item x="221" y="102"/>
  <item x="170" y="484"/>
  <item x="1082" y="458"/>
  <item x="800" y="145"/>
  <item x="620" y="113"/>
  <item x="370" y="458"/>
  <item x="800" y="114"/>
  <item x="83" y="65"/>
  <item x="602" y="68"/>
  <item x="198" y="98"/>
  <item x="392" y="114"/>
  <item x="320" y="80"/>
  <item x="204" y="53"/>
  <item x="0" y="17"/>
  <item x="395" y="46"/>
  <item x="952" y="156"/>
  <item x="908" y="120"/>
  <item x="679" y="17"/>
  <item x="719" y="73"/>
  <item x="300" y="36"/>
  <item x="519" y="72"/>
  <item x="834" y="106"/>
  <item x="191" y="32"/>
  <item x="118" y="0"/>
  <item x="417" y="30"/>
  <item x="780" y="37"/>
</location>