<location>
  <item x="264" y="296"/>
  <item x="0" y="11"/>
  <item x="790" y="612"/>
  <item x="933" y="0"/>
  <item x="388" y="370"/>
  <item x="731" y="18"/>
  <item x="999" y="212"/>
  <item x="125" y="449"/>
  <item x="937" y="326"/>
  <item x="138" y="103"/>
  <item x="1088" y="608"/>
  <item x="814" y="251"/>
  <item x="1124" y="240"/>
  <item x="836" y="252"/>
  <item x="359" y="328"/>
  <item x="978" y="212"/>
  <item x="73" y="336"/>
  <item x="809" y="103"/>
  <item x="578" y="571"/>
  <item x="592" y="210.5"/>
  <item x="567" y="0"/>
  <item x="616" y="433"/>
  <item x="428" y="21"/>
  <item x="739" y="-11"/>
  <item x="338" y="283"/>
  <item x="958" y="87"/>
  <item x="1035" y="251"/>
  <item x="174" y="44"/>
  <item x="478" y="4"/>
  <item x="1156" y="462"/>
  <item x="0" y="400"/>
  <item x="442" y="166"/>
  <item x="447" y="0"/>
  <item x="557" y="315"/>
  <item x="1078" y="576"/>
  <item x="262" y="207"/>
  <item x="623" y="0"/>
  <item x="438" y="318"/>
  <item x="1071" y="19"/>
  <item x="987" y="0"/>
  <item x="623" y="61"/>
  <item x="317" y="18"/>
  <item x="44" y="0"/>
  <item x="151" y="0"/>
  <item x="338" y="0"/>
  <item x="234" y="5"/>
  <item x="1128" y="0"/>
  <item x="61" y="41"/>
  <item x="669" y="50"/>
  <item x="557" y="63"/>
</location>