<location>
  <item x="180" y="304"/>
  <item x="909" y="93"/>
  <item x="807" y="241"/>
  <item x="873" y="0"/>
  <item x="1074" y="379"/>
  <item x="123" y="159"/>
  <item x="572" y="33"/>
  <item x="241" y="31"/>
  <item x="657" y="47"/>
  <item x="182" y="152"/>
  <item x="257" y="56"/>
  <item x="1074" y="570"/>
  <item x="442" y="27"/>
  <item x="499" y="22"/>
  <item x="109" y="462"/>
  <item x="379" y="17"/>
  <item x="358" y="34"/>
  <item x="1110" y="16"/>
  <item x="1146" y="263"/>
  <item x="772" y="18"/>
  <item x="340" y="477"/>
  <item x="245" y="48"/>
  <item x="192" y="62"/>
  <item x="49" y="67"/>
  <item x="437" y="244"/>
  <item x="290" y="162"/>
  <item x="1022" y="0"/>
  <item x="1113" y="100"/>
  <item x="844" y="48"/>
  <item x="786" y="0"/>
  <item x="499" y="216"/>
  <item x="748" y="36"/>
  <item x="552" y="135"/>
  <item x="55" y="367"/>
  <item x="573" y="21"/>
  <item x="90" y="66"/>
  <item x="680" y="0"/>
  <item x="177" y="336"/>
  <item x="4" y="155"/>
  <item x="510" y="0"/>
  <item x="1070" y="117"/>
  <item x="992" y="74"/>
  <item x="0" y="0"/>
  <item x="140" y="0"/>
  <item x="748" y="350"/>
  <item x="115" y="300"/>
  <item x="1150" y="679"/>
  <item x="220" y="0"/>
  <item x="47" y="300"/>
  <item x="1045" y="44"/>
</location>