<location>
  <item x="867" y="0"/>
  <item x="135" y="0"/>
  <item x="624" y="126"/>
  <item x="1016" y="223"/>
  <item x="1038" y="405"/>
  <item x="464" y="446"/>
  <item x="610" y="504"/>
  <item x="1113" y="222"/>
  <item x="278" y="418"/>
  <item x="488" y="5"/>
  <item x="1016" y="-10"/>
  <item x="925" y="678"/>
  <item x="278" y="138"/>
  <item x="760" y="45"/>
  <item x="590" y="324"/>
  <item x="976" y="27"/>
  <item x="0" y="17"/>
  <item x="278" y="0"/>
  <item x="434" y="423"/>
  <item x="509" y="171"/>
  <item x="947" y="215"/>
  <item x="331" y="19"/>
  <item x="797" y="751"/>
  <item x="124" y="223"/>
  <item x="273" y="32"/>
  <item x="10" y="26"/>
  <item x="543" y="0"/>
  <item x="0" y="0"/>
  <item x="731" y="107"/>
  <item x="576" y="26"/>
  <item x="397" y="0"/>
  <item x="328" y="227"/>
  <item x="619" y="367"/>
  <item x="1044" y="36"/>
  <item x="216" y="442"/>
  <item x="164" y="151"/>
  <item x="375" y="225"/>
  <item x="704" y="-15.5"/>
  <item x="1049" y="40"/>
  <item x="818" y="238"/>
  <item x="377" y="32"/>
  <item x="1079" y="26"/>
  <item x="1079" y="672"/>
  <item x="485" y="237"/>
  <item x="175" y="33"/>
  <item x="0" y="324"/>
  <item x="351" y="120"/>
  <item x="25" y="92"/>
  <item x="0" y="473"/>
</location>