<location>
  <item x="289" y="127"/>
  <item x="672" y="34"/>
  <item x="490" y="291"/>
  <item x="376" y="28"/>
  <item x="764" y="600"/>
  <item x="376" y="224"/>
  <item x="629" y="391"/>
  <item x="633" y="606"/>
  <item x="1066" y="472"/>
  <item x="0" y="393"/>
  <item x="292" y="408"/>
  <item x="356" y="542"/>
  <item x="629" y="472"/>
  <item x="173" y="43"/>
  <item x="1025" y="0"/>
  <item x="222" y="0"/>
  <item x="1008" y="714"/>
  <item x="768" y="725"/>
  <item x="782" y="170"/>
  <item x="275" y="262"/>
  <item x="248" y="378"/>
  <item x="475" y="724"/>
  <item x="823" y="242"/>
  <item x="664" y="213"/>
  <item x="577" y="13"/>
  <item x="658" y="712"/>
  <item x="6" y="94"/>
  <item x="371" y="355"/>
  <item x="594" y="244"/>
  <item x="716" y="594"/>
  <item x="69" y="667"/>
  <item x="1111" y="342"/>
  <item x="235" y="202"/>
  <item x="296" y="478"/>
  <item x="122" y="55"/>
  <item x="125" y="299"/>
  <item x="789" y="578"/>
  <item x="731" y="747"/>
  <item x="395" y="103"/>
  <item x="531" y="688"/>
  <item x="948" y="296"/>
  <item x="1139" y="466"/>
  <item x="207" y="442"/>
  <item x="376" y="732"/>
  <item x="481" y="429"/>
  <item x="591" y="160"/>
  <item x="95" y="103"/>
  <item x="85" y="170"/>
  <item x="719" y="318"/>
</location>