<location>
  <item x="583" y="578"/>
  <item x="1092" y="691"/>
  <item x="637" y="671"/>
  <item x="104" y="642"/>
  <item x="774" y="611"/>
  <item x="661" y="612"/>
  <item x="739" y="604"/>
  <item x="512" y="253"/>
  <item x="624" y="560"/>
  <item x="798" y="590"/>
  <item x="539" y="504"/>
  <item x="686" y="528"/>
  <item x="737" y="552"/>
  <item x="907" y="214"/>
  <item x="151" y="305"/>
  <item x="863" y="552"/>
  <item x="846" y="699"/>
  <item x="1050" y="127"/>
  <item x="236" y="302"/>
  <item x="190" y="260"/>
  <item x="788" y="236"/>
  <item x="292" y="259"/>
  <item x="217" y="463"/>
  <item x="1125" y="515"/>
  <item x="626" y="229"/>
  <item x="0" y="0"/>
  <item x="684" y="208"/>
  <item x="523" y="208"/>
  <item x="868" y="211"/>
  <item x="903" y="445"/>
  <item x="241" y="687"/>
  <item x="471" y="730"/>
  <item x="1152" y="137"/>
  <item x="756" y="194"/>
  <item x="3" y="559"/>
  <item x="713" y="224"/>
  <item x="68" y="0"/>
  <item x="499" y="136"/>
  <item x="917" y="193"/>
  <item x="575" y="89"/>
  <item x="1014" y="0"/>
  <item x="760" y="129"/>
  <item x="403" y="0"/>
  <item x="0" y="118"/>
  <item x="625" y="377"/>
  <item x="868" y="148"/>
  <item x="0" y="360"/>
  <item x="462" y="0"/>
  <item x="808" y="0"/>
  <item x="205" y="94"/>
</location>