<location>
  <item x="0" y="16"/>
  <item x="597" y="118"/>
  <item x="43" y="126"/>
  <item x="1083" y="0"/>
  <item x="107" y="0"/>
  <item x="413.5" y="300.25"/>
  <item x="777" y="44"/>
  <item x="662" y="80"/>
  <item x="739" y="237"/>
  <item x="32" y="50"/>
  <item x="719" y="55"/>
  <item x="81" y="294"/>
  <item x="0" y="0"/>
  <item x="145" y="0"/>
  <item x="674" y="162"/>
  <item x="463" y="0"/>
  <item x="1101" y="404"/>
  <item x="298" y="43"/>
  <item x="149" y="292"/>
  <item x="213" y="462"/>
  <item x="162" y="0"/>
  <item x="525" y="216"/>
  <item x="398" y="-12.5"/>
  <item x="1011" y="577"/>
  <item x="721.5" y="133"/>
  <item x="335" y="-6.5"/>
  <item x="0" y="447"/>
  <item x="938" y="143"/>
  <item x="335" y="0"/>
  <item x="540" y="590"/>
  <item x="932" y="117"/>
  <item x="1076" y="174"/>
  <item x="526" y="128"/>
  <item x="349" y="90"/>
  <item x="937" y="226"/>
  <item x="464" y="175"/>
  <item x="1116" y="5"/>
  <item x="402" y="397"/>
  <item x="191" y="309"/>
  <item x="996" y="135"/>
  <item x="1097" y="539"/>
  <item x="270" y="290"/>
  <item x="262" y="0"/>
  <item x="567" y="0"/>
  <item x="1056" y="168"/>
  <item x="334" y="300.25"/>
  <item x="647" y="0"/>
  <item x="0" y="537"/>
  <item x="685" y="314"/>
  <item x="1125" y="311"/>
</location>