<location>
  <item x="1091" y="0"/>
  <item x="1116" y="0"/>
  <item x="295" y="0"/>
  <item x="222" y="387"/>
  <item x="0" y="172"/>
  <item x="211" y="0"/>
  <item x="549" y="132"/>
  <item x="528" y="639"/>
  <item x="159" y="0"/>
  <item x="105" y="0"/>
  <item x="0" y="55"/>
  <item x="34" y="76"/>
  <item x="417" y="142"/>
  <item x="546" y="409"/>
  <item x="455" y="129"/>
  <item x="702" y="8"/>
  <item x="720" y="667"/>
  <item x="62" y="0"/>
  <item x="694" y="0"/>
  <item x="1009" y="290"/>
  <item x="284" y="412"/>
  <item x="824" y="517"/>
  <item x="773" y="0"/>
  <item x="490" y="135"/>
  <item x="546" y="0"/>
  <item x="877" y="11"/>
  <item x="966" y="470"/>
  <item x="131" y="0"/>
  <item x="198" y="280"/>
  <item x="967" y="0"/>
  <item x="903" y="0"/>
  <item x="525" y="137"/>
  <item x="649" y="145"/>
  <item x="291" y="0"/>
  <item x="93" y="60"/>
  <item x="1005" y="0"/>
  <item x="1105" y="604"/>
  <item x="410" y="0"/>
  <item x="145" y="65"/>
  <item x="987" y="701"/>
  <item x="31" y="683"/>
  <item x="837" y="0"/>
  <item x="585" y="130"/>
  <item x="0" y="0"/>
  <item x="631" y="0"/>
  <item x="734" y="0"/>
  <item x="180" y="683"/>
  <item x="476" y="0"/>
  <item x="1041" y="0"/>
</location>