<location>
  <item x="445" y="92"/>
  <item x="130" y="691"/>
  <item x="950" y="19"/>
  <item x="377" y="347"/>
  <item x="394" y="354"/>
  <item x="853" y="428"/>
  <item x="286" y="89"/>
  <item x="1035" y="288"/>
  <item x="1133" y="28"/>
  <item x="255" y="60"/>
  <item x="1111" y="520"/>
  <item x="206" y="603"/>
  <item x="1097" y="0"/>
  <item x="730" y="638"/>
  <item x="502" y="639"/>
  <item x="503" y="98"/>
  <item x="376" y="44"/>
  <item x="906" y="429"/>
  <item x="470" y="394"/>
  <item x="662" y="0"/>
  <item x="929" y="636"/>
  <item x="159" y="59"/>
  <item x="1019" y="0"/>
  <item x="565" y="271"/>
  <item x="961" y="438"/>
  <item x="221" y="367"/>
  <item x="807" y="207"/>
  <item x="1136" y="0"/>
  <item x="0" y="367"/>
  <item x="96" y="690"/>
  <item x="908" y="94"/>
  <item x="0" y="0"/>
  <item x="1084" y="385"/>
  <item x="782" y="144"/>
  <item x="618" y="704"/>
  <item x="1117" y="644"/>
  <item x="610" y="0"/>
  <item x="726" y="331"/>
  <item x="68" y="218"/>
  <item x="563" y="245"/>
  <item x="307" y="0"/>
  <item x="864" y="712"/>
  <item x="705" y="297"/>
  <item x="5" y="211"/>
  <item x="684" y="0"/>
  <item x="103" y="0"/>
  <item x="638" y="159"/>
  <item x="561" y="73"/>
  <item x="0" y="134"/>
  <item x="453" y="0"/>
</location>