<location>
  <item x="974" y="17"/>
  <item x="899" y="363"/>
  <item x="231" y="42"/>
  <item x="0" y="88"/>
  <item x="296" y="315"/>
  <item x="808" y="28"/>
  <item x="537" y="472"/>
  <item x="356" y="42"/>
  <item x="710" y="410"/>
  <item x="514" y="110"/>
  <item x="1016" y="402"/>
  <item x="195" y="28"/>
  <item x="498" y="64"/>
  <item x="498" y="378"/>
  <item x="850" y="53"/>
  <item x="903" y="29"/>
  <item x="932" y="57"/>
  <item x="761" y="57"/>
  <item x="851" y="657"/>
  <item x="0" y="7"/>
  <item x="539" y="56"/>
  <item x="926" y="143"/>
  <item x="1048" y="206"/>
  <item x="29" y="32"/>
  <item x="569" y="44"/>
  <item x="1125" y="0"/>
  <item x="84" y="20"/>
  <item x="671" y="466"/>
  <item x="1089" y="0"/>
  <item x="779" y="482"/>
  <item x="690" y="42"/>
  <item x="439" y="44"/>
  <item x="240" y="277"/>
  <item x="533" y="150"/>
  <item x="879" y="512"/>
  <item x="1005" y="24"/>
  <item x="325" y="419"/>
  <item x="244" y="19"/>
  <item x="240" y="7"/>
  <item x="147" y="0"/>
  <item x="74" y="567"/>
  <item x="0" y="0"/>
  <item x="629" y="37"/>
  <item x="402" y="7"/>
  <item x="644" y="114"/>
  <item x="984" y="535"/>
  <item x="961" y="399"/>
  <item x="535" y="24"/>
  <item x="347" y="0"/>
  <item x="793" y="0"/>
</location>