<location>
  <item x="648" y="241"/>
  <item x="819" y="198"/>
  <item x="953" y="101"/>
  <item x="895" y="230"/>
  <item x="783" y="201"/>
  <item x="752" y="127"/>
  <item x="663" y="124"/>
  <item x="1046" y="268"/>
  <item x="316" y="117"/>
  <item x="938" y="0"/>
  <item x="517" y="1"/>
  <item x="881" y="665"/>
  <item x="315" y="9"/>
  <item x="1123" y="241"/>
  <item x="641" y="224"/>
  <item x="861" y="145"/>
  <item x="559" y="257"/>
  <item x="1062" y="225"/>
  <item x="563" y="213"/>
  <item x="690" y="127"/>
  <item x="707" y="76"/>
  <item x="982" y="19"/>
  <item x="867" y="387"/>
  <item x="648" y="31"/>
  <item x="1086" y="493"/>
  <item x="411" y="172"/>
  <item x="861" y="515"/>
  <item x="479" y="136"/>
  <item x="529" y="68"/>
  <item x="588" y="111"/>
  <item x="816" y="13"/>
  <item x="853" y="4"/>
  <item x="996" y="121"/>
  <item x="105" y="110"/>
  <item x="37" y="111"/>
  <item x="1069" y="0"/>
  <item x="212" y="41"/>
  <item x="27" y="7"/>
  <item x="59" y="288"/>
  <item x="1080" y="669"/>
  <item x="309" y="107"/>
  <item x="527" y="551"/>
  <item x="376" y="63"/>
  <item x="418" y="156"/>
  <item x="777" y="200"/>
  <item x="163" y="0"/>
  <item x="705" y="3"/>
  <item x="477" y="34"/>
  <item x="395" y="572"/>
  <item x="939" y="224"/>
  <item x="409" y="0"/>
  <item x="1057" y="434"/>
  <item x="25" y="262"/>
  <item x="1013" y="25"/>
  <item x="665" y="0"/>
  <item x="839" y="0"/>
  <item x="1061" y="3"/>
</location>