<location>
  <item x="613" y="354"/>
  <item x="1037" y="207"/>
  <item x="652" y="533"/>
  <item x="302" y="158"/>
  <item x="455" y="515"/>
  <item x="446" y="345"/>
  <item x="454" y="44"/>
  <item x="535" y="110"/>
  <item x="354" y="167"/>
  <item x="646" y="66"/>
  <item x="456" y="645"/>
  <item x="787" y="476"/>
  <item x="704" y="60"/>
  <item x="186" y="146"/>
  <item x="1222" y="611"/>
  <item x="1039" y="34"/>
  <item x="797" y="53"/>
  <item x="466" y="46"/>
  <item x="643" y="283"/>
  <item x="1197" y="290"/>
  <item x="918" y="308"/>
  <item x="553" y="327"/>
  <item x="986" y="194"/>
  <item x="613" y="41"/>
  <item x="1017" y="383"/>
  <item x="348" y="0"/>
  <item x="391" y="337"/>
  <item x="857" y="182"/>
  <item x="245" y="641"/>
  <item x="670" y="36"/>
  <item x="196" y="119"/>
  <item x="438" y="317"/>
  <item x="1025" y="450"/>
  <item x="1097" y="0"/>
  <item x="867" y="166"/>
  <item x="499" y="300"/>
  <item x="889" y="143"/>
  <item x="679" y="319"/>
  <item x="883" y="110"/>
  <item x="58" y="170"/>
  <item x="912" y="84"/>
  <item x="1002" y="41"/>
  <item x="203" y="538"/>
  <item x="1163" y="0"/>
  <item x="735" y="36"/>
  <item x="521" y="34"/>
  <item x="841" y="44"/>
  <item x="51" y="0"/>
  <item x="277" y="115"/>
  <item x="862" y="698"/>
</location>