<location>
  <item x="598" y="84"/>
  <item x="563" y="324"/>
  <item x="43" y="297"/>
  <item x="802" y="319"/>
  <item x="508" y="587"/>
  <item x="445" y="270"/>
  <item x="487" y="462"/>
  <item x="723" y="356"/>
  <item x="203" y="204"/>
  <item x="769" y="488"/>
  <item x="508" y="348"/>
  <item x="319" y="429"/>
  <item x="1015" y="133"/>
  <item x="997" y="314"/>
  <item x="946" y="379"/>
  <item x="275" y="160"/>
  <item x="807" y="192"/>
  <item x="126" y="203"/>
  <item x="14" y="183"/>
  <item x="198" y="143"/>
  <item x="636" y="462"/>
  <item x="653" y="664"/>
  <item x="565" y="379"/>
  <item x="8" y="18"/>
  <item x="81" y="134"/>
  <item x="136" y="110"/>
  <item x="463" y="193"/>
  <item x="902" y="146"/>
  <item x="734" y="145"/>
  <item x="421" y="142"/>
  <item x="79" y="29"/>
  <item x="413" y="354"/>
  <item x="1005" y="433"/>
  <item x="711" y="324"/>
  <item x="272" y="84"/>
  <item x="355" y="77"/>
  <item x="203" y="18"/>
  <item x="932" y="63"/>
  <item x="760" y="56"/>
  <item x="271" y="9"/>
  <item x="456" y="37"/>
  <item x="1069" y="56"/>
  <item x="1042" y="9"/>
  <item x="652" y="13"/>
  <item x="774" y="76"/>
  <item x="886" y="6"/>
  <item x="786" y="7"/>
  <item x="1033" y="176"/>
  <item x="1126" y="428"/>
  <item x="406" y="10"/>
</location>