<location>
  <item x="1097" y="327"/>
  <item x="604" y="241"/>
  <item x="914" y="120"/>
  <item x="688" y="194"/>
  <item x="900" y="199"/>
  <item x="980" y="179"/>
  <item x="980" y="0"/>
  <item x="13" y="0"/>
  <item x="310" y="0"/>
  <item x="435" y="235"/>
  <item x="1104" y="428"/>
  <item x="93" y="108"/>
  <item x="943" y="568"/>
  <item x="785" y="169"/>
  <item x="317" y="217"/>
  <item x="385" y="625"/>
  <item x="239" y="150"/>
  <item x="549" y="37"/>
  <item x="1036" y="91"/>
  <item x="284" y="202"/>
  <item x="1095" y="115"/>
  <item x="328" y="173"/>
  <item x="238" y="468"/>
  <item x="970" y="341"/>
  <item x="689" y="0"/>
  <item x="26" y="104"/>
  <item x="691" y="181"/>
  <item x="147" y="181"/>
  <item x="253" y="675"/>
  <item x="378" y="0"/>
  <item x="995" y="336"/>
  <item x="871" y="639"/>
  <item x="847" y="621"/>
  <item x="472" y="407"/>
  <item x="28" y="271"/>
  <item x="870" y="92"/>
  <item x="781" y="206"/>
  <item x="295" y="604"/>
  <item x="654" y="10"/>
  <item x="477" y="173"/>
  <item x="1130" y="322"/>
  <item x="916" y="351"/>
  <item x="467" y="551"/>
  <item x="623" y="594"/>
  <item x="834.95" y="0"/>
  <item x="1025" y="336"/>
  <item x="455" y="694"/>
  <item x="587" y="482"/>
  <item x="585" y="258"/>
  <item x="885" y="357"/>
</location>