<location>
  <item x="889" y="127"/>
  <item x="1003" y="175"/>
  <item x="1027" y="87"/>
  <item x="214" y="157"/>
  <item x="440" y="98"/>
  <item x="615" y="127"/>
  <item x="503" y="261"/>
  <item x="0" y="0"/>
  <item x="777" y="100"/>
  <item x="1117" y="65"/>
  <item x="292" y="182"/>
  <item x="1072" y="47"/>
  <item x="934" y="94"/>
  <item x="566" y="251"/>
  <item x="663" y="262"/>
  <item x="600" y="89"/>
  <item x="514" y="100"/>
  <item x="591" y="382"/>
  <item x="107" y="63"/>
  <item x="731" y="108"/>
  <item x="371" y="246"/>
  <item x="26" y="0"/>
  <item x="935" y="326"/>
  <item x="316" y="615"/>
  <item x="974" y="71"/>
  <item x="388" y="743"/>
  <item x="1097" y="0"/>
  <item x="890" y="350"/>
  <item x="573" y="164"/>
  <item x="570" y="109"/>
  <item x="116" y="5"/>
  <item x="265" y="0"/>
  <item x="755" y="66"/>
  <item x="348" y="0"/>
  <item x="400" y="258"/>
  <item x="960" y="0"/>
  <item x="35" y="188"/>
  <item x="463" y="247"/>
  <item x="1074" y="0"/>
  <item x="541" y="14"/>
  <item x="721" y="615"/>
  <item x="861" y="578"/>
  <item x="495" y="11"/>
  <item x="689" y="53"/>
  <item x="147" y="456"/>
  <item x="394" y="629"/>
  <item x="581" y="610"/>
  <item x="889" y="0"/>
  <item x="634" y="0"/>
  <item x="424" y="0"/>
</location>