<location>
  <item x="936" y="82"/>
  <item x="204" y="117"/>
  <item x="682" y="197"/>
  <item x="473" y="1"/>
  <item x="926" y="10"/>
  <item x="413" y="648"/>
  <item x="1043" y="314"/>
  <item x="82" y="39"/>
  <item x="151" y="563"/>
  <item x="346" y="33"/>
  <item x="1047" y="133"/>
  <item x="998" y="105"/>
  <item x="281" y="606"/>
  <item x="876" y="294"/>
  <item x="1047" y="42"/>
  <item x="572" y="557"/>
  <item x="487" y="63"/>
  <item x="1032" y="19"/>
  <item x="585" y="-15"/>
  <item x="884" y="279"/>
  <item x="582" y="363"/>
  <item x="716" y="455"/>
  <item x="1094" y="347"/>
  <item x="0" y="488"/>
  <item x="1094" y="91"/>
  <item x="788" y="42"/>
  <item x="246" y="239"/>
  <item x="867" y="628"/>
  <item x="484" y="480"/>
  <item x="1100" y="-10"/>
  <item x="899" y="10"/>
  <item x="45" y="606"/>
  <item x="783" y="215"/>
  <item x="1110" y="59"/>
  <item x="1089" y="697"/>
  <item x="681" y="617"/>
  <item x="572" y="702"/>
  <item x="679" y="527"/>
  <item x="821" y="350"/>
  <item x="84" y="264"/>
  <item x="402" y="137"/>
  <item x="655" y="194"/>
  <item x="790" y="140"/>
  <item x="604" y="68"/>
  <item x="199" y="377"/>
  <item x="959" y="10"/>
  <item x="57" y="129"/>
  <item x="345" y="277"/>
  <item x="670" y="358"/>
  <item x="0" y="705"/>
</location>