<location>
  <item x="1085" y="539"/>
  <item x="164" y="569"/>
  <item x="221" y="527"/>
  <item x="183" y="274"/>
  <item x="40" y="414"/>
  <item x="67" y="567"/>
  <item x="1094" y="520"/>
  <item x="726" y="0"/>
  <item x="137" y="457"/>
  <item x="729" y="279"/>
  <item x="490" y="302"/>
  <item x="859" y="493"/>
  <item x="916" y="498"/>
  <item x="965" y="189"/>
  <item x="207" y="640"/>
  <item x="46" y="106"/>
  <item x="714" y="154"/>
  <item x="228" y="0"/>
  <item x="777" y="102"/>
  <item x="331" y="569"/>
  <item x="278" y="219"/>
  <item x="691" y="177"/>
  <item x="891" y="343"/>
  <item x="176" y="149"/>
  <item x="763" y="38"/>
  <item x="1098" y="0"/>
  <item x="995" y="366"/>
  <item x="317" y="434"/>
  <item x="807" y="567"/>
  <item x="449" y="547"/>
  <item x="930" y="122"/>
  <item x="985" y="622"/>
  <item x="949" y="299"/>
  <item x="636" y="94"/>
  <item x="414" y="219"/>
  <item x="1051" y="88"/>
  <item x="894" y="224"/>
  <item x="693" y="460"/>
  <item x="1058" y="504"/>
  <item x="308" y="155"/>
  <item x="731" y="634"/>
  <item x="976" y="147"/>
  <item x="778" y="544"/>
  <item x="1120" y="125"/>
  <item x="0" y="526"/>
  <item x="553" y="411"/>
  <item x="0" y="708"/>
  <item x="317" y="6"/>
  <item x="870" y="279"/>
  <item x="1117" y="419"/>
</location>