<location>
  <item x="824" y="553"/>
  <item x="481" y="580"/>
  <item x="423" y="257"/>
  <item x="727" y="589"/>
  <item x="0" y="0"/>
  <item x="850" y="0"/>
  <item x="889" y="236"/>
  <item x="827" y="245"/>
  <item x="761" y="229"/>
  <item x="480" y="244"/>
  <item x="1106" y="611"/>
  <item x="350" y="244"/>
  <item x="1047" y="249"/>
  <item x="499" y="838"/>
  <item x="631" y="249"/>
  <item x="57" y="0"/>
  <item x="239" y="248"/>
  <item x="588" y="235"/>
  <item x="147" y="261"/>
  <item x="73" y="249"/>
  <item x="0" y="243"/>
  <item x="60" y="217"/>
  <item x="963" y="214"/>
  <item x="395" y="215"/>
  <item x="77" y="0"/>
  <item x="117" y="0"/>
  <item x="855" y="204"/>
  <item x="1118" y="235"/>
  <item x="766" y="0"/>
  <item x="1027" y="629"/>
  <item x="735" y="244"/>
  <item x="669" y="224"/>
  <item x="531" y="422"/>
  <item x="513" y="205"/>
  <item x="410" y="514"/>
  <item x="275" y="212"/>
  <item x="190" y="235"/>
  <item x="0" y="616"/>
  <item x="1115" y="145"/>
  <item x="683" y="8"/>
  <item x="629" y="0"/>
  <item x="940" y="147"/>
  <item x="980" y="94"/>
  <item x="776" y="387"/>
  <item x="130" y="200"/>
  <item x="599" y="572"/>
  <item x="535" y="0"/>
  <item x="460" y="36"/>
  <item x="300" y="410"/>
  <item x="179" y="97"/>
</location>