<location>
  <item x="411" y="386"/>
  <item x="864" y="150"/>
  <item x="1055" y="686"/>
  <item x="140" y="547"/>
  <item x="882" y="70"/>
  <item x="907" y="84"/>
  <item x="469" y="554"/>
  <item x="573" y="492"/>
  <item x="435" y="371.5"/>
  <item x="601" y="17"/>
  <item x="812" y="666"/>
  <item x="491" y="0"/>
  <item x="162" y="378"/>
  <item x="338" y="157"/>
  <item x="359" y="594"/>
  <item x="610" y="21"/>
  <item x="545" y="13"/>
  <item x="1113" y="0"/>
  <item x="508" y="545"/>
  <item x="953" y="33"/>
  <item x="855" y="72"/>
  <item x="696" y="26"/>
  <item x="741" y="0"/>
  <item x="246" y="219"/>
  <item x="631" y="654"/>
  <item x="1146" y="118"/>
  <item x="347" y="487"/>
  <item x="997" y="128"/>
  <item x="499" y="218"/>
  <item x="798" y="5"/>
  <item x="776" y="503"/>
  <item x="185" y="0"/>
  <item x="1041" y="93"/>
  <item x="642" y="537"/>
  <item x="647" y="-0.049999999999954525"/>
  <item x="616" y="202"/>
  <item x="1144" y="-3"/>
  <item x="295" y="383"/>
  <item x="951" y="490"/>
  <item x="1027" y="0.9500000000000455"/>
  <item x="34" y="17"/>
  <item x="1129" y="286"/>
  <item x="648" y="262"/>
  <item x="84" y="0"/>
  <item x="1061" y="48"/>
  <item x="231" y="0"/>
  <item x="937" y="0"/>
  <item x="425" y="0"/>
  <item x="0" y="0"/>
  <item x="303" y="0"/>
</location>