<location>
  <item x="426" y="94"/>
  <item x="315" y="161"/>
  <item x="738" y="153"/>
  <item x="496" y="153"/>
  <item x="74" y="315"/>
  <item x="1084" y="522"/>
  <item x="585" y="191"/>
  <item x="719" y="19"/>
  <item x="451" y="232"/>
  <item x="544" y="265"/>
  <item x="524" y="238"/>
  <item x="803" y="181"/>
  <item x="74" y="18"/>
  <item x="992" y="250"/>
  <item x="128" y="116"/>
  <item x="267" y="391"/>
  <item x="459" y="191"/>
  <item x="617" y="31"/>
  <item x="677" y="86"/>
  <item x="236" y="522"/>
  <item x="861" y="181"/>
  <item x="820" y="290"/>
  <item x="607" y="0"/>
  <item x="722" y="243"/>
  <item x="630" y="270"/>
  <item x="585" y="243"/>
  <item x="311" y="19"/>
  <item x="953" y="0"/>
  <item x="628" y="308"/>
  <item x="715" y="382"/>
  <item x="299" y="395"/>
  <item x="1085" y="140"/>
  <item x="159" y="404"/>
  <item x="888" y="411"/>
  <item x="947" y="140"/>
  <item x="356" y="300"/>
  <item x="214" y="70"/>
  <item x="836" y="86"/>
  <item x="236" y="140"/>
  <item x="487" y="46"/>
  <item x="1114" y="79"/>
  <item x="499" y="669"/>
  <item x="268" y="252"/>
  <item x="647" y="340"/>
  <item x="1036" y="542"/>
  <item x="516" y="548"/>
  <item x="784" y="358"/>
  <item x="182" y="252"/>
  <item x="361" y="104"/>
  <item x="174" y="496"/>
</location>