<location>
  <item x="1120" y="494"/>
  <item x="507" y="562"/>
  <item x="835" y="356"/>
  <item x="369" y="224"/>
  <item x="146" y="108"/>
  <item x="90" y="112"/>
  <item x="1095" y="579"/>
  <item x="97" y="86"/>
  <item x="633" y="416"/>
  <item x="707" y="494"/>
  <item x="882" y="361"/>
  <item x="0" y="123"/>
  <item x="853" y="354"/>
  <item x="919" y="340"/>
  <item x="1003" y="608"/>
  <item x="37" y="92"/>
  <item x="361" y="405"/>
  <item x="617" y="558"/>
  <item x="791" y="173"/>
  <item x="841" y="126"/>
  <item x="944" y="561"/>
  <item x="600" y="432"/>
  <item x="551" y="411"/>
  <item x="362" y="711"/>
  <item x="920" y="94"/>
  <item x="500" y="416"/>
  <item x="950" y="68"/>
  <item x="152" y="341"/>
  <item x="65" y="343"/>
  <item x="343" y="220"/>
  <item x="292" y="235"/>
  <item x="498" y="232"/>
  <item x="683" y="409"/>
  <item x="651" y="228"/>
  <item x="280" y="79"/>
  <item x="315" y="545"/>
  <item x="861" y="55"/>
  <item x="21" y="598"/>
  <item x="498" y="83"/>
  <item x="551" y="90"/>
  <item x="639" y="84"/>
  <item x="773" y="123"/>
  <item x="44" y="230"/>
  <item x="408" y="74"/>
  <item x="784" y="631"/>
  <item x="134" y="226"/>
  <item x="1034" y="48"/>
  <item x="231" y="56"/>
  <item x="1120" y="0"/>
  <item x="726" y="71"/>
</location>