<location>
  <item x="473" y="228"/>
  <item x="129" y="196"/>
  <item x="579" y="681"/>
  <item x="791" y="396"/>
  <item x="163" y="170"/>
  <item x="66" y="159"/>
  <item x="896" y="180"/>
  <item x="356" y="637"/>
  <item x="446" y="587"/>
  <item x="993" y="731"/>
  <item x="1109" y="225"/>
  <item x="993" y="571"/>
  <item x="188" y="330"/>
  <item x="204" y="167"/>
  <item x="250" y="167"/>
  <item x="60" y="103"/>
  <item x="786" y="194"/>
  <item x="905" y="350"/>
  <item x="656" y="22"/>
  <item x="375" y="177"/>
  <item x="423" y="0"/>
  <item x="674" y="0"/>
  <item x="267" y="122"/>
  <item x="354" y="111"/>
  <item x="779" y="731"/>
  <item x="43" y="713"/>
  <item x="453" y="138"/>
  <item x="285" y="89"/>
  <item x="854" y="354"/>
  <item x="482" y="735"/>
  <item x="532" y="649"/>
  <item x="0" y="310"/>
  <item x="835" y="182"/>
  <item x="1118" y="467"/>
  <item x="688" y="160"/>
  <item x="432" y="663"/>
  <item x="269" y="393"/>
  <item x="906" y="717"/>
  <item x="71" y="559"/>
  <item x="505" y="188"/>
  <item x="838" y="54"/>
  <item x="804" y="338"/>
  <item x="323" y="12"/>
  <item x="603" y="587"/>
  <item x="1107" y="622"/>
  <item x="562" y="147"/>
  <item x="188" y="120"/>
  <item x="161" y="24"/>
  <item x="784" y="564"/>
  <item x="235" y="0"/>
</location>