<location>
  <item x="551" y="564"/>
  <item x="815" y="543"/>
  <item x="0" y="167"/>
  <item x="491" y="380"/>
  <item x="243" y="460"/>
  <item x="550" y="558"/>
  <item x="0" y="589"/>
  <item x="569" y="375"/>
  <item x="508" y="358"/>
  <item x="604" y="326"/>
  <item x="450" y="722"/>
  <item x="337" y="469"/>
  <item x="465" y="563"/>
  <item x="0" y="153"/>
  <item x="707" y="297"/>
  <item x="386" y="418"/>
  <item x="164" y="452"/>
  <item x="212" y="430"/>
  <item x="27" y="537"/>
  <item x="1132" y="566"/>
  <item x="93" y="198"/>
  <item x="163" y="416"/>
  <item x="301" y="406"/>
  <item x="289" y="602"/>
  <item x="374" y="366"/>
  <item x="855" y="263"/>
  <item x="799" y="219"/>
  <item x="1074" y="783"/>
  <item x="58" y="162"/>
  <item x="240" y="351"/>
  <item x="160" y="356"/>
  <item x="508" y="550"/>
  <item x="890" y="243"/>
  <item x="1084" y="0"/>
  <item x="995" y="404"/>
  <item x="1097" y="566"/>
  <item x="671" y="285"/>
  <item x="376" y="339"/>
  <item x="336" y="610"/>
  <item x="1031" y="575"/>
  <item x="490" y="332"/>
  <item x="854" y="212"/>
  <item x="553" y="26"/>
  <item x="550" y="296"/>
  <item x="1051" y="0"/>
  <item x="227" y="327"/>
  <item x="65" y="0"/>
  <item x="152" y="0"/>
  <item x="132" y="118"/>
  <item x="729" y="184"/>
</location>