<location>
  <item x="258" y="361"/>
  <item x="84" y="97"/>
  <item x="54" y="75"/>
  <item x="341" y="108"/>
  <item x="200" y="35"/>
  <item x="515" y="149"/>
  <item x="437" y="50"/>
  <item x="486" y="142"/>
  <item x="186" y="338"/>
  <item x="1039" y="195"/>
  <item x="0" y="14"/>
  <item x="180" y="31"/>
  <item x="678" y="14"/>
  <item x="451" y="405"/>
  <item x="87" y="66"/>
  <item x="528" y="59"/>
  <item x="528" y="127"/>
  <item x="135" y="145"/>
  <item x="523" y="485"/>
  <item x="413" y="406"/>
  <item x="351" y="42"/>
  <item x="1" y="337"/>
  <item x="571" y="401"/>
  <item x="131" y="27"/>
  <item x="315" y="464"/>
  <item x="148" y="601"/>
  <item x="865" y="570"/>
  <item x="526" y="406"/>
  <item x="452" y="137"/>
  <item x="101" y="338"/>
  <item x="777" y="154"/>
  <item x="892" y="157"/>
  <item x="844" y="477"/>
  <item x="988" y="0"/>
  <item x="545" y="113"/>
  <item x="632" y="96"/>
  <item x="1102" y="123"/>
  <item x="534" y="404"/>
  <item x="1123" y="171"/>
  <item x="933" y="0"/>
  <item x="970" y="681"/>
  <item x="506" y="405"/>
  <item x="739" y="430"/>
  <item x="96" y="23"/>
  <item x="1096" y="162"/>
  <item x="1070" y="117"/>
  <item x="49" y="331"/>
  <item x="303" y="58"/>
  <item x="1015" y="0"/>
  <item x="386" y="0"/>
</location>